<script>
  // SET COOKIE FUNCTION
  function setCookie(name, value, days)
  {
    var expires = "";
    if (days)
    {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "") + expires + "; path=/";
  }

  // GET COOKIE FUNCTION
  function getCookie(name)
  {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++)
    {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }
  // METHOD FOR EMARSYS
  var currentCountryName = '';

  // SET COUNTRY NAME
  if (getCookie('signup_popup') != null && getCookie('signup_popup') != '')
  {
    hideByClassName('popup-email--show');
    //jQuery(".popup-email--show").hide();
  } else {
    // q = document.querySelector('.desktop-d');
    // q.className = q.className.replace("desktop-d","");
  }

  q = document.querySelector('.desktop-d');
  q.className = q.className.replace("desktop-d","");

  if (getCookie('country_name') == null || getCookie('country_name') == '')
  {
    var xmlHttp = new XMLHttpRequest();

    xmlHttp.open("GET", 'https://api.ipdata.co?api-key=9736425c9fc2829f770342cd0256650fe7f901efcc8590becc25c8a3', false);
    xmlHttp.send(null);
    var response = null;
    try
    {
      response = JSON.parse(xmlHttp.responseText);

    }
    catch (e)
    {
      if (e instanceof SyntaxError)
      {
        printError(e, true);
      }
      else
      {
        printError(e, false);
      }
    }

    if (typeof response == "object")
    {
      setCookie('country_name', response.country_name, 10);
      currentCountryName = response.country_name;
    }

  }
  else
  {
    currentCountryName = getCookie('country_name');
  }

  country_name = document.getElementById("footer-country-name");
  popup_country_name = document.getElementById("popup-country-name");

  if (country_name != null)
  {
    country_name.value = currentCountryName;
  }

  if (popup_country_name != null)
  {
    popup_country_name.value = currentCountryName;
  }


  var validate_email_and_send = function (event)
  {
    var email = document.getElementById("emarsys-singup-popup").value
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if (filter.test(email))
    {
      push_cust_email_to_emarsys(email, 'signup-popup', 'https://shipping-api-production.herokuapp.com/emarsys_api/signup_popup', event)
    }
    else
    {
      alert("Please Enter valid email");
    }
  }

  var validate_email_and_push_email = function (event)
  {
    var email = document.getElementById("emarsys-footer").value
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if (filter.test(email))
    {
      push_cust_email_to_emarsys(email, 'signup-footer', 'https://shipping-api-production.herokuapp.com/emarsys_api/signup_footer', event)
    }
    else
    {
      alert("Please Enter valid email");
    }

  }
  var push_cust_email_to_emarsys = function (email, tag, url, event)
  {
    var url = url;
    ajaxRequest = new XMLHttpRequest();
    ajaxRequest.open("POST", url, true);
    ajaxRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    ajaxRequest.send("email="+email+"&country="+currentCountryName+"&brand_name="+'bodyboss');
    if (tag === "signup-popup")
    {
      $("#popup-newsletter").removeClass("hide");
      $(".popup-email--form").hide();
      $(".popup-email--thankyou").show();
      setCookie('signup_popup', 'signup_popup', 30);
      setCTA();
     
    }
    else
    {
      $("#success-message").remove();

      $(".signup-footer").append("<span id='success-message' style='display: table;padding: 0px;font-size: 14px;margin-top: 10px;margin-bottom: 6px;background-color: white;color: #185015;'>Signup successful! Stay tuned for updates and tips on us.</span>");
      // flush footer email
      setTimeout(function ()
      {
         document.getElementById("emarsys-footer-form").reset();
        $("#success-message").remove();
      }, 5000);
    }
    return false;
  }


  popup_close_event = document.getElementById("popup-close");
  if (popup_close_event != null){
    popup_close_event.addEventListener("click", popupClose);
  }
  
  function popupClose()
  {
    setCookie('signup_popup', 'signup_popup', 30);
    setCTA();
    hideByClassName('popup-email--show');
    $(".popup-email--show").remove();
  }

  // action perform when user click submit signup footer form
  function signupFooterEmarsys()
  {
    validate_email_and_push_email();
    return false;
  };

  // [FIXME] initializd popup class and make method to close that popup by clicking close icon
  var popup_close = document.getElementsByClassName('js-close');
  for (var i = 0; i < popup_close.length; i++)
  {
    popup_close[i].onclick  = function ()
    {
      popupClose();
    };
  }

  // action perform on submit of signup popup
  function signupPopupEmarsys() {
    validate_email_and_send();
    return false;
  };
  
  // hide class by passing class name on this 
  function hideByClassName(classname){
    var divsToHide = document.getElementsByClassName(classname); //divsToHide is an array
    for(var i = 0; i < divsToHide.length; i++){
      divsToHide[i].style.visibility = "hidden"; // or
      divsToHide[i].style.display = "none"; // depending on what you're doing
    }
  }
  
  // make this to fix safari popup download issue - so if you change anything on this plz test in safari
  var footer = document.getElementById("emarsys-footer-form");
  footer.onsubmit = function(event){
    event.preventDefault();
  };
  
  var popup_form = document.getElementById("signup-popup-tag");

  popup_form.onsubmit = function(event){
    event.preventDefault();
  };

  function setCTA() {
    // q = document.querySelector('button.add-to-cart');
    // if (q.className.indexOf('desktop-d') == -1){
    //   q.className = q.className + " desktop-d";
    // }
  }

</script>
