<script id="CartTemplate" type="text/template">
{% raw %}
  <form onkeypress="formDisabledEnter(event);" action="/cart" method="post" novalidate class="cart ajaxcart">
    <div class="drawer__inner drawer__inner--has-fixed-footer">
      {{#items}}
      <div data-line="{{@index}}" class="ajaxcart__product {{isFreeGift}} appear-animation appear-delay-{{animationRow}}">
        <div class="ajaxcart__row shipping-padding">
          <div class="grid">
            <div class="grid__item one-third">
              <a href="{{url}}" class="ajaxcart__product-image"><img src="{{img}}" alt="{{name}}"></a>
            </div>
            <div class="grid__item two-thirds">
              <div class="ajaxcart__product-name--wrapper">
                <a href="{{url}}" class="ajaxcart__product-name">{{{name}}}</a>
                {{#if variation}}
                  <span class="ajaxcart__product-meta">- {{variation}}</span>
                {{/if}}
                {{#properties}}
                  {{#each this}}
                    {{#if this}}
                      <span class="ajaxcart__product-meta">{{@key}}: {{this}}</span>
                    {{/if}}
                  {{/each}}
                {{/properties}}
              </div>

              <div class="grid grid--full display-table resetcart-qty-price">
                <div class="grid__item display-table-cell one-half">
                  <div class="ajaxcart__quantity js-qty">
                    <label for="updates_{{key}}" class="visually-hidden">{% endraw %}{{ 'products.product.quantity' | t }}{% raw %}</label>
                    <input type="number" id="updates_{{key}}" name="updates[]" value="{{itemQty}}" min="0" class="js-qty__fallback" data-id="{{key}}">
                  </div>
                </div>
                <div class="grid__item display-table-cell one-half text-right">
                  {{#if discountsApplied}}
                    <small class="ajaxcart__price--strikethrough money">{{{price}}}</small>
                    <span class="ajaxcart__price money">
                      {{{discountedPrice}}}
                    </span>
                  {{else}}
                    <span class="ajaxcart__price money">
                      {{{price}}}
                    </span>
                  {{/if}}
                </div>
              </div>
              {{#if discountsApplied}}
                <div class="grid grid--full display-table">
                  <div class="grid__item text-right">
                    {{#each discounts}}
                      <small style="display: none;" class="ajaxcart__discount">{{this.title}}</small>
                    {{/each}}
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      {{/items}}

      {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
        <div class="appear-animation appear-delay-{{lastAnimationRow}}">
          <label for="CartSpecialInstructions" class="ajaxcart__note">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
          <textarea name="note" class="input-full" id="CartSpecialInstructions">{{note}}</textarea>
        </div>
      {% endraw %}{% endif %}{% raw %}
    </div>
    <div class="drawer__footer drawer__footer--fixed appear-animation appear-delay-{{lastAnimationRow}}">
      <div class="shipping-padding grid grid--full">
        <div class="grid__item two-thirds">
          <p class="ajaxcart__subtotal">{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}</p>
        </div>
        <div class="grid__item one-third text-right">
          <span class="ajaxcart__price money">{{{totalPrice}}}</span>
        </div>
      </div>

      {{#if totalCartDiscount}}
        <p class="ajaxcart__savings text-center">{{{totalCartDiscount}}}</p>
      {{/if}}
      {% endraw %}
      <div class="shippingText shipping-padding">
        <p class="shipping_left">Shipping </p>
        <p class="shipping_right" style="margin-left: auto;">FREE</p>
      </div>

      {%- if {{settings.isGWPCampaignPromo1}} or {{settings.isGWPCampaignPromo2}} -%}
        {%- include 'promo-discount' -%}
      {%- endif -%}
      <hr/>
      <div class="shipping-padding total-margin grid grid--full">
        <div class="urgency-timer"></div>
        <div class="grid__item two-thirds">
          <p class="ajaxcart__subtotal ajaxcart__total bold-family">Total</p>
        </div>
        <div class="grid__item one-third text-right">
          {% raw %}
          <span class="ajaxcart__price ajax__resetprice money bold-family">{{{totalPrice}}}</span>
          {% endraw %}
        </div>
      </div>
      {% raw %}
      <p class="ajaxcart__note">
        {% endraw %}{{ 'cart.general.shipping_at_checkout' | t }}{% raw %}
        {% endraw %}{% if settings.enable_currencies %}{% raw %}
          {% endraw %}{{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}{% raw %}
        {% endraw %}{% endif %}{% raw %}
      </p>
      {% endraw %}
      <div class="js-reset__cart full-width-reset">
        {% include 'include-cta_icon', bg_color: '#f7fafb' %}
        {% if settings.cart_payments_method != blank %}
          <div class="list-payments-method">
            <img data-src="{{settings.cart_payments_method | img_url: 'medium' }}" class="lazyload img-payments"></img>
          </div>
          <style>
            .list-payments-method {
              text-align: center;
              padding: 10px;
            }
          </style>
          {% endif %}
      </div>
      {% include 'cart_review' %}
      {% if settings.cart_terms_conditions_enable %}
        <p class="ajaxcart__note ajaxcart__note--terms">
          <input type="checkbox" id="CartAgree" />
          <label for="CartAgree">
            {% if settings.cart_terms_conditions_link != blank %}
              {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_link }}
            {% else %}
              {{ 'cart.general.terms' | t }}
            {% endif %}
          </label>
        </p>
      {% endif %}{% raw %}
      {% endraw %}
        {% if additional_checkout_buttons and settings.cart_additional_buttons %}
          <div class="additional_checkout_buttons">{{ content_for_additional_checkout_buttons }}</div>
        {% endif %}
      {% raw %}
    </div>
    <input type="button" onclick="checkoutGWPItem()" value="{% endraw %}{{ 'cart.general.checkout' | t }}{% raw %}" class="btn btn--full to-movecheckout checkout_btn_reset cart__checkout{% endraw %}{% if settings.cart_terms_conditions_enable %}{% raw %} cart__checkout--ajax{% endraw %}{% endif %}{% raw %}"/>

    <button style="display: none;position:fixed !important;" type="submit" class="btn btn--full checkout_btn_reset cart__checkout{% endraw %}{% if settings.cart_terms_conditions_enable %}{% raw %} cart__checkout--ajax{% endraw %}{% endif %}{% raw %}" name="checkout">
      {% endraw %}{{ 'cart.general.checkout' | t }}{% raw %}
    </button>

  </form>
{% endraw %}
</script>
