<div class="cart_review" style="background: {{settings.review_bg}};">
  <div class="review_img_container">
    <img src="{{settings.review_img | img_url: '1800x1800'}}" class="review_img" alt="">
  </div>
  <a class="review_handle" href="{{settings.review_url}}" target="_blank">
    <span>{{settings.review_handle}}</span>
  </a>
  <div class="review_contains">
    {{settings.review_content}}
  </div>
</div>
