{% assign upsell_product = all_products[settings.cart_product] %}
<div style="display: none;" class="js-cart__upsell">
  <div class="text-center">
    {% assign emptycart = 'empty_cart.png' | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <img style="display: inline; width: 100px;" class="lazyload empty_cart"data-src="{{ emptycart }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto">
    <h2 class="upsell-h2">YOUR CART IS EMPTY</h2>
    <p class="upsell-p">
      Add <strong>{{upsell_product.title}}</strong> - {{settings.upsell_text}} To Continue With Checkout
    </p>
  </div>
  <div class="">
    <div class="page-width">
  	  <img class="lazyload" src="{{ upsell_product.featured_image | product_img_url: 'x800', scale: 2}}">
    </div>


    <div class="padding-classes page-width">
      <h3 class="cart-product-title">{{upsell_product.title}}</h3>
      <span class="span-upsell-text">{{settings.upsell_text}}</span>
      <br>
      <span class="product__price-savings upsell-price">{{upsell_product.price | money }}</span>
    </div>

    <button onclick="addItemAPI({{upsell_product.variants.first.id}})" class="btn btn-upsell btn--full" type="button" name="button">BUY NOW FOR {{upsell_product.price | money }}</button>
  </div>
</div>
