
  {% for i in (1..10) %}
    {% capture product_settings %}collection_product_{{ i }}{% endcapture %}
    {% capture product_text %}collection_text_{{ i }}{% endcapture %}
    {% assign _product = all_products[settings[product_settings]] %}
    {%- if _product.id == product_id -%}
      <div class="grid-product__title grid-collection_product__title--body t-left pad-12 pad-top-20 min-height-grid">{{settings[product_text]}}</div>
    {%- endif -%}


  {% endfor %}
