{% comment %}
  Dev opportunity to reduce amount of duplicate code. Likely with:
    - each collapsible block should be sent to a snippet with options
    - remove the category from the 'current_tags' area
{% endcomment %}

{% if current_tags %}
  <ul class="no-bullets tag-list">
    {% for tag in current_tags %}
      {%- assign tag_text = tag -%}
      {%- assign tag_name = tag | strip -%}
      {% if tag_name contains '_' %}
        {%- assign cat = tag | split: '_' | first -%}
        {%- assign tag_text = tag | remove_first: cat | remove_first: '_' -%}
      {% endif %}

      <li class="tag tag--remove">
        {{ tag_text | link_to_remove_tag: tag_name | replace: 'title=', 'class="btn btn--small js-no-transition" title=' }}
        {% include 'icon-close' %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% for block in section.blocks %}

  {%- assign collapsed_state = block.settings.collapsed -%}

  <div class="collection-sidebar__group--{{ block.id }}" {{ block.shopify_attributes }}>
    {% if block.type == 'tags_group' or 'tags_all' %}
      {%- assign tags_to_display = false -%}
      {% case block.type %}
        {% when 'tags_group' %}
          {%- assign split_tag_list = block.settings.tag_list | newline_to_br | split:'<br />' -%}
          {%- assign tags_to_display = split_tag_list -%}
        {% when 'tags_all' %}
          {%- assign tags_to_display = collection.all_tags -%}
      {% endcase %}

      {% comment %}
        Check if we have underscore-defined tag groups
      {% endcomment %}
      {%- assign underscore_groups = false -%}
      {% if block.type == 'tags_all' %}
        {%- assign categories = '' -%}
        {% for tag in tags_to_display %}
          {% if tag contains '_' %}
            {%- assign underscore_groups = true -%}
            {% capture categories %}{% unless categories == blank %}{{ categories }}|{% endunless %}{{ tag | split: '_' | first }}{% endcapture %}
          {% endif %}
        {% endfor %}
        {%- assign cat_array = categories | split: '|' | uniq -%}
      {% endif %}

      {% comment %}
        Output groups of collapsible tag groups
      {% endcomment %}
      {% if underscore_groups %}
        {% for cat_item in cat_array %}
          {%- assign cat_handle = cat_item | handleize -%}
          <div class="collection-sidebar__group collection-sidebar__group--{{ cat_handle }}">
            {% include 'collection-sidebar-filter-trigger', title: cat_item, index: forloop.index, id: cat_handle %}

            <div
              id="{{ location }}-{{ forloop.index }}-{{ cat_handle }}"
              class="collapsible-content collapsible-content--sidebar{% unless collapsed_state %} is-open{% endunless %}"
              {% unless collapsed_state %}style="height: auto;"{% endunless %}>
              <div class="collapsible-content__inner">
                {% comment %}
                  Tag and checkbox markup
                {% endcomment %}
                {%- assign tag_count = 0 -%}
                <ul class="no-bullets tag-list{% if section.settings.tags_combine %} tag-list--checkboxes{% endif %}">
                  {% for tag in tags_to_display %}
                    {%- assign cat = tag | split: '_' | first -%}
                    {% if cat != tag and cat_item == cat %}
                      {% comment %}
                        Strip out tag category prefix
                      {% endcomment %}
                      {%- assign tag_name = tag | strip -%}
                      {%- assign tag_text = tag_name | remove_first: cat_item | remove_first: '_' -%}
                      {%- assign tag_count = tag_count | plus: 1 -%}

                      {% if section.settings.tags_combine %}
                        {% if current_tags contains tag_name %}
                          <li class="tag tag--active">
                            {{ tag_text | link_to_remove_tag: tag_name | replace: 'title=', 'class="js-no-transition" title=' }}
                          </li>
                        {% else %}
                          <li class="tag">
                            {{ tag_text | link_to_add_tag: tag_name | replace: 'title=', 'class="js-no-transition" title=' }}
                          </li>
                        {% endif %}
                      {% else %}
                        <li class="tag{% if current_tags contains tag_name %} tag--active{% endif %}">
                          {{ tag_text | link_to_tag: tag | replace: 'title=', 'class="js-no-transition" title=' }}
                        </li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </ul>

                {% if tag_count == 0 %}
                  <style>
                    .collection-sidebar__group--{{ cat_handle }} { display: none; }
                  </style>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        {% comment %}
          Output a list of all
        {% endcomment %}
        {% if tags_to_display %}
          <div class="collection-sidebar__group">
            {% include 'collection-sidebar-filter-trigger', title: block.settings.title, index: forloop.index %}
            <div
              id="{{ location }}-{{ forloop.index }}"
              class="collapsible-content collapsible-content--sidebar{% unless collapsed_state %} is-open{% endunless %}"
              {% unless collapsed_state %}style="height: auto;"{% endunless %}>
              <div class="collapsible-content__inner">
                {% comment %}
                  Tag and checkbox markup
                {% endcomment %}
                {%- assign tag_count = 0 -%}
                <ul class="no-bullets tag-list{% if section.settings.tags_combine %} tag-list--checkboxes{% endif %}">
                  {% for tag in tags_to_display %}
                    {%- assign tag_name = tag | strip -%}
                    {%- assign tag_text = tag_name -%}

                    {%- assign show_tag = false -%}
                    {%- assign tags_to_loop = collection.tags -%}

                    {% if collection.handle == 'all' and current_tags == blank %}
                      {%- assign tags_to_loop = collection.all_tags -%}
                    {% endif %}

                    {% if section.settings.tags_combine == true and tags_to_loop contains tag_name %}
                      {%- assign show_tag = true -%}
                    {% elsif section.settings.tags_combine == false and collection.all_tags contains tag_name %}
                      {%- assign show_tag = true -%}
                    {% endif %}

                    {% if show_tag %}
                      {%- assign tag_count = tag_count | plus: 1 -%}
                      {% if section.settings.tags_combine %}
                        {% if current_tags contains tag_name %}
                          <li class="tag tag--active">
                            {{ tag_text | link_to_remove_tag: tag_name | replace: 'title=', 'class="js-no-transition" title=' }}
                          </li>
                        {% else %}
                          <li class="tag">
                            {{ tag_text | link_to_add_tag: tag_name | replace: 'title=', 'class="js-no-transition" title=' }}
                          </li>
                        {% endif %}
                      {% else %}
                        <li class="tag{% if current_tags contains tag_name %} tag--active{% endif %}">
                          {{ tag_text | link_to_tag: tag | replace: 'title=', 'class="js-no-transition" title=' }}
                        </li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </ul>

                {% if tag_count == 0 %}
                  <style>
                    .collection-sidebar__group--{{ block.id }} { display: none; }
                  </style>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}

    {% if block.type == 'menu' %}
      <div class="collection-sidebar__group">
        {%- assign block_title = block.settings.title -%}
        {% if block_title == blank %}
          {%- assign block_title = linklists[block.settings.menu].title -%}
        {% endif %}
        {% include 'collection-sidebar-filter-trigger', title: block_title, index: forloop.index %}
        <div
          id="{{ location }}-{{ forloop.index }}"
          class="collapsible-content collapsible-content--sidebar{% unless collapsed_state %} is-open{% endunless %}"
          {% unless collapsed_state %}style="height: auto;"{% endunless %}>
          <div class="collapsible-content__inner">
            <ul class="no-bullets tag-list">
              {% for link in linklists[block.settings.menu].links %}
                <li {% if link.current %}class="tag--active"{% endif %}>
                  <a href="{{ link.url }}" class="no-ajax">
                    {{ link.title }}
                  </a>
                  {% if link.links %}
                    <ul class="no-bullets tag-list">
                      {% for childlink in link.links %}
                        <li {% if childlink.current %}class="tag--active"{% endif %}>
                          <a href="{{ childlink.url }}" class="no-ajax">
                            {{ childlink.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

    {% if block.type == 'subcollections' %}
      <div class="collection-sidebar__group">
        {%- assign block_title = 'collections.filters.categories_title' | t -%}
        {%- assign title_printed = false -%}
        {% for link in linklists.main-menu.links %}
          {% if link.child_active and title_printed == false %}
            {%- assign block_title =  link.title -%}
            {%- assign title_printed = true -%}
          {% endif %}
        {% endfor %}
        {% include 'collection-sidebar-filter-trigger', title: block_title, index: forloop.index %}
        <div
          id="{{ location }}-{{ forloop.index }}"
          class="collapsible-content collapsible-content--sidebar{% unless collapsed_state %} is-open{% endunless %}"
          {% unless collapsed_state %}style="height: auto;"{% endunless %}>
          <div class="collapsible-content__inner">
            <ul class="no-bullets tag-list">
              {%- assign sub_collection_links = link.links -%}
              {%- assign list_printed = false -%}
              {% for link in linklists.main-menu.links %}
                {% include 'subcollection-list' %}
              {% endfor %}

              {% unless sub_collection_links.size > 0 %}
                <style>
                  .collection-sidebar__group--{{ block.id }} { display: none; }
                </style>
              {% endunless %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endfor %}
