<style>
@font-face {
    font-family: 'Sofia Pro Bold';
    src: url("{{'SofiaPro-Bold.eot' | file_url }}");
    src: url("{{'SofiaPro-Bold.eot?#iefix' | file_url }}") format('embedded-opentype'),
          url("{{'SofiaPro-Bold.woff2' | file_url }}") format('woff2'),
          url("{{'SofiaPro-Bold.woff' | file_url }}") format('woff'),
          url("{{'SofiaPro-Bold.ttf' | file_url }}") format('truetype'),
          url("{{'SofiaPro-Bold.svg#SofiaPro-Bold' | file_url}}") format('svg');
    font-display: auto;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro Regular';
    src: url("{{'SofiaPro-Regular.eot' | file_url }}");
    src: url("{{'SofiaPro-Regular.eot?#iefix' | file_url }}") format('embedded-opentype'),
          url("{{'SofiaPro-Regular.woff2' | file_url }}") format('woff2'),
          url("{{'SofiaPro-Regular.woff' | file_url }}") format('woff'),
          url("{{'SofiaPro-Regular.ttf' | file_url }}") format('truetype'),
          url("{{'SofiaPro-Regular.svg#SofiaPro-Regular' | file_url}}") format('svg');
    font-display: auto;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro SemiBold';
    font-display: auto;
    src: url("{{'SofiaPro-SemiBold.eot' | file_url }}");
    src: url("{{'SofiaPro-SemiBold.eot?#iefix' | file_url }}") format('embedded-opentype'),
          url("{{'SofiaPro-SemiBold.woff2' | file_url }}") format('woff2'),
          url("{{'SofiaPro-SemiBold.woff' | file_url }}") format('woff'),
          url("{{'SofiaPro-SemiBold.ttf' | file_url }}") format('truetype'),
          url("{{'SofiaPro-SemiBold.svg#SofiaPro-SemiBold' | file_url}}") format('svg');
    font-display: auto;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro Light';
  
    src: url("{{'SofiaProLight.eot' | file_url }}");
    src: url("{{'SofiaProLight.eot?#iefix' | file_url }}") format('embedded-opentype'),
          url("{{'SofiaProLight.woff2' | file_url }}") format('woff2'),
          url("{{'SofiaProLight.woff' | file_url }}") format('woff'),
          url("{{'SofiaProLight.ttf' | file_url }}") format('truetype'),
          url("{{'SofiaProLight.svg#SofiaProLight' | file_url}}") format('svg');
    font-display: auto;
    font-weight: 300;
    font-style: normal;
}
</style>
