{% if settings.enable_currencies %}
  <span
    class="currency-picker__wrapper {{ currency_class }}" style="display: none;">
    <label for="CurrencyPicker-{{ picker_id }}" class="visually-hidden">Pick a currency</label>
    <select class="currency-input" id="CurrencyPicker-{{ picker_id }}" name="currencies">
    {%- assign codes = 'USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,ILS,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK' | split: ',' -%}
    {%- assign supported_codes = settings.supported_currencies | split: ' ' -%}
    <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
    {% for code in supported_codes %}
      {% if code != shop.currency and codes contains code %}
      <option value="{{ code }}">{{ code }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </span>
{% endif %}


{%- comment %}
	Redirection for country
{% endcomment -%}
{% assign au_img =  'au.png' | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
{% assign ca_img = 'ca.png' | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
{% assign eu_img = 'eu.png' | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
{% assign uk_img = 'uk.png' | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
{% assign sg_img = 'sg.png' | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
{% assign us_img = 'us.png' | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
<div class="{% if picker_id == 'drawer' %}country {% endif %}currency-picker__wrapper {{ currency_class }}" >
    <div class="selectric" style="width: 89px;">
      <img class="lazyload" data-src="{{ ca_img }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" alt="USD" style="width: 16px; margin-right: 3px; display:inline-block;">
      <p style="display:inline-block; margin-bottom:0; font-size: 16px;color:#1a736a; font-weight: 700;">(CAD) <span class="country-triangle" style="color:#bbb">▾</span></p>
    </div>

  <div class="selectric-items">
    <div class="selectric-scroll">
      <ul class="country-list-input" id="Country-{{ picker_id }}">
        <li class="country-li" data-href="https://au.cocoandeve.com" data-value="aud"><img class="lazyload flagsHolder" data-src="{{ au_img }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" alt="AUD">Australia (AUD)</li>
        <li class="country-li" data-href="" data-value="cad"><img class="lazyload flagsHolder" data-src="{{ ca_img }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" alt="CAD">Canada (CAD)</li>
        <li class="country-li" data-href="https://eu.cocoandeve.com" data-value="eur"><img class="lazyload flagsHolder" data-src="{{ eu_img }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" alt="EUR">Europe (EUR)</li>
        <li class="country-li" data-href="https://uk.cocoandeve.com" data-value="gbp"><img class="lazyload flagsHolder" data-src="{{ uk_img }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" alt="GBP">United Kingdom (GBP)</li>
        <li class="country-li" data-href="https://us.cocoandeve.com" data-value="usa" selected="selected"><img class="lazyload flagsHolder" data-src="{{ us_img }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" alt="USD">USA (USD)</li>
        <li class="country-li" data-href="https://int.cocoandeve.com" data-value="usa"><img class="lazyload flagsHolder" data-src="{{ us_img }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" alt="USD">Rest of the World (USD)</li>
      </ul>
    </div>
  </div>

</div>
