{% if defer-script == 'jquery.currencies.min.js' %}
  <script src="{{ defer-script | asset_url | split: '?' | first }}" defer="defer" data-no-instant></script>
{% else %}
  <script src="{{ defer-script | asset_url }}" defer="defer" data-no-instant></script>
{% endif %}
