{%- assign animation_row = 1 -%}
{%- assign drawer_position = 'right' -%}
{% if logo_alignment == 'center' %}
  {%- assign drawer_position = 'left' -%}
{% endif %}

<div id="NavDrawer" class="drawer drawer--{{ drawer_position }}">
  <div class="drawer__fixed-header drawer__fixed-header--full">
    <div class="drawer__header drawer__header--full appear-animation appear-delay-{{ animation_row }}">
      <div class="drawer__close js-drawer__close">
        <button type="button" class="drawer__close-button js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.drawers.close_menu' | t }}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="drawer__inner">

    <ul class="mobile-nav{% if settings.type_navigation_style == 'heading' %} mobile-nav--heading-style{% endif %} js-mobile-nav" role="navigation" aria-label="Primary">
      {% for link in main_menu.links %}
        {%- assign animation_row = animation_row | plus: 1 -%}
        {%- assign child_list_handle = link.title | handleize -%}
        {%- assign has_dropdown = false -%}
        {% if link.links != blank %}
          {%- assign has_dropdown = true -%}
        {% endif %}

        <li class="mobile-nav__item appear-animation appear-delay-{{ animation_row }}">
          {% if has_dropdown %}
            <div class="mobile-nav__has-sublist">
              {% if link.url == '#' %}
                <button type="button"
                  aria-controls="Linklist-{{ child_list_handle }}"
                  {% if link.active or link.child_active %}aria-open="true"{% endif %}
                  class="mobile-nav__link--button mobile-nav__link--top-level collapsible-trigger collapsible--auto-height {% if link.active or link.child_active %}is-open{% endif %}">
                  <span class="mobile-nav__faux-link" {% if link.active %}data-active="true"{% endif %}>
                    {{ link.title }}
                  </span>
                  <div class="mobile-nav__toggle">
                    <span class="faux-button">
                      {% include 'collapsible-icons' %}
                    </span>
                  </div>
                </button>
              {% else %}
                <a href="{{ link.url }}"
                  class="mobile-nav__link mobile-nav__link--top-level"
                  id="Label-{{ child_list_handle }}"
                  {% if link.active %}data-active="true"{% endif %}>
                  {{ link.title }}
                </a>
                <div class="mobile-nav__toggle">
                  <button type="button"
                    aria-controls="Linklist-{{ child_list_handle }}"
                    {% if link.active or link.child_active %}aria-open="true"{% endif %}
                    class="collapsible-trigger js-mobile-menu-collap collapsible--auto-height {% if link.active or link.child_active %}is-open{% endif %}">
                    {%- comment %}
                    	{% include 'collapsible-icons' %}
                    {% endcomment -%}
                    <span class="plus-minus">+</span>
                  </button>
                </div>
              {% endif %}
            </div>
          {% else %}
            <a href="{{ link.url }}" class="mobile-nav__link mobile-nav__link--top-level" {% if link.active %}data-active="true"{% endif %}>{{ link.title }}</a>
          {% endif %}

          {% if has_dropdown %}
            <div id="Linklist-{{ child_list_handle }}"
              class="mobile-nav__sublist collapsible-content collapsible-content--all {% if link.active or link.child_active %}is-open{% endif %}"
              aria-labelledby="Label-{{ child_list_handle }}"
              {% if link.active or link.child_active %}style="height: auto;"{% endif %}>
              <div class="collapsible-content__inner">
                <ul class="mobile-nav__sublist">
                  {% for childlink in link.links %}
                    {%- assign has_sub_dropdown = false -%}
                    {%- assign grand_child_list_handle = childlink.title | handle -%}
                    {% if childlink.links != blank %}
                      {%- assign has_sub_dropdown = true -%}
                    {% endif %}

                    <li class="mobile-nav__item js-mobile-nav__item">
                      <div class="mobile-nav__child-item">
                        {% if childlink.url == '#' and has_sub_dropdown %}
                          <button type="button"
                          aria-controls="Sublinklist-{{ child_list_handle }}-{{ grand_child_list_handle }}"
                          {% if childlink.active or childlink.child_active %}aria-open="true"{% endif %}
                          class="mobile-nav__link--button collapsible-trigger {% if childlink.active or childlink.child_active %}is-open{% endif %}">
                            <span class="mobile-nav__faux-link" {% if childlink.active %}data-active="true"{% endif %}>{{ childlink.title | escape }}</span>
                            {% include 'collapsible-icons-alt' %}
                          </button>
                        {% else %}
                          <a href="{{ childlink.url }}"
                            class="mobile-nav__link"
                            id="Sublabel-{{ grand_child_list_handle }}"
                            {% if childlink.active %}data-active="true"{% endif %}>
                            {{ childlink.title | escape }}
                          </a>
                        {% endif %}
                        {% if childlink.url != '#' and has_sub_dropdown %}
                          <button type="button"
                            aria-controls="Sublinklist-{{ child_list_handle }}-{{ grand_child_list_handle }}"
                            class="collapsible-trigger {% if childlink.active or childlink.child_active %}is-open{% endif %}">
                            {% include 'collapsible-icons-alt' %}
                          </button>
                        {% endif %}
                      </div>

                      {% if has_sub_dropdown %}
                        <div
                          id="Sublinklist-{{ child_list_handle }}-{{ grand_child_list_handle }}"
                          aria-labelledby="Sublabel-{{ grand_child_list_handle }}"
                          class="mobile-nav__sublist collapsible-content collapsible-content--all {% if childlink.active or childlink.child_active %}is-open{% endif %}"
                          {% if childlink.active or childlink.child_active %}style="height: auto;"{% endif %}>
                          <div class="collapsible-content__inner">
                            <ul class="mobile-nav__grandchildlist">
                              {% for grandchildlink in childlink.links %}
                                <li class="mobile-nav__item"">
                                  <a href="{{ grandchildlink.url }}" class="mobile-nav__link" {% if grandchildlink.active %}data-active="true"{% endif %}>
                                    {{ grandchildlink.title }}
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </li>
      {% endfor %}

      {%- assign have_secondary_list = false -%}
      {% if section.settings.toolbar_menu != blank or shop.customer_accounts_enabled %}
        {%- assign have_secondary_list = true -%}
      {% endif %}

      {% if have_secondary_list %}
        <li class="mobile-nav__item mobile-nav__item--secondary">
          <div class="grid">
            {% if section.settings.toolbar_menu != blank %}
              {% for link in toolbar_menu.links %}
                {%- assign animation_row = animation_row | plus: 1 -%}
                <div class="grid__item one-half appear-animation appear-delay-{{ animation_row }} medium-up--hide">
                  <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
                </div>
              {% endfor %}
            {% endif %}

            {% if shop.customer_accounts_enabled %}
              {%- assign animation_row = animation_row | plus: 1 -%}
              <div class="grid__item one-half appear-animation appear-delay-{{ animation_row }}">
                <a href="/account" class="mobile-nav__link">
                  {% if customer %}
                    {{ 'layout.customer.account' | t }}
                  {% else %}
                    {{ 'layout.customer.log_in' | t }}
                  {% endif %}
                </a>
              </div>
            {% endif %}
          </div>
        </li>
      {% endif %}
    </ul>

    <div class="h2 drawer__title js-currency">
      {% include 'currency-picker', picker_id: 'drawer', currency_class: 'currency-picker--drawer' %}
    </div>

    {%- assign animation_row = animation_row | plus: 1 -%}
    <ul class="mobile-nav__social appear-animation appear-delay-{{ animation_row }}">
      {% if settings.social_facebook_link != blank %}
        <li class="mobile-nav__social-item">
          <a href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
            {% include 'icon-facebook' %}
            <span class="icon__fallback-text">Facebook</span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_twitter_link != blank %}
        <li class="mobile-nav__social-item">
          <a href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
            {% include 'icon-twitter' %}
            <span class="icon__fallback-text">Twitter</span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_pinterest_link != blank %}
        <li class="mobile-nav__social-item">
          <a href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
            {% include 'icon-pinterest' %}
            <span class="icon__fallback-text">Pinterest</span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_instagram_link != blank %}
        <li class="mobile-nav__social-item">
          <a href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
            {% include 'icon-instagram' %}
            <span class="icon__fallback-text">Instagram</span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_snapchat_link != blank %}
        <li class="mobile-nav__social-item">
          <a href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
            {% include 'icon-snapchat' %}
            <span class="icon__fallback-text">Snapchap</span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_tumblr_link != blank %}
        <li class="mobile-nav__social-item">
          <a href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
            {% include 'icon-tumblr' %}
            <span class="icon__fallback-text">Tumblr</span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_linkedin_link != blank %}
        <li class="mobile-nav__social-item">
          <a href="{{ settings.social_linkedin_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'LinkedIn' }}">
            {% include 'icon-linkedin' %}
            <span class="icon__fallback-text">LinkedIn</span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_youtube_link != blank %}
        <li class="mobile-nav__social-item">
          <a href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
            {% include 'icon-youtube' %}
            <span class="icon__fallback-text">YouTube</span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_vimeo_link != blank %}
        <li class="mobile-nav__social-item">
          <a href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
            {% include 'icon-vimeo' %}
            <span class="icon__fallback-text">Vimeo</span>
          </a>
        </li>
      {% endif %}
    </ul>

  </div>
</div>
