<div class="duplicate_variant_container">
  {% for variant in product.variants %}

    <div class="var_option">
      <input type="radio" class="js-reset_radio" name="jsRadioGroup" onclick="checkRadio()" data-num="{{forloop.index}}" id="variantChoice{{forloop.index}}" name="duplicatedVariant" value="">
      <label onclick="targetLabel(this)"></label>
      <div class="price_con">
        <label class="edited_js" for="variantChoice{{forloop.index}}">{{ variant.title }}</label>
          {% capture variant_to_subtitle %}variant{{ forloop.index }}_subtitle{% endcapture %}
          {%- if variant.compare_at_price == blank -%}



            <label class="variant_subtitle" style="text-transform: none;">{{section.settings[variant_to_subtitle] }}</label>
            <span style="font-weight: bold;" class="product__price money">
              {{variant.price | money }}
            </span>
          {%- else -%}
            <label class="variant_subtitle" style="text-transform: none;">{{section.settings[variant_to_subtitle] }}</label>
              <span class="product__price money" style="text-decoration: line-through;">
                {{variant.compare_at_price | money }}
              </span>
          {%- endif -%}

          {%- if variant.compare_at_price != blank -%}
            <span style="font-weight: bold;" class="product__price money pink-highlights">
              {{ variant.price | money }}
            </span>
            {% assign last_ans = variant.compare_at_price %}
            {% assign ans = last_ans| minus: variant.price %}
            {% assign percentz = ans | times: 1 %}
            {% assign per1 = last_ans | times: 1 %}

            {% assign tod = percentz | divided_by: per1 | times: 100 %}
            <input type="hidden" value="{{percentz}}" id="a1">
            <input type="hidden" value="{{per1}}" id="a2">
            <span class="js_save_set pink-highlights" >(SAVE adas{{tod}})</span>
          {%- endif -%}
      </div>
    </div>
    {%- unless forloop.last -%}
      <hr style="margin: 0;">
    {%- endunless -%}
  {% endfor %}
</div>
