<div class="footer__newsletter js-email_container signup-footer">
  <form remote=true method="post" class="mailing-form" name="mc-embedded-subscribe-form" id="emarsys-footer-form">
    <input type="hidden" value="" name="country" id="footer-country-name">
    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="email" id="emarsys-footer" class="footer__newsletter-input js-email_reset" autocorrect="off" autocapitalize="off">
    <input type="hidden" value="cocoandeve" name="brand_name" class="">
   
    <button type="submit" class="footer__newsletter-btn js-email_btn" name="commit" onclick="signupFooterEmarsys()">
      {%- comment %}
      {% include 'icon-email' %}
      {% endcomment -%}
      <span class="footer__newsletter-btn-label">
        {{ 'general.newsletter_form.submit' | t }}
      </span>
    </button>
  </form>
</div>