<div class="footer__item-padding">
  {% if block.settings.show_footer_title %}
    <p class="h4 footer__title small--hide">{{ block.settings.title }}</p>
    <button type="button" class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide" aria-controls="Footer-{{ block.id }}">
      {{ block.settings.title }}
      {% include 'collapsible-icons' %}
    </button>
  {% endif %}
  <div
    {% if block.settings.show_footer_title %}
      id="Footer-{{ block.id }}" class="collapsible-content collapsible-content--small"
    {% endif %}>
    <div class="collapsible-content__inner">
      <div class="footer__collapsible{% unless block.settings.show_footer_title %} footer_collapsible--disabled{% endunless %}">
        {% if block.settings.text %}
          {{ block.settings.text }}
        {% endif %}

        {% include 'footer_signup_emarsys' %}


        <ul class="no-bullets js-hide footer__social">
          {% if settings.social_facebook_link != blank %}
            <li>
              <a href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                {% include 'icon-facebook' %}
                <span class="icon__fallback-text">Facebook</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_twitter_link != blank %}
            <li>
              <a href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                {% include 'icon-twitter' %}
                <span class="icon__fallback-text">Twitter</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_pinterest_link != blank %}
            <li>
              <a href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                {% include 'icon-pinterest' %}
                <span class="icon__fallback-text">Pinterest</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_instagram_link != blank %}
            <li>
              <a href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                {% include 'icon-instagram' %}
                <span class="icon__fallback-text">Instagram</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_snapchat_link != blank %}
            <li>
              <a href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                {% include 'icon-snapchat' %}
                <span class="icon__fallback-text">Snapchat</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_tumblr_link != blank %}
            <li>
              <a href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                {% include 'icon-tumblr' %}
                <span class="icon__fallback-text">Tumblr</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_linkedin_link != blank %}
            <li>
              <a href="{{ settings.social_linkedin_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'LinkedIn' }}">
                {% include 'icon-linkedin' %}
                <span class="icon__fallback-text">LinkedIn</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_youtube_link != blank %}
            <li>
              <a href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                {% include 'icon-youtube' %}
                <span class="icon__fallback-text">YouTube</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_vimeo_link != blank %}
            <li>
              <a href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                {% include 'icon-vimeo' %}
                <span class="icon__fallback-text">Vimeo</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
