<div class="js-footer_social">
  <ul class="no-bullets footer__social">
    {% if settings.social_twitter_link != blank %}
      <li>
        <a target="_blank" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
          {% include 'icon-twitter' %}
          <span class="icon__fallback-text">Twitter</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_pinterest_link != blank %}
      <li>
        <a target="_blank" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
          {% include 'icon-pinterest' %}
          <span class="icon__fallback-text">Pinterest</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_instagram_link != blank %}
      <li>
        <a target="_blank" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
          {% include 'icon-instagram' %}
          <span class="icon__fallback-text">Instagram</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_facebook_link != blank %}
      <li>
        <a target="_blank" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
          {% include 'icon-facebook' %}
          <span class="icon__fallback-text">Facebook</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_snapchat_link != blank %}
      <li>
        <a target="_blank" href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
          {% include 'icon-snapchat' %}
          <span class="icon__fallback-text">Snapchat</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_tumblr_link != blank %}
      <li>
        <a target="_blank" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
          {% include 'icon-tumblr' %}
          <span class="icon__fallback-text">Tumblr</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_linkedin_link != blank %}
      <li>
        <a target="_blank" href="{{ settings.social_linkedin_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'LinkedIn' }}">
          {% include 'icon-linkedin' %}
          <span class="icon__fallback-text">LinkedIn</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_youtube_link != blank %}
      <li>
        <a target="_blank" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
          {% include 'icon-youtube' %}
          <span class="icon__fallback-text">YouTube</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_vimeo_link != blank %}
      <li>
        <a target="_blank" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
          {% include 'icon-vimeo' %}
          <span class="icon__fallback-text">Vimeo</span>
        </a>
      </li>
    {% endif %}
  </ul>
  {% if settings.social_media_text != blank %}
    <div class="page-width three-quarter-width">
      <h5 class="footer-h5" style="text-transform: none;">{{settings.social_media_text}}</h5>
    </div>
  {% endif %}
</div>
