<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga(function(tracker) {
    var clientId = tracker.get('clientId');

    {%- if template contains 'index' -%}
    dataLayer = [
      {
        'sitetype': 'd'
      },
      {
        'user_id': "{% if customer %}{{ customer.id }}{% else %}" + clientId + "{% endif %}"
      }
    ];
    {%- endif -%}

    {%- if template contains 'collection' -%}
        {% capture idset %}
          {% for product in collection.products %}
            {{ product.id }}
            {% if forloop.last == false %}|{% endif %}
          {% endfor %}
        {% endcapture %}
        dataLayer = [
          {
            'sitetype': "d",
            'productid': "{% for product in collection.products %}{{ product.id }}{% if forloop.last == false %}|{% endif %}{% endfor %}"
          },
          {
            'user_id': "{% if customer %}{{ customer.id }}{% else %}" + clientId + "{% endif %}"
          }
        ];

    {%- endif -%}
    {%- if template contains 'product' -%}
      dataLayer = [
        {
          'sitetype': 'd',
          'productid': {{ product.id }}
        },
        {
          'user_id': "{% if customer %}{{ customer.id }}{% else %}" + clientId + "{% endif %}",
          'sku': "{{ product.selected_or_first_available_variant.sku }}"
        }
      ];
    {%- endif -%}
    {%- if page_title contains 'FAQ' -%}
      dataLayer = [
        {
          'sitetype': 'd',
        },
        {
          'user_id': "{% if customer %}{{ customer.id }}{% else %}" + clientId + "{% endif %}"
        }
      ];
    {%- endif -%}
 });
</script>
