<div class="shipping-note shipping_container">
  <img class="ship_img" src="{{settings.shipping_img | img_url: '55x55' }}" alt="">
  <img class="ship_img change" src="{{settings.shipping_img_change | img_url: '55x55' }}" alt="">
  <div class="ship_text">
    <p>
      <strong>{{settings.shipping_title}}</strong>
    </p>
    <p class="no-margin">{{settings.shipping_desc}}</p>
  </div>
</div>
