<style>
  @media screen and (max-width: 590px) {
    .background-media-text--{{ section.id }} {
      background: {{ section.settings.color_border }};
    }
  }
</style>
<div
  data-bgset="{% include 'bgset', image: section.settings.mobile_image %}"
  data-subsection
  data-section-id="{{ section.id }}"
  data-section-type="background-image"
  class="reset_mobile_bg-{{section.id}} io-background-media background-media-text background-media-text--{{ section.id }} background-media-text--{{ section.settings.height }} lazyload js-custom-div"
  {% if section.settings.parallax %}data-parallax="true"{% endif %}
  data-src='<div class="background-media-text__container">
      {% if section.settings.parallax %}
        <div class="parallax-container">
          {% if section.settings.image != blank %}
            <style>
              .background-media-text--{{ section.id }} .background-media-text__image {
                background-position: {{ section.settings.alignment }};
              }
            </style>
            <div
              class="parallax-image background-media-text__image lazyload"
              {% if section.settings.image != blank %}
                data-bgset="{% include 'bgset', image: section.settings.image %}"
                data-sizes="auto"
              {% endif %}></div>
          {% else %}
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
      {% else %}
        {% if section.settings.image != blank %}
          <style>
            .background-media-text__image--{{ section.id }} {
              object-position: {{ section.settings.alignment }};
              font-family: "object-fit: cover; object-position: {{ section.settings.alignment }};";
            }
          </style>

          {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

          <img
            class="desktop_img image-fit background-media-text__image background-media-text__image--{{ section.id }} lazyload"
            src=""
            data-src="{{ img_url }}"
            data-aspectratio="{{ section.settings.image.aspect_ratio }}"
            data-sizes="auto"
            data-parent-fit="cover"
            alt="{{ section.settings.image.alt | escape }}">
          <noscript>
            <img
              class="reset_image-fit image-fit background-media-text__image background-media-text__image--{{ section.id }} lazyloaded"
              src="{{ section.settings.image | img_url: '1800x' }}"
              alt="{{ section.settings.image.alt }}">
          </noscript>
        {% else %}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      {% endif %}
    </div>
    {% if section.settings.subtitle != blank or section.settings.title != blank or section.settings.text != blank %}
      <div class="background-media-text__inner {% if section.settings.layout == 'right' %} to_right {% else %} to_left {% endif %}">
        <div class="background-media-text__aligner background-media-text--{{ section.settings.layout }} reset-background-new--{{section.settings.layout}}">
          <h1 style="color: {{section.settings.main_title_color}}" class="h1 mainTitle">{{section.settings.main_title}}</h1>
          <div class="animation-cropper">
            <div class="animation-contents">
              <div class="background-media-text__text reset_media_font">
                {% if section.settings.subtitle %}
                  <p class="h5">{{ section.settings.subtitle }}</p>
                {% endif %}
                {% if section.settings.title != blank %}
                  <p class="h3">{{ section.settings.title | escape }}</p>
                {% endif %}
                {% if section.settings.text != blank %}
                  <div class="rte background-media-text__subtext">{{ section.settings.text }}</div>
                {% endif %}
                {% if section.settings.button_label != blank and section.settings.button_link != blank %}
                  <a href="{{ section.settings.button_link }}" class="btn">
                    {{ section.settings.button_label }}
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}'
  >
</div>

<div class="background-media-text__spacer background-media-text--{{ section.settings.height }}"></div>

<style media="screen">

.reset_mobile_bg-{{section.id}} strong, .reset_mobile_bg-{{section.id}} strong {
  color: {{section.settings.bold_color}};
  font-size: 24px;
}

.reset_mobile_bg-{{section.id}} p {
  font-size: 16px;
}


@media only screen and (min-width: 992px) {
  .reset_mobile_bg-{{section.id}} strong, .reset_mobile_bg-{{section.id}} strong {
    font-size: 36px;
  }

  .reset_mobile_bg-{{section.id}} p {
    font-size: 24px;
  }


  .reset_mobile_bg-{{section.id}} .to_left .background-media-text__text {
    width: 88%;
    float: right;
  }

}

@media only screen and (min-width: 1300px) {
  .reset_mobile_bg-{{section.id}} .to_right .background-media-text__text {
    width: 80%;
    float: left;
  }
}
@media only screen and (max-width: 1280px) {
  .reset_mobile_bg-{{section.id}} .to_right .background-media-text__text {
    width: 100%;
    float: left;
  }
}

@media only screen and (max-width: 1259px) {
  .reset_mobile_bg-{{section.id}} p {
    font-size: 20px;
  }
}

.reset_mobile_bg-{{section.id}} .background-media-text__text ,.reset_mobile_bg-{{section.id}} .background-media-text__text {
  background-color: {{section.settings.box_color}};
}

@media only screen and (max-width: 768px) {
  .reset_mobile_bg-{{section.id}} {

    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
  }
}



</style>
