<div class="cta-div grid">
  <div class="grid__item one-half">
    <img src="{{settings.cta_icon1 | img_url: 'small'}}" class="lazyload cta_icon_img" alt="">
    <p class="cta_icon_text">{{settings.cta_text1}}</p>
  </div>
  <div class="grid__item one-half">
    <img src="{{settings.cta_icon2 | img_url: 'small'}}" class="lazyload cta_icon_img" alt="">
    <p class="cta_icon_text">{{settings.cta_text2}}</p>
  </div>
</div>

{%- if bg_color -%}
<style media="screen">
  .cta-div {
    background-color: {{bg_color}}
  }
</style>
{%- endif -%}
