<div class="instant-access shipping_container">
  <img class="ship_img" src="{{settings.instant_img | img_url: '55x55' }}" alt="">
  <img class="ship_img change" src="{{settings.instant_img_change | img_url: '55x55' }}" alt="">
  <div class="ship_text">
    <p>
      <strong>{{settings.instant_title}}</strong>
    </p>
    <p class="no-margin">{{settings.instant_desc}}</p>
  </div>
</div>
