<div class="cta-div custom-padding">
  <div class="cta_icon_column">
    <img src="{{settings.cta_icon1 | img_url: 'small'}}" class="lazyload cta_icon_img" alt="">
    <p class="cta_icon_text">{{settings.cta_text1}}</p>
  </div>
  <div class="cta_icon_column">
    <img src="{{settings.cta_icon2 | img_url: 'small'}}" class="lazyload cta_icon_img" alt="">
    <p class="cta_icon_text">{{settings.cta_text2}}</p>
  </div>
  <div class="cta_icon_column">
    <img src="{{settings.cta_icon3 | img_url: 'small'}}" class="lazyload cta_icon_img" alt="">
    <p class="cta_icon_text">{{settings.cta_text3}}</p>
  </div>
</div>
<style media="screen">
  .cta-div {
    background-color: #fff !important;
  }
</style>
