<div class="money-back shipping_container">
  <img class="ship_img" src="{{settings.money_img | img_url: '55x55' }}" alt="">
  <img class="ship_img change" src="{{settings.money_img_change | img_url: '55x55' }}" alt="">
  <div class="ship_text">
    <p>
      <strong>{{settings.money_title}}</strong>
    </p>
    <p class="no-margin">{{settings.money_desc}}</p>
  </div>
</div>
