{%- if block.settings.bg_color == blank -%}
  {% assign tp_bg_color = section.settings.bg_color %}
{%- else -%}
  {% assign tp_bg_color = block.settings.bg_color %}
{%- endif -%}

<div class="trustpilot-padding" data-hmm="{{bg_color}}" style="background-color: {{tp_bg_color}}">
  <div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="5aa4551984f6210001d7c893" data-style-height="130px" data-style-width="100%" data-theme="light" data-stars="4,5"> <a href="https://uk.trustpilot.com/review/cocoandeve.com" target="_blank">Trustpilot</a> </div>
</div>
