{% assign img_url1 = settings.product_icon1  | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
{% assign img_url2 = settings.product_icon2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
{% assign img_url3 = settings.product_icon3 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
{% assign img_url4 = settings.product_icon4 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
{% assign img_url5 = settings.product_icon5 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
{% assign img_url6 = settings.product_icon6 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
{% assign img_url7 = settings.product_icon7 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
{% assign img_url8 = settings.product_icon8 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
<div class="product_icon_container">
  {%- for tag in product.tags -%}
  {% if tag contains 'icon-' %}
    {% assign icon_tag = tag | split: '-' %}
    {%- if icon_tag[2] ==  settings.product_text1 -%}
      <div class="product_icon_column">
        <img class="lazyload product_icon_img" data-src="{{ img_url1 }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" alt="icon1">
        <p>{{settings.product_text1}}</p>
      </div>
    {%- endif -%}
    {%- if icon_tag[2] ==  settings.product_text2 -%}
      <div class="product_icon_column">
        <img class="lazyload product_icon_img" data-src="{{ img_url2 }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" alt="icon2">
        <p>{{settings.product_text2}}</p>
      </div>
    {%- endif -%}
    {%- if icon_tag[2] ==  settings.product_text3 -%}
      <div class="product_icon_column">
        <img class="lazyload product_icon_img" data-src="{{ img_url3 }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" alt="icon3">
        <p>{{settings.product_text3}}</p>
      </div>
    {%- endif -%}
    {%- if icon_tag[2] ==  settings.product_text4 -%}
      <div class="product_icon_column">
        <img class="lazyload product_icon_img" data-src="{{ img_url4 }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" alt="icon4">
        <p>{{settings.product_text4}}</p>
      </div>
    {%- endif -%}
    {%- if icon_tag[2] ==  settings.product_text5 -%}
      <div class="product_icon_column">
        <img class="lazyload product_icon_img" data-src="{{ img_url5 }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" alt="icon5">
        <p>{{settings.product_text5}}</p>
      </div>
    {%- endif -%}
    {%- if icon_tag[2] ==  settings.product_text6 -%}
      <div class="product_icon_column">
        <img class="lazyload product_icon_img" data-src="{{ img_url6 }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" alt="icon6">
        <p>{{settings.product_text6}}</p>
      </div>
    {%- endif -%}
    {%- if icon_tag[2] ==  settings.product_text7 -%}
      <div class="product_icon_column">
        <img class="lazyload product_icon_img" data-src="{{ img_url7 }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" alt="icon7">
        <p>{{settings.product_text7}}</p>
      </div>
    {%- endif -%}
    {%- if icon_tag[2] ==  settings.product_text8 -%}
      <div class="product_icon_column">
        <img class="lazyload product_icon_img" data-src="{{ img_url8 }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" alt="icon8">
        <p>{{settings.product_text8}}</p>
      </div>
    {%- endif -%}
  {% endif %}
  {%- endfor -%}
</div>
