<!-- The Modal -->
<div id="YTModal" class="modal-yt">

  <!-- Modal content -->
  <div class="modal-content-yt">
    <span onclick="closeYTmodal(this)" class="close-yt">&times;</span>
  </div>

</div>
