<div class="index-section reset-index-section">
  <div style="background-color: {{block.settings.bg_color}}" class="reset-page-width">
    {% capture image_layout %}
      <div class="small--one-whole one-half">
        <div>
          {% if block.settings.image != blank %}
            {% if block.settings.button_label != blank and block.settings.button_link != blank %}<a href="{{ block.settings.button_link }}">{% endif %}
            <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
              {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="feature-row__image lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080]"
                  data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ block.settings.image.alt }}">
            </div>
            {% if block.settings.button_label != blank and block.settings.button_link != blank %}</a>{% endif %}
          {% else %}
            <div class="image-wrap">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endcapture %}

    <div class="feature-row" data-aos>



      <div class="one-whole">

        <div class="faq_div">
          <h2 class="heading faq_h2">Most Asked Questions</h2>

          <div class="faq-list">
            <div class="faq-item">
              <span class="faq-q">
                {% if block.settings.faq_title1 != blank %}
                  <div class="rte featured-row__subtext faq_p_pointer">{{ block.settings.faq_title1 }}</div>
                {% endif %}
              </span>
              <p class="faq-a">
                {% if block.settings.faq_text1 != blank %}
                  <div class="rte featured-row__subtext faq_p_pointer">{{ block.settings.faq_text1 }}</div>
                {% endif %}
              </p>
            </div>

            <div class="faq-item">
              <span class="faq-q">
                {% if block.settings.faq_title2 != blank %}
                  <div class="rte featured-row__subtext faq_p_pointer">{{ block.settings.faq_title2 }}</div>
                {% endif %}
              </span>
              <p class="faq-a">
                {% if block.settings.faq_text2 != blank %}
                  <div class="rte featured-row__subtext faq_p_pointer">{{ block.settings.faq_text1 }}</div>
                {% endif %}
              </p>
            </div>

            <div class="faq-item">
              <span class="faq-q">
                {% if block.settings.faq_title3 != blank %}
                  <div class="rte featured-row__subtext faq_p_pointer">{{ block.settings.faq_title3 }}</div>
                {% endif %}
              </span>
              <p class="faq-a">
                {% if block.settings.faq_text3 != blank %}
                  <div class="rte featured-row__subtext faq_p_pointer">{{ block.settings.faq_text3 }}</div>
                {% endif %}
              </p>
            </div>

            <div class="faq-item">
              <span class="faq-q">
                {% if block.settings.faq_title4 != blank %}
                  <div class="rte featured-row__subtext faq_p_pointer">{{ block.settings.faq_title4 }}</div>
                {% endif %}
              </span>
              <p class="faq-a">
                {% if block.settings.faq_text4 != blank %}
                  <div class="rte featured-row__subtext faq_p_pointer">{{ block.settings.faq_text4 }}</div>
                {% endif %}
              </p>
            </div>

            <div class="faq-item">
              <span class="faq-q">
                {% if block.settings.faq_title5 != blank %}
                  <div class="rte featured-row__subtext faq_p_pointer">{{ block.settings.faq_title5 }}</div>
                {% endif %}
              </span>
              <p class="faq-a">
                {% if block.settings.faq_text5 != blank %}
                  <div class="rte featured-row__subtext faq_p_pointer">{{ block.settings.faq_text5 }}</div>
                {% endif %}
              </p>
            </div>

          
          </div>

          <div class="view-all">
            <a href="/pages/faq">View All Questions</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
