<div class="index-section">
  <div class="page-width text-{{ block.settings.align_text }}">
    {% if block.settings.title != blank %}
      <div class="section-header">
        <h2>{{ block.settings.title }}</h2>
      </div>
    {% endif %}

    {%- assign text_column_count = 0 -%}
    {%- assign column_1_enabled = false -%}
    {%- assign column_2_enabled = false -%}
    {%- assign column_3_enabled = false -%}
    {% if block.settings.enable_image_1 or block.settings.title_1 != blank or block.settings.text_1 != blank %}
      {%- assign column_1_enabled = true -%}
      {%- assign text_column_count = text_column_count | plus: 1 -%}
    {% endif %}
    {% if block.settings.enable_image_2 or block.settings.title_2 != blank or block.settings.text_2 != blank %}
      {%- assign column_2_enabled = true -%}
      {%- assign text_column_count = text_column_count | plus: 1 -%}
    {% endif %}
    {% if block.settings.enable_image_3 or block.settings.title_3 != blank or block.settings.text_3 != blank %}
      {%- assign column_3_enabled = true -%}
      {%- assign text_column_count = text_column_count | plus: 1 -%}
    {% endif %}

    {% case text_column_count %}
      {% when 1 %}
        {%- assign grid_item_width = '' -%}
      {% when 2 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
      {% when 3 %}
        {%- assign grid_item_width = 'medium-up--one-third' -%}
    {% endcase %}

    <div class="grid grid--flush-bottom">
      {% if column_1_enabled %}
        <div class="contactus-grid grid__item {{ grid_item_width }}" data-aos="row-of-3">
          {% if block.settings.enable_image_1 %}
            <div class="contactus-div" style="{% if block.settings.align_text == 'center' %}margin: 0 auto;{% endif %}">
              {% if block.settings.image_1 != blank %}
                <div class="image-wrap text-spacing" style="height: 0;">
                  {%- assign img_url = block.settings.image_1 | img_url: '200x200', scale: 2 -%}
                  <img class="contactus-icon lazyload"
                      data-src="{{ img_url }}"
                      width="120"
                      height="120"
                      alt="{{ block.settings.image_1.alt }}">
                </div>
              {% else %}
                <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
              {% endif %}
            </div>
          {% endif %}
          <div class="contact-us-text">
            {% if block.settings.title_1 != blank %}
              <p class="h3">{{ block.settings.title_1 }}</p>
            {% endif %}
            {% if block.settings.text_1 != blank %}
              <div class="rte-setting text-spacing contact-us-body">{{ block.settings.text_1 }}</div>
            {% endif %}

            {%- if block.settings.button_title1 != blank -%}
              <a href="javascript:zE.activate();" class="btn contactus-button">{{block.settings.button_title1}}</a>
            {%- endif -%}
          </div>

        </div>
      {% endif %}

      {% if column_2_enabled %}
        <div class="contactus-grid grid__item {{ grid_item_width }}" data-aos="row-of-3">
          {% if block.settings.enable_image_2 %}
            <div class="contactus-div" style="{% if block.settings.align_text == 'center' %}margin: 0 auto;{% endif %}">
              {% if block.settings.image_2 != blank %}
                <div class="image-wrap text-spacing" style="height: 0;">
                  {%- assign img_url = block.settings.image_2 | img_url: '200x200', scale: 2  -%}
                  <img class="contactus-icon lazyload"
                      data-src="{{ img_url }}"
                      width="120"
                      height="120"
                      alt="{{ block.settings.image_2.alt }}">
                </div>
              {% else %}
                <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
              {% endif %}
            </div>
          {% endif %}

          <div class="contact-us-text">
            {% if block.settings.title_2 != blank %}
              <p class="h3">{{ block.settings.title_2 }}</p>
            {% endif %}
            {% if block.settings.text_2 != blank %}
              <div class="rte-setting text-spacing contact-us-body">{{ block.settings.text_2 }}</div>
            {% endif %}
          </div>

        </div>
      {% endif %}

      {% if column_3_enabled %}
        <div class="contactus-grid grid__item {{ grid_item_width }}" data-aos="row-of-3">
          {% if block.settings.enable_image_3 %}
            <div class="contactus-div" style="{% if block.settings.align_text == 'center' %}margin: 0 auto;{% endif %}">
              {% if block.settings.image_3 != blank %}
                <div class="image-wrap text-spacing" style="height: 0;">
                  {%- assign img_url = block.settings.image_3 | img_url: '200x200', scale: 2  -%}
                  <img class="contactus-icon lazyload"
                      data-src="{{ img_url }}"
                      width="120"
                      height="120"
                      alt="{{ block.settings.image_3.alt }}">
                </div>
              {% else %}
                <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
              {% endif %}
            </div>
          {% endif %}

          <div class="contact-us-text">
            {% if block.settings.title_3 != blank %}
              <p class="h3">{{ block.settings.title_3 }}</p>
            {% endif %}
            {% if block.settings.text_3 != blank %}
              <div class="rte-setting text-spacing contact-us-body">{{ block.settings.text_3 }}</div>
            {% endif %}
          </div>

        </div>
      {% endif %}
    </div>
  </div>
</div>
