<div style="background-color:{{block.settings.bg_color}}" class="review-widget" data-src='<div style="border-bottom: 0; text-align: center" class="heading"><h2 class="reset-h2 review-h2">{{block.settings.title}}</h2></div><div class="slick-carousel reset-slick"><div style="background-color: white; height:590px; border-radius:10px; margin-left: 20px;" class=""><div class="social-images">{%- assign img_url1 = "29-ba.jpg" | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="lazyload" data-src="{{ img_url1 }}" data-widths="[180, 360, 540, 720, 900, 1080]"  data-aspectratio="1.5" data-sizes="auto" alt="29-ba">
        </div>
        <a href="https://instagram.com/theprincesslifestyle" target="_blank">
          <div class="testimonial-profile">
            @theprincesslifestyle
          </div>
        </a>
        <blockquote class="testimonial-post">
          "I have high porosity hair so it’s a struggle; this masque seals in the moisture! I’ll be Coco & Eve’ing all winter long!"
        </blockquote>
      </div>
      <div style="background-color: white; height:590px; border-radius:10px; margin-left: 20px;" class="">
        <div class="social-images">
          {%- assign img_url2 = "jasmineregmi.jpg" | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="lazyload" data-src="{{ img_url2 }}" data-widths="[180, 360, 540, 720, 900, 1080]"  data-aspectratio="1.5" data-sizes="auto" alt="jasmineregmi">
        </div>
        <a href="https://instagram.com/jasmineregmi" target="_blank">
          <div class="testimonial-profile">
            @jasmineregmi
          </div>
        </a>
        <blockquote class="testimonial-post">
          "There’s no words for this hair mask - in 10 mins it turns my hair smooth silky and shiny. Also gets rid of my frizz and tangles! I literally have no more dry hair days because of this!"
        </blockquote>
      </div>
      <div style="background-color: white; height:590px; border-radius:10px; margin-left: 20px;" class="">
        <div class="social-images">
          {%- assign img_url3 = "harriet_d_.jpg" | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="lazyload" data-src="{{ img_url3 }}" data-widths="[180, 360, 540, 720, 900, 1080]"  data-aspectratio="1.5" data-sizes="auto" alt="harriet_d_">
        </div>
        <a href="https://instagram.com/harriet_d_" target="_blank">
          <div class="testimonial-profile">
            @harriet_d_
          </div>
        </a>
        <blockquote class="testimonial-post">
          "I have thick hair that’s prone to frizz up if I don’t spend HOURS with the blow-dryer, straightener, and a slew of hair product. Coco & Eve has taken half the work out of my morning routine by seriously reducing my frizz."
        </blockquote>
      </div>
      <div style="background-color: white; height:590px; border-radius:10px; margin-left: 20px;" class="">
        <div class="social-images">
          {%- assign img_url4 = "maureennaudts.jpg" | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="lazyload" data-src="{{ img_url4 }}" data-widths="[180, 360, 540, 720, 900, 1080]"  data-aspectratio="1.5" data-sizes="auto" alt="maureennaudts">
        </div>
        <a href="https://instagram.com/maureennaudts" target="_blank">
          <div class="testimonial-profile">
            @maureennaudts
          </div>
        </a>
        <blockquote class="testimonial-post">
          "My poor hair has to go through a lot for each new look. Luckily, it gets a nice reviving boost from this hair mask. BAMMM, silky smooth hair!"
        </blockquote>
      </div>
      <div style="background-color: white; height:590px; border-radius:10px; margin-left: 20px;" class="">
        <div class="social-images">
          {%- assign img_url5 = "byangmua.jpg" | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="lazyload" data-src="{{ img_url5 }}" data-widths="[180, 360, 540, 720, 900, 1080]"  data-aspectratio="1.5" data-sizes="auto" alt="byangmua">
        </div>
        <a href="https://instagram.com/byangmua" target="_blank">
          <div class="testimonial-profile">
            @byangmua
          </div>
        </a>
        <blockquote class="testimonial-post">"Because of all the bleaching I’ve done, my hair was starting to become very dry and brittle. After using this hair mask once a week my hair has literally been brought back to life."</blockquote></div>
      <div style="background-color: white; height:590px; border-radius:10px; margin-left: 20px;" class="">
        <div class="social-images">
          {%- assign img_url6 = "curlbellaa.jpg" | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="lazyload" data-src="{{ img_url6 }}" data-widths="[180, 360, 540, 720, 900, 1080]"  data-aspectratio="1.5" data-sizes="auto" alt="curlbellaa">
        </div>
        <a href="https://instagram.com/curlbellaa" target="_blank">
          <div class="testimonial-profile">
            @curlbellaa
          </div>
        </a>
        <blockquote class="testimonial-post">
          "The hair mask has a lovely but not overpowering coconut scent and detangles my hair very easily. Well, you can see the end results yourself: my hair looks shinier and is way softer then before using it. I give this hair mask a thumbs up!"
        </blockquote>
      </div>
      <div style="background-color: white; height:590px; border-radius:10px; margin-left: 20px;" class="">
        <div class="social-images">
          {%- assign img_url7 = "eviequigley.jpg" | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="lazyload" data-src="{{ img_url7 }}" data-widths="[180, 360, 540, 720, 900, 1080]"  data-aspectratio="1.5" data-sizes="auto" alt="eviequigley">
        </div>
        <a href="https://instagram.com/eviequigley" target="_blank">
          <div class="testimonial-profile">
            @eviequigley
          </div>
        </a>
        <blockquote class="testimonial-post">
          "I struggled with thin and dull hair before I found Coco & Eve. The products reparative qualities have massively increased my hairs gloss and shine, while also maintaining volume!"
        </blockquote>
      </div>
      <div style="background-color: white; height:590px; border-radius:10px; margin-left: 20px;" class="">
        <div class="social-images">
          {%- assign img_url8 = "25-ba.jpg" | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="lazyload" data-src="{{ img_url8 }}" data-widths="[180, 360, 540, 720, 900, 1080]"  data-aspectratio="1.5" data-sizes="auto" alt="25-ba">
        </div>
        <a href="https://instagram.com/glamdit" target="_blank">
          <div class="testimonial-profile">
            @glamdit
          </div>
        </a>
        <blockquote class="testimonial-post">
          "I have been colouring my hair for 7 years and styling everyday. Coco & Eve made such a big difference and added shine."
        </blockquote>
      </div>
      <div style="background-color: white; height:590px; border-radius:10px; margin-left: 20px;" class="">
        <div class="social-images">
          {%- assign img_url9 = "okevaaa.jpg" | asset_img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="lazyload" data-src="{{ img_url9 }}" data-widths="[180, 360, 540, 720, 900, 1080]"  data-aspectratio="1.5" data-sizes="auto" alt="okevaaa">
        </div>
        <a href="https://instagram.com/okevaaa" target="_blank">
          <div class="testimonial-profile">
            @okevaaa
          </div>
        </a>
        <blockquote class="testimonial-post">
          "My hair is soo tangle prone because it’s so fine and long and bleached, but I was able to run my fingers through it easily with the mask."
        </blockquote>
      </div>
  </div>

    <div class="text-center view-review ">
        <a href="{{ shop.url }}/pages/reviews">
          <button type="button" class="btn view-all-review"  name="button">View All Reviews</button>
        </a>
    </div>'>


</div>
