<div class="index-section reset_image_text_bg" style="background-color:{{block.settings.background_color}}; ">
  <div class="page-width">
    {% capture image_layout %}
      <div class="small--one-whole five-twelfths">
        <div style="margin: 0 auto; max-width: {{ block.settings.image_width }}px;">
          {% if block.settings.image != blank %}
            {% if block.settings.button_label != blank and block.settings.button_link != blank %}<a href="{{ block.settings.button_link }}">{% endif %}
            <div class="image-wrap" style="height: 0; background-color: transparent; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
              {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="feature-row__image lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080]"
                  data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ block.settings.image.alt }}">
            </div>
            {% if block.settings.button_label != blank and block.settings.button_link != blank %}</a>{% endif %}
          {% else %}
            <div class="image-wrap">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endcapture %}

    <div class="feature-row" data-aos>
      {% if block.settings.layout == 'left' %}
        {{ image_layout }}
      {% endif %}

      <div class="mobile-text-center small--one-whole seven-twelfths feature-row__text feature-row__text--{{ block.settings.layout }}">
        {% if block.settings.subtitle != blank %}
          <h1 class="h1 mainTitle">{{ block.settings.subtitle }}</h1>
        {% endif %}
        {% if block.settings.title != blank %}
          <p class="h3">{{ block.settings.title | escape }}</p>
        {% endif %}
        {% if block.settings.text != blank %}
          <div class="rte featured-row__subtext">{{ block.settings.text }}</div>
        {% endif %}
        {% if block.settings.button_label != blank %}
          <a href="{{ block.settings.button_link }}" class="btn">
            {{ block.settings.button_label }}
          </a>
        {% endif %}
      </div>

      {% if block.settings.layout == 'right' %}
        {{ image_layout }}
      {% endif %}
    </div>
  </div>
</div>
