<style>
  @media screen and (max-width: 590px) {
    .background-media-text--{{ block.id }} {
      background: {{ block.settings.color_border }};
    }
  }
</style>
<div
  data-subsection
  data-section-id="{{ block.id }}"
  data-section-type="background-image"
  class="reset_mobile_bg-{{block.id}} background-media-text background-media-text--{{ block.id }} background-media-text--{{ block.settings.height }} loaded"
  {% if block.settings.parallax %}data-parallax="true"{% endif %}>

  <div class="background-media-text__container mobile-text-center {% if block.settings.subtitle != blank %}adjusted-height-for-cta{% endif %}">
    {% if block.settings.parallax %}
      <div class="parallax-container">
        {% if block.settings.image != blank %}
          <style>
            .background-media-text--{{ section.id }} .background-media-text__image {
              background-position: {{ block.settings.alignment }};
            }
          </style>
          <div
            class="parallax-image background-media-text__image lazyload"
            {% if block.settings.image != blank %}
              data-bgset="{% include 'bgset', image: block.settings.image %}"
              data-sizes="auto"
            {% endif %}></div>
        {% else %}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
    {% else %}
      {% if block.settings.image != blank %}
        <style>
          .background-media-text__image--{{ section.id }} {
            object-position: {{ block.settings.alignment }};
            font-family: "object-fit: cover; object-position: {{ block.settings.alignment }};";
          }
        </style>

        {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        <img
          class="desktop_img image-fit background-media-text__image background-media-text__image--{{ section.id }} lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
          data-src="{{ img_url }}"
          data-aspectratio="{{ block.settings.image.aspect_ratio }}"
          data-sizes="auto"
          data-parent-fit="cover"
          alt="{{ block.settings.image.alt | escape }}">
        <noscript>
          <img
            class="reset_image-fit image-fit background-media-text__image background-media-text__image--{{ section.id }} lazyloaded"
            src="{{ block.settings.image | img_url: '1800x' }}"
            alt="{{ block.settings.image.alt }}">
        </noscript>
      {% else %}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    {% endif %}
  </div>
  {% if block.settings.subtitle != blank or block.settings.title != blank or block.settings.text != blank %}
    <div class="mt5percent mobile-text-center background-media-text__inner {% if block.settings.layout == 'right' %} to_right {% else %} to_left {% endif %}">
      <div class="background-media-text__aligner background-media-text--{{ block.settings.layout }} reset-background-new--{{block.settings.layout}}">
        <h1 style="color: {{block.settings.main_title_color}}" class="h1 mainTitle {% if block.settings.subtitle != blank %}less-padding-for-mobile{% endif %}">{{block.settings.main_title}}</h1>
        <div class="animation-cropper">
          <div class="animation-contents">
            <div class="background-media-text__text {% if block.settings.subtitle != blank %}no-more-background{% endif %}">
              {% if block.settings.subtitle %}
                <p class="h5 subtitle_restyles">{{ block.settings.subtitle }}</p>
              {% endif %}
              {% if block.settings.title != blank %}
                <p class="h3">{{ block.settings.title | escape }}</p>
              {% endif %}
              {% if block.settings.text != blank %}
                <div class="rte background-media-text__subtext bold_pointer">{{ block.settings.text }}</div>
              {% endif %}
              {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                {%- if block.settings.btn_product != blank -%}
                  <a onclick="addItemAPI({{all_products[block.settings.btn_product].variants.first.id}})" class="btn subs">
                    {{ block.settings.button_label }}
                  </a>
                {%- else -%}
                  <a href="{{ block.settings.button_link }}" class="btn subs">
                    {{ block.settings.button_label }}
                  </a>
                {%- endif -%}

              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>

<div class="background-media-text__spacer background-media-text--{{ block.settings.height }}"></div>

<style media="screen">

.reset_mobile_bg-{{block.id}} p strong, .reset_mobile_bg-{{block.id}} strong {
  color: {{block.settings.bold_color}};
  font-size: 24px;
}

.reset_mobile_bg-{{block.id}} p {
  color: {{block.settings.box_text_color}};
}

@media (max-width: 768px) {
  .reset_mobile_bg-{{block.id}} p {
    color: {{block.settings.box_text_color_mobile}};
  }

  .reset_mobile_bg-{{block.id}} p strong {
    color: {{block.settings.bold_color_mobile}};    
  }
}

.reset_mobile_bg-1551335827361 strong, .reset_mobile_bg-1551335827361 strong, .reset_mobile_bg-1551688591966 strong {
  font-size: 16px;
}

.reset_mobile_bg-1551335827361 a {
  font-size: 16px;
  padding: 15px 50px;
}

.reset_mobile_bg-{{block.id}} p {
  font-size: 16px;
}

.reset_mobile_bg-{{block.id}} .background-media-text__subtext p {
  color: {{block.settings.box_text_color}};
  margin-bottom: {{block.settings.text_margin_bottom}};
}

@media (max-width: 767px) {
  .reset_mobile_bg-{{block.id}} .background-media-text__subtext p {
    color: {{block.settings.box_text_color_mobile}};
  }
}

@media only screen and (min-width: 992px) {
  .reset_mobile_bg-{{block.id}} strong, .reset_mobile_bg-{{block.id}} strong {
    font-size: 20px;
  }

  /* .reset_mobile_bg-1551335827361 strong, .reset_mobile_bg-1551335827361 strong, .reset_mobile_bg-1551688591966 strong {
    font-size: 20px;
  } */

  .reset_mobile_bg-{{block.id}} p {
    font-size: 20px;
  }


  .reset_mobile_bg-{{block.id}} .to_left .background-media-text__text {
    width: 88%;
    float: right;
  }

  .reset_mobile_bg-{{block.id}} .to_right .background-media-text__text {
    width: 80%;
    float: left;
  }

}

@media only screen and (max-width: 1259px) {
  .reset_mobile_bg-{{block.id}} p {
    font-size: 20px;
  }
}

{%if block.settings.box_color != blank %}
  {% assign box_color = block.settings.box_color %}
{% else %}
  {% assign box_color = "transparent" %}
{% endif %}

.reset_mobile_bg-{{block.id}} .background-media-text__text ,.reset_mobile_bg-{{block.id}} .background-media-text__text {
  background-color: {{box_color}};
}

@media only screen and (max-width: 768px) {
  .reset_mobile_bg-{{block.id}} {
    background-image: url('{{block.settings.mobile_image | img_url: 'x768', scale: 2}}');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
  }
  {% if block.settings.box_color_mobile != blank %}
    .reset_mobile_bg-{{block.id}} .background-media-text__text {
      background-color: {{block.settings.box_color_mobile}};
    }
  {% endif %}

  .reset-background-new--left .background-media-text__subtext p {
    font-size: 16px !important;
  }
  {% if block.settings.box_margin_mobile != blank %}
    .reset_mobile_bg-{{block.id}} .background-media-text__aligner {
      margin: {{block.settings.box_margin_mobile}};
    }
  {% endif %}
}

@media only screen and (max-width: 500px) {

  .reset_mobile_bg-{{block.id}} h1{
    font-size: 54px;
  }
  .reset_mobile_bg-{{block.id}} p strong{
    font-size: 16px;
  }
  .reset_mobile_bg-{{block.id}} a.btn{
    font-size: 16px;
  }
  .reset_mobile_bg-{{block.id}} .background-media-text__text{
    text-align: center;
  }
}


</style>
