<div class="index-section page-width reset-index-section">
  <div style="background-color: {{block.settings.bg_color}}" class="reset-page-width">
    <div class="reset-shipping-col feature-row" data-aos>
      <div class="small--one-whole one-49">
        {%- comment %}
          This is a foo
        {% endcomment -%}
        <div style="background-color: {{block.settings.left_bg_color}}" class="ship-1 reset-shippingdiv">
          <h2 class="heading contact-heading">{{block.settings.header_left1}}</h2>
          {%- comment %}
            All the faq
          {% endcomment -%}
          <div class="left-row">
            {{block.settings.l_l_1}}
            {{block.settings.l_m_1}}
            {{block.settings.l_r_1}}
          </div>
          <div class="left-row">
            {{block.settings.l_l_2}}
            {{block.settings.l_m_2}}
            {{block.settings.l_r_2}}
          </div>
          <div class="left-row">
            {{block.settings.l_l_3}}
            {{block.settings.l_m_3}}
            {{block.settings.l_r_3}}
          </div>
          <div class="left-row">
            {{block.settings.l_l_4}}
            {{block.settings.l_m_4}}
            {{block.settings.l_r_4}}
          </div>
          <div class="left-row">
            {{block.settings.l_l_5}}
            {{block.settings.l_m_5}}
            {{block.settings.l_r_5}}
          </div>
          <div class="left-row">
            {{block.settings.l_l_6}}
            {{block.settings.l_m_6}}
            {{block.settings.l_r_6}}
          </div>
          <div class="left-row">
            {{block.settings.l_l_7}}
            {{block.settings.l_m_7}}
            {{block.settings.l_r_7}}
          </div>
          <div class="left-row">
            {{block.settings.l_l_8}}
            {{block.settings.l_m_8}}
            {{block.settings.l_r_8}}
          </div>
          <div class="left-row">
            {{block.settings.l_l_9}}
            {{block.settings.l_m_9}}
            {{block.settings.l_r_9}}
          </div>

        </div>

      </div>
      <div class="small--one-whole one-49">
        {%- comment %}
        	This is a foo
        {% endcomment -%}
        <div style="height: 100%; background-color: {{block.settings.right_bg_color}}" class="ship-1 reset-shippingdiv">
          <h2 class="heading contact-heading">{{block.settings.header_right1}}</h2>
          {%- comment %}
            All the faq
          {% endcomment -%}

          <div class="right-row">
            {{block.settings.l_1}}
            {{block.settings.m_1}}
            {{block.settings.r_1}}
          </div>
          <div class="right-row">
            {{block.settings.l_2}}
            {{block.settings.m_2}}
            {{block.settings.r_2}}
          </div>

          <div class="bottom-text">
            {{block.settings.right_bottomtext}}
            <div class="right-btmtxt2" style="color: #a9a9a9 !important;">
              {{block.settings.right_bottomtext1}}
            </div>

          </div>
        </div>
      </div>
    </div>




    </div>
  </div>
