<div class="{% if page.handle == 'about-us' %}about-page-section{% else %}index-section{% endif %} {% unless page.template_suffix == 'reviews' %}page-width{% endunless %}">
  <div class="page-width text-{{ block.settings.align_text }}">
    <div class="grid {% unless page.template_suffix == 'reviews' %}page-width{% endunless %}">
      <div class="grid__item{% if block.settings.narrow_column %} medium-up--three-quarters medium-up--push-one-eighth{% endif %}">
        {% if block.settings.title != blank %}
          <h1 class="h1 {% if page.template_suffix == 'shipping' %}shipping_title{% elsif page.handle == 'about-us' %}about-us-title{% else %}mainTitle{% endif %}">
            {{ block.settings.title | escape }}
          </h1>
        {% endif %}
        {% if block.settings.text != blank %}
          <div class="rte {% if page.template_suffix == 'shipping' %}shipping_p{% elsif page.template_suffix == 'reviews' %}reviews_p{% endif %}" style="line-height: {{block.settings.rich_line}};">
            {% if block.settings.enlarge_text %}<div class="enlarge-text {% if page.handle == 'about-us' %}about-page-p{% endif %}">{% endif %}
              {{ block.settings.text }}
            {% if block.settings.enlarge_text %}</div>{% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
