<div style="background-color:{{block.settings.bg_color}}" class="review-widget" data-src='<div style="border-bottom: 0; text-align: center" class="heading">
    <h2 class="reset-h2 review-h2">{{block.settings.title}}</h2>
  </div>

  <div class="slick-carousel reset-slick js-dots">
    {% for i in (1..41) %}
        {% capture slide_image_setting %}influencer_{{i}}_img{% endcapture %}
        {% capture slide_name_setting %}influencer_{{ i }}_name{% endcapture %}
        {% capture slide_link_setting %}influencer_{{ i }}_link{% endcapture %}
        {% capture slide_link_text %}influencer_{{ i }}_text{% endcapture %}
        {% capture slide_link_yt %}influencer_{{ i }}_ytlink{% endcapture %}

        {% assign slide_image = block.settings[slide_image_setting] %}
        {% assign slide_name = block.settings[slide_name_setting] %}
        {% assign slide_link = block.settings[slide_link_setting] %}
        {% assign slide_text = block.settings[slide_link_text] %}
        {% assign slide_yt = block.settings[slide_link_yt] | split: '=' %}

        {% if slide_image != blank %}
          <div class="youtube_column">
            <div class="social-images">
              {% if slide_yt.last != blank %}
                <div class="review_play_btn" data-id="{{slide_yt.last}}" onclick="openYTmodal(this)">
                  <img src="{{ 'video-player.png' | asset_img_url: '300x300' }}" alt="">
                </div>
              {% endif %}
              {% assign img_url1 = slide_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <img class="lazyload" data-src="{{ img_url1 }}" data-widths="[180, 360, 540, 720, 900, 1080]"  data-aspectratio="1.5" data-sizes="auto" alt="29-ba">
            </div>
            <a href="{{slide_link}}" target="_blank">
              <div class="testimonial-profile">
                {{slide_name}}
              </div>
            </a>
            <blockquote class="testimonial-post">
              {{slide_text | strip_html | escape }}
            </blockquote>
          </div>
        {% endif %}
    {% endfor %}
  </div>'>
</div>
