<div class="{% if page.handle == 'about-us' %}about-page-section{% else %}index-section{% endif %} page-width">
  <div class="page-width text-center">
    <div class="grid page-width">
        {% if block.settings.title != blank %}
          <h1 class="h1 {% if page.template_suffix == 'shipping' %}shipping_title{% elsif page.handle == 'about-us' %}about-us-title container-title{% else %}mainTitle{% endif %}">
            {{ block.settings.title | escape }}
          </h1>
        {% endif %}
    </div>
  </div>
</div>
