<div class="justImg_container">
  <img style="width: 100%; margin-bottom: -7px;" class="lazyload desktop_img" src="{{ block.settings.image | img_url: '1200x500', scale: 2}}" alt="">
  <img style="width: 100%" class="lazyload mobile_img product_page_mobile js-reset_just_mobile" src="{{ block.settings.mobile_image | img_url: '600x600', scale: 2}}" alt="">
</div>
