{% comment %}
  This file handles each block available on product.sections or page.sections templates.
  Each block is a near identical duplicate of a section also available on the home page.
  Exception is sections that had blocks become hard coded options.
{% endcomment %}
{%- if from_page -%}
  <div style="background-color: {{bg_color}}" class="page-blocks">
{%- else -%}
  <div class="page-blocks">
{%- endif -%}

  {% for block in section.blocks %}
    <div {% if block.type == 'rich-text' or block.type == 'custom-html' %}class="page-width js-block_style"{% endif %} {{ block.shopify_attributes }}>
      {% case block.type %}

        {% when 'contact-form' %}
          {% include 'page-block-contact-form' %}

        {% when 'trust-pilot' %}
          {% include 'include-trustpilot' %}

        {% when 'custom-html' %}
          {% include 'page-block-custom-html' %}

        {% when 'background-image-text' %}
          {% include 'page-block-background-image-text' %}

        {% when 'bg-image-text-new' %}
          {% include 'page-block-bg-image-text-new' %}


        {% when 'hero-video' %}
          {% include 'page-block-hero-video' %}

        {% when 'image-hero' %}
          {% include 'page-block-image-hero' %}

        {% when 'image-row' %}
          {% include 'page-block-image-row' %}

        {% when 'rich-text'%}
          {% include 'page-block-rich-text' %}



        {% when 'judgeme-and-faq' %}
          {% include 'page-block-judgeme-and-faq' %}

          {% when 'shipping-two-columns' %}
            {% include 'page-block-shipping-two-columns' %}

        {% when 'review-widget' %}
          {% include 'page-block-review-widget' %}

        {% when 'review-widget-youtube' %}
          {% include 'page-block-review-widget-youtube' %}

        {% when 'cta-icon' %}
          {% include 'include-cta_icon' %}


        {% when 'text-and-image' %}
          {% include 'page-block-text-and-image' %}

        {% when 'text-and-image-bg' %}
          {% include 'page-block-text-and-image-background' %}

        {% when 'text-and-image-color' %}
          {% include 'page-block-text-and-image-color' %}

        {% when 'text-and-image-button' %}
          {% include 'page-block-text-and-image-button' %}

        {% when 'text-columns' %}
          {% include 'page-block-text-columns' %}

        {% when 'text-columns-icon' %}
          {% include 'page-block-text-columns-icon' %}

        {% when 'testimonials' %}
          {% include 'page-block-testimonials' %}

        {% when 'map' %}
          {% include 'page-block-map' %}

        {% when 'featured-collection' %}
          {% include 'page-block-featured-collection' %}

        {% when 'fading-images' %}
          {% include 'page-block-fading-images' %}

        {% when 'just-image' %}
          {% include 'page_just_image' %}

        {% when 'rich-text-title' %}
          {% include 'page-block-rich-text-title-only' %}

        {% when 'rich-text-abt-us-content'%}
          {% include 'page-block-rich-text-abt-us' %}

      {% endcase %}
    </div>
  {% endfor %}
</div>
