<div
  data-subsection
  data-section-id="{{ block.id }}"
  data-section-type="slideshow-section"
  data-align-top="true"
  class="hero-slideshow"
  {% if block.settings.parallax %}data-parallax="true"{% endif %}>
  <div class="slideshow-wrapper">
    {%- assign natural_height = false -%}
    {% if block.settings.section_height == 'natural' %}
      {% if block.settings.image != blank %}
        {%- assign natural_height = true -%}
        {%- capture natural_height_ratio -%}{{ 100 | divided_by: block.settings.image.aspect_ratio }}%{% endcapture %}
      {% endif %}
    {% endif %}

    {% if natural_height %}
      <style>
        .hero-natural--{{ block.id }} {
          height: 0;
          padding-bottom: {{ natural_height_ratio }};
        }
      </style>
    {% endif %}

    {% if natural_height %}
      <div class="hero-natural--{{ block.id }}">
    {% endif %}
      <div id="Slideshow-{{ block.id }}"
        class="hero hero--{{ block.settings.section_height }} hero--{{ block.id }} hero--mobile--{{ block.settings.mobile_height }} loading loading--delayed"
        {% if natural_height %}
          data-natural="true"
        {% endif %}
        data-aos="hero__animation"
        data-slide-count="1">
        <div
          class="slideshow__slide slideshow__slide--{{ block.id }}"
          data-id="{{ block.id }}">

          <style>
            .slideshow__slide--{{ block.id }} .hero__title {
              font-size: {{ block.settings.title_size | times: 0.5 }}px;
              line-height: 1.15;
            }
            @media only screen and (min-width: 768px) {
              .slideshow__slide--{{ block.id }} .hero__title {
                font-size: {{ block.settings.title_size }}px;
              }
            }

            {% if block.settings.color_accent and block.settings.color_accent != 'rgba(0,0,0,0)' %}
              .slideshow__slide--{{ block.id }} .btn {
                background: {{ block.settings.color_accent }} !important;
                border-color: {{ block.settings.color_accent }} !important;

                {%- assign accent_brightness = block.settings.color_accent | color_extract: 'lightness' -%}

                {% if accent_brightness > 40 %}
                  color: #000 !important;
                {% endif %}
              }

              {% if settings.button_style == 'angled' %}
                .slideshow__slide--{{ block.id }} .btn:before,
                .slideshow__slide--{{ block.id }} .btn:after {
                  background: {{ block.settings.color_accent }} !important;
                  border-color: {{ block.settings.color_accent }} !important;
                }
              {% endif %}
            {% endif %}
          </style>

          {%- assign hero_text = false -%}
          {%- assign link_slide = false -%}
          {% if block.settings.title != blank or block.settings.subheading != blank or block.settings.link_text != blank %}
            {%- assign hero_text = true -%}
          {% endif %}
          {% if block.settings.link != blank and block.settings.link_2 == blank %}
            {%- assign link_slide = true -%}
          {% endif %}

          {% if block.settings.parallax %}
            {% if block.settings.image != blank %}
              <style>
                .hero__image--{{ block.id }} {
                  background-position: {{ block.settings.focal_point }};
                  background-size: cover;
                }
              </style>
            {% endif %}
            <div class="parallax-container">
              <div class="hero__image-wrapper">
                <div
                  class="parallax-image hero__image hero__image--{{ block.id }}{% unless hero_text %} hero__image--no-overlay{% endunless %}{% if block.settings.image != blank %} lazyload{% else %} hero__image--svg{% endif %}"
                  {% if block.settings.image != blank %}
                    data-bgset="{% include 'bgset', image: block.settings.image %}"
                    data-sizes="auto"
                  {% endif %}>
                {% if block.settings.image == blank %}
                  {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
                </div>
              </div>
            </div>
          {% else %}
            <div class="hero__image-wrapper{% unless hero_text %} hero__image-wrapper--no-overlay{% endunless %}">
              {% if block.settings.image != blank %}
                <style>
                  .hero__image--{{ block.id }} {
                    object-position: {{ block.settings.focal_point }};
                    font-family: "object-fit: cover; object-position: {{ block.settings.focal_point }};";
                  }
                </style>

                {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                {%- assign img_url_mobile = block.settings.image_mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                <img class="desktop_img image-fit hero__image hero__image--{{ block.id }} lazyload"
                  src=""
                  data-src="{{ img_url }}"
                  data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  data-parent-fit="cover"
                  alt="{{ block.settings.image.alt | escape }}">
                <img class="mobile_img image-fit hero__image hero__image--{{ block.id }} lazyload"
                  src=""
                  data-src="{{ img_url_mobile }}"
                  data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  data-parent-fit="cover"
                  alt="{{ block.settings.image.alt | escape }}">
                <noscript>
                  <img class="image-fit hero__image hero__image--{{ block.id }}"
                    src="{{ block.settings.image | img_url: '1400x' }}"
                    alt="{{ block.settings.image.alt | escape }}">
                </noscript>
              {% else %}
                {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>
          {% endif %}

          {% if link_slide %}
            <a href="{{ block.settings.link }}" class="hero__slide-link"></a>
          {% endif %}

          {% if hero_text %}
            <div class="hero__text-wrap">
              <div class="page-width">
                <div class="hero__text-content {{ block.settings.text_align }}">
                  <div class="hero__text-shadow">
                    {% unless block.settings.title == blank %}
                      <h2 class="h1 hero__title">
                        <div class="animation-cropper"><div class="animation-contents">
                        {{ block.settings.title | newline_to_br }}
                        </div></div>
                      </h2>
                    {% endunless %}
                    {% if block.settings.subheading or block.settings.link or block.settings.link_2 %}
                      {% unless block.settings.subheading == blank %}
                        <div class="hero__subtitle">
                          <div class="animation-cropper"><div class="animation-contents">
                            {{ block.settings.subheading | escape }}
                          </div></div>
                        </div>
                      {% endunless %}
                      {% if block.settings.link_text != blank or block.settings.link_text_2 != blank %}
                        <div class="hero__link">
                          {% if block.settings.link_text != blank %}
                            <a href="{{ block.settings.link }}" class="btn{% if block.settings.color_accent and block.settings.color_accent == 'rgba(0,0,0,0)' %} btn--inverse{% endif %}">
                              {{ block.settings.link_text }}
                            </a>
                          {% endif %}
                          {% if block.settings.link_text_2 != blank %}
                            <a href="{{ block.settings.link_2 }}" class="btn{% if block.settings.color_accent and block.settings.color_accent == 'rgba(0,0,0,0)' %} btn--inverse{% endif %}">
                              {{ block.settings.link_text_2 }}
                            </a>
                          {% endif %}
                        </div>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% if natural_height %}
      </div>
    {% endif %}
  </div>
</div>

<style media="screen">
@media only screen and (max-width: 768px) {
  .image-fit, .hero-natural--{{block.id}} {
    height: 188px;
  }
}

</style>
