<div class="{% if page.handle == 'about-us' %}about-page-section{% else %}index-section{% endif %} {% unless page.template_suffix == 'reviews' %}page-width{% endunless %}">
  <div class="page-width text-{{ block.settings.align_text }}">
    <div class="grid">
        <div class="grid__item">
          {% if block.settings.title != blank %}
            <p class="fs-34">
              {{ block.settings.title | escape }}
            </p>
          {% endif %}
          {% if block.settings.text != blank %}
              <div id="abt-us-content">
                <p>{{ block.settings.text }}</p>
              </div>
            {% endif %}
        </div>
    </div>
  </div>
</div>
