{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

{% unless product.empty? %}
  <div class="product__photos product__photos-{{ section_id }} product__photos--{{ thumbnail_position }}">

    <div class="product__main-photos" data-aos>
      <div id="ProductPhotos-{{ section_id }}" class=" mobile-padding-top">
        {% for image in product.images %}
          {%- assign is_featured = false -%}
          {% if featured_image == image %}
            {%- assign is_featured = true -%}
          {% endif %}
          {%- assign image_alt = image.alt -%}
          {%- assign has_product_video = false -%}
          {%- assign video_type = '' -%}
          {% if image.alt contains 'youtube.com/watch' %}
            {%- assign has_product_video = true -%}
            {%- assign video_type = 'youtube' -%}
            {%- assign video_id = image.alt | split: 'v=' -%}
            {%- assign video_id = video_id[1] | split: '&' | first -%}
          {% endif %}
          {% if image.alt contains 'youtu.be/' %}
            {%- assign has_product_video = true -%}
            {%- assign video_type = 'youtube' -%}
            {%- assign video_id = image.alt | split: '.be/' -%}
            {%- assign video_id = video_id[1] | split: '&' | first -%}
          {% endif %}
          {% if image.alt contains 'vimeo.com' %}
            {%- assign has_product_video = true -%}
            {%- assign video_type = 'vimeo' -%}
            {%- assign video_id = image.alt | split: '.com/' -%}
            {%- assign video_id = video_id[1] | split: '/' | first -%}
          {% endif %}
          {% if image.alt contains '.mp4' %}
            {%- assign has_product_video = true -%}
            {%- assign video_type = 'mp4' -%}
          {% endif %}
          {% if has_product_video %}
            {%- assign image_alt = product.title -%}
          {% endif %}
          <div class="{% if is_featured %}starting-slide{% else %}secondary-slide{% endif %}" data-index="{{ forloop.index0 }}">
            <div class="product-image-main product-image-main--{{ section_id }}">
              <div class="image-wrap
                {% if has_product_video and video_type == 'youtube' %} hide{% endif %}
                {% if has_product_video and video_type == 'vimeo' %} hide{% endif %}
                {% if has_product_video and video_type == 'mp4' %} hide{% endif %}" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%;">
                <div class="photo-zoom-link {% if settings.product_zoom_enable %}photo-zoom-link--enable{% endif %}" data-zoom-size="{{ image | img_url: product_zoom_size }}">
                  {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  {% if is_featured %}
                    <!-- data-widths="[360, 480, 540, 720, 900, 1080]" -->
                        
                    <img class="photo-zoom-link__initial lazyload"
                        data-src="{{ img_url }}"
                        data-aspectratio="{{ image.aspect_ratio }}"
                        data-sizes="auto"
                        src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                        data-srcset="{{ img_url | img_url: '290px'}} 290w,
                          img_url | img_url: '360px'}} 360w,
                          img_url | img_url: '480px'}} 480w,
                          img_url | img_url: '540px'}} 540w,
                          img_url | img_url: '720px'}} 720w
                        "
                        alt="{{ image_alt | escape }}">
                    <noscript>
                      <img class="photo-zoom-link__initial lazyloaded" src="{{ image | img_url: product_image_size }}" alt="{{ image_alt | escape }}">
                    </noscript>
                  {% else %}
                    <img class="lazyload"
                        src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                        data-src="{{ img_url }}"
                        data-aspectratio="{{ image.aspect_ratio }}"
                        data-sizes="auto"
                        data-srcset="{{ img_url | img_url: '290px'}} 290w,
                          img_url | img_url: '360px'}} 360w,
                          img_url | img_url: '480px'}} 480w,
                          img_url | img_url: '540px'}} 540w,
                          img_url | img_url: '720px'}} 720w
                        "
                        alt="{{ image_alt | escape }}">
                    <noscript>
                      <img class="lazyloaded" src="{{ image | img_url: product_image_size }}" alt="{{ image_alt | escape }}">
                    </noscript>
                  {% endif %}
                </div>
              </div>
              {% if has_product_video %}
                {%- assign aspect_width = settings.product_video_width | divided_by: 100.00 -%}
                {%- assign aspect_ratio = settings.product_video_height | divided_by: aspect_width -%}
                <div
                  data-video-type="{{ video_type }}"
                  class="product__video-wrapper
                    {% if has_product_video %}
                      {% if video_type == 'youtube' or video_type == 'vimeo' %}
                        loading
                      {% endif %}
                    {% endif %}"
                  data-video-style="{{ settings.product_video_style }}"
                  style="padding-bottom: {{ aspect_ratio }}%;">
                  {% if video_type == 'youtube' %}
                    <div
                      id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                      class="product__video"
                      data-image-count="{{product.images | size }}"
                      data-video-type="{{ video_type }}"
                      data-video-style="{{ settings.product_video_style }}"
                      data-youtube-id="{{ video_id }}"
                      data-video-width="{{ settings.product_video_width }}"
                      data-video-height="{{ settings.product_video_height }}">
                    </div>
                  {% endif %}
                  {% if video_type == 'vimeo' %}
                    <div
                      id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                      class="product__video"
                      data-image-count="{{product.images | size }}"
                      data-video-type="{{ video_type }}"
                      data-video-style="{{ settings.product_video_style }}"
                      data-video-id="{{ video_id }}"
                      data-video-width="{{ settings.product_video_width }}"
                      data-video-height="{{ settings.product_video_height }}">
                    </div>
                  {% endif %}
                  {% if video_type == 'mp4' %}
                    <video
                      loop playsinline
                      {% if settings.product_video_style == 'muted' %}muted{% endif %}
                      {% if settings.product_video_style == 'unmuted' %}controls{% endif %}
                      controlsList="nodownload"
                      data-image-count="{{product.images | size }}"
                      data-video-type="{{ video_type }}"
                      data-video-style="{{ settings.product_video_style }}"
                      {% if isModal %}
                        data-video-src="{{ image.alt }}"
                      {% endif %}
                      id="ProductVideo-{{ section_id }}-{{ forloop.index }}"
                      class="product__video">
                      {% unless isModal %}
                        <source src="{{ image.alt }}" type="video/mp4">
                      {% endunless %}
                      Your browser does not support the video tag.
                    </video>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div
      id="ProductThumbs-{{ section_id }}"
      class="product__thumbs js-reset_slider product__thumbs--{{ thumbnail_position }} {% if product.images.size == 1 %} medium-up--hide{% endif %}"
      data-position="{{ thumbnail_position }}"
      data-aos>

      {% if product.images.size > 1 %}
        {% for image in product.images %}
          {%- assign image_alt = image.alt -%}
          {%- assign has_product_video = false -%}
          {%- assign video_type = '' -%}
          {% if image.alt contains 'youtube.com/watch' %}
            {%- assign has_product_video = true -%}
            {%- assign video_type = 'youtube' -%}
          {% endif %}
          {% if image.alt contains 'youtu.be/' %}
            {%- assign has_product_video = true -%}
            {%- assign video_type = 'youtube' -%}
          {% endif %}
          {% if image.alt contains 'vimeo.com' %}
            {%- assign has_product_video = true -%}
            {%- assign video_type = 'vimeo' -%}
          {% endif %}
          {% if image.alt contains '.mp4' %}
            {%- assign has_product_video = true -%}
            {%- assign video_type = 'mp4' -%}
          {% endif %}
          {% if has_product_video %}
            {%- assign image_alt = product.title -%}
          {% endif %}
          <div class="product__thumb-item"
            data-index="{{ forloop.index0 }}">
            <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%;">
              <div
                class="product__thumb product__thumb-{{ section_id }} js-no-transition"
                data-id="{{ image.id }}"
                {% if settings.product_zoom_enable %}data-zoom="{{ image.src | img_url: product_zoom_size }}"{% endif %}
                >
                {% if has_product_video %}
                  <span class="product__thumb-play">
                    {% include 'icon-play' %}
                  </span>
                {% endif %}

                {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="animation-delay-{{ forloop.index | times: 3 }} lazyload"
                        src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                        data-src="{{ image | product_img_url: '30x30'}}"
                        data-aspectratio="{{ image.aspect_ratio }}"
                        data-sizes="auto"
                        data-widths="[30, 90, 180, 360]"
                        alt="{{ image_alt | escape }}">
                <noscript>
                  <img class="lazyloaded" src="{{ image | img_url: product_thumb_size }}" alt="{{ image_alt | escape }}">
                </noscript>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% else %}
  <div class="product__photos product__photos-{{ section_id }}">
    <div class="product__main-photos" style="width: 100%">
      <div id="ProductPhotos-{{ section_id }}">
        <div data-index="{{ forloop.index0 }}">
          <a href="#">
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endunless %}
