{%- assign has_custom_tabs = false -%}
{% for tag in product.tags %}
  {% if tag contains '_tab' %}
    {%- assign has_custom_tabs = true -%}
  {% endif %}
{% endfor %}

{%- assign reviews_as_tab = false -%}
{% if settings.enable_product_reviews and settings.reviews_layout == 'expandable' %}
  {%- assign reviews_as_tab = true -%}
{% endif %}

{% if settings.product_content_1 != blank or settings.product_content_2 != blank or settings.product_content_3 != blank or settings.product_contact or reviews_as_tab or has_custom_tabs %}

  <div class="confirm-collapsibles-wrapper js-accordion collapsibles-wrapper collapsibles-wrapper--border-bottom">

    {% for tag in product.tags %}
      {% if tag contains '_tab' %}
        {%- assign include_page_handle = tag | split: '_' -%}
        {%- assign include_page = pages[include_page_handle.last] -%}
        {% if include_page.title != blank %}
          <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height" aria-controls="Product-content-{{ include_page_handle.last }}-{{ section_id }}">
            {{ include_page.title }}
            {%- comment %}
            	{% include 'collapsible-icons' %}
            {% endcomment -%}
            <span class="plus-minus">+</span>
          </button>
          <div id="Product-content-{{ include_page_handle.last }}-{{ section_id }}" class="collapsible-content collapsible-content--all">
            <div class="collapsible-content__inner rte">
              {{ include_page.content }}
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}

    {%- if section.settings.shipping_enable -%}
      {% if settings.product_content_1 != blank %}
        {% if settings.product_content_collapse_1 %}
          <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders" aria-controls="Product-content-1-{{ section_id }}">
            {{ settings.accor_shipping_title }}
            {%- comment %}
            	{% include 'collapsible-icons' %}
            {% endcomment -%}
            <span class="plus-minus">+</span>
          </button>
        {% else %}
          <div class="label collapsible-trigger-btn collapsible-trigger-btn--borders">
            {{  settings.accor_shipping_title }}
          </div>
        {% endif %}

        <div id="Product-content-1-{{ section_id }}" class="collapsible-content{% unless settings.product_content_collapse_1 %} collapsible-content--expanded{% else %} collapsible-content--all{% endunless %}">
          <div class="collapsible-content__inner js-accordion_div rte">
            {{ settings.accor_shipping_info }}
          </div>
        </div>
      {% endif %}

      {%- comment %}
        New create section
      {% endcomment -%}
      <a href="/pages/faq">
      <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders" aria-controls="Product-content-0-{{ section_id }}">
        Frequently Asked Questions <p class="plus-minus">></p>
      </button>
      </a>
      {% if settings.product_content_2 != blank %}
        {% if settings.product_content_collapse_2 %}
          <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders" aria-controls="Product-content-2-{{ section_id }}">
            {{ settings.accor_refund_title }}
            {%- comment %}
            	{% include 'collapsible-icons' %}
            {% endcomment -%}
            <span class="plus-minus">+</span>
          </button>
        {% else %}
          <div class="label collapsible-trigger-btn collapsible-trigger-btn--borders">
            {{ settings.accor_refund_title }}
          </div>
        {% endif %}

        <div id="Product-content-2-{{ section_id }}" class="collapsible-content{% unless settings.product_content_collapse_2 %} collapsible-content--expanded{% else %} collapsible-content--all{% endunless %}">
          <div class="collapsible-content__inner js-accordion_div rte">
            {{ settings.accor_refund_info  }}
          </div>
        </div>
      {% endif %}

      {%- if section.settings.shipping_howtouse != blank -%}
        {% if settings.product_content_collapse_3 %}
          <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders last-row-how-to" aria-controls="Product-content-3-{{ section_id }}">
            How to Use
            {%- comment %}
            	{% include 'collapsible-icons' %}
            {% endcomment -%}
            <span class="plus-minus">+</span>
          </button>
        {% else %}
          <div class="label collapsible-trigger-btn collapsible-trigger-btn--borders">
            How to Use
          </div>
        {% endif %}

        <div id="Product-content-3-{{ section_id }}" class="collapsible-content{% unless settings.product_content_collapse_3 %} collapsible-content--expanded{% else %} collapsible-content--all{% endunless %}">
          <div class="collapsible-content__inner js-accordion_div rte">
            {{section.settings.shipping_howtouse}}
          </div>
        </div>
      {%- endif -%}

    {%- endif -%}



    {% if settings.product_contact %}
      {% form 'contact' %}
        <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders" aria-controls="Product-content-4-{{ section_id }}">
          {{ settings.product_contact_title }}
          {%- comment %}
          	{% include 'collapsible-icons' %}
          {% endcomment -%}
          <span style="float: right; font-size: 24px; line-height: 0.3; width: 12px;">+</span>
        </button>

        <div id="Product-content-4-{{ section_id }}" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner rte">
            <div class="form-vertical">

              <input type="hidden" name="contact[product]" value="Product question for: {{ shop.secure_url }}/admin/products/{{ product.id }}">

              <div class="grid grid--small">
                <div class="grid__item medium-up--one-half">
                  <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
                  <input type="text" id="ContactFormName" class="input-full" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
                </div>

                <div class="grid__item medium-up--one-half">
                  <label for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
                  <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                </div>
              </div>

              <!--
              <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
              <input type="tel" id="ContactFormPhone" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              -->

              <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
              <textarea rows="5" id="ContactFormMessage" class="input-full" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

              <button type="submit" class="btn right">
                {{ 'contact.form.send' | t }}
              </button>

            </div>
          </div>
        </div>

        {% if form.posted_successfully? %}
          <p class="note note--success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {% endif %}

        {% if form.product %}
          {{ form.errors | default_errors }}
        {% endif %}

      {% endform %}
    {% endif %}

    {% if reviews_as_tab %}
      <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height" aria-controls="Product-content-5-{{ section_id }}">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">Reviews</span>
        {%- comment %}
        	{% include 'collapsible-icons' %}
        {% endcomment -%}
        <span style="float: right; font-size: 24px; line-height: 0.3; width: 12px;">+</span>
      </button>

      <div id="Product-content-5-{{ section_id }}" class="collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner product-reviews product-reviews--tab">
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
      </div>
    {% endif %}

  </div>
{% endif %}
