<div class="promo-discount shipping-padding">
  <span onclick="promoOpen();" class="shippingPromo">Have a Promo Code?</span>
  <p class="field field-discount" style="display: none;">
    <a onclick="promoClose();" class="close" href="#">×</a>
    <label>PROMO DISCOUNT</label>
    <input size="10" onkeyup="inputDiscountEnterKey(event)" class="input-discount" placeholder="Enter code here" min="0" type="text">
    <a onclick="discountInputField(this)" name="button" class="btn-apply" id="update-button">
      Apply
    </a>
    <a style="display: none; width: 100%;" id="remove-button" class="btn highlight" onclick="removePromoCode()">Remove</a>
  </p>
</div>

<input class="js-form-discount" type="hidden" name="discount" value="" >
