<div class="popup-email popup-email--show">
  <div class="popup-email__content popup-email--form">
    <h3>JOIN THE SQUAD!</h3>
    <p style="margin-bottom:0px;">Receive exclusive offers and haircare tips via email.</p>
    <p><b>FREE Mirror</b> with your first order</p>
    <div class="btngroup btngroup--horizontal full-width">
      <form id="signup-popup-tag"  accept-charset="UTF-8" data-remote="true" smethod="post">
        <input type="hidden" value="" name="country" id="popup-country-name">
        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="email" id="emarsys-singup-popup" class="input-text col-xs-8 pull-left" autocorrect="off" autocapitalize="off">
        <input type="hidden" value="cocoandeve" name="brand_name" class="">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="tag" id="tag" value="signed-up popup">
        <input type="submit" name="commit" value="submit" class="btn btn-secondary col-xs-4 pull-right padding--0" onclick="signupPopupEmarsys()">
      </form>
    </div>
  </div>
  <div class="popup-email__content popup-email--thankyou" style="display: none;">
    <h3>THANK YOU!</h3>
    <p>Keep an eye out for our newsletters and weekly tips.</p>
    <a href="#" class="btn btn-secondary js-close">CONTINUE</a>
  </div>
  <button type="button" class="close js-close" id='popup-close' aria-label="Close"><span aria-hidden="true">×</span></button>
  <!-- <div class="popup-email__content popup-email--thankyou" style="box-shadow: 0px 0px 0px 0px #999;">
    <p>You can unsubscribe at any time. Please read our <a href="/pages/privacy-policy" style=" color: blue;">Privacy Policy </a> for more information about how we use your data. </p>
  </div> -->
</div>

<style>

.popup-email {
  position: fixed;
  left: 0;
  bottom: -500px;
  right: 0;
  background: #fff;
  text-align: center;
  z-index: 1000;
  border-top: 1px solid #e6e6e6;
  -webkit-transition: bottom 0.7s ease-out;
  transition: bottom 0.7s ease-out; }
@media(max-width: 767px){
  .popup-email--form p, .popup-email--thankyou p {
    font-size: 14px !important;
  }
}
  .popup-email--show {
    border-top: 1px solid #e6e6e6;
    -webkit-transition: bottom 0.7s ease-in;
    transition: bottom 0.7s ease-in;
    bottom: 0; }
  @media (min-width: 768px) {
    .popup-email {
      right: 20px;
      width: 400px;
      left: auto;
      border: 1px solid #e6e6e6;
      border-bottom: none; } }
  @media (min-width: 992px) {
    .popup-email {
      width: 500px;
      right: 40px; } }
  .popup-email p {
    font-size: 12px; }
    @media (min-width: 992px) {
      .popup-email p {
        font-size: 15px; } }
  .popup-email h3 {
    font-family: "sofia_prosemi_bold", sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #ff5a8c;
    font-size: 18px; }
    @media (min-width: 992px) {
      .popup-email h3 {
        font-size: 22px; } }
  .popup-email__content {
    position: relative;
    background: #fff;
    padding: 5px 15px 10px; }
    @media (min-width: 768px) {
      .popup-email__content {
        padding: 10px 30px 20px; } }
  .popup-email .btn {
    padding: 0;
    border-radius: 0 4px 4px 0; }
    .popup-email .btn.js-close {
      width: 170px;
      border-radius: 4px; }
  .popup-email .input-text {
    border-radius: 4px 0 0 4px; }
  .popup-email .close {
    position: absolute;
    top: 5px;
    right: 5px; }
  .popup-email .btngroup {
    overflow: hidden; }

.thankyou_modal .modal-body {
  height: auto; }

.thankyou_modal .close:focus {
  outline: none; }

  .popup-email--thankyou .btn:not(.btn--secondary):not(.btn--tertiary):not(.btn--inverse) { float: none; }
</style>
