<script id="smsbump-checkout-marketing-subscription">
  var smsbump_checkout_widget = (function(){

    var consent_message = "* By checking this box I consent to receive automated marketing by text message through an automatic telephone dialing system. Consent is not a condition to purchase. Message and Data rate apply. Max 5 msgs a week. Opt-Out by texting STOP."   
    + ' <a href="INCLUDE WEBSITE URL OF PRIVACY POLICY">View Privacy Policy & ToS</a>.';
    var checkbox_label = "I want to receive support and text marketing messages.*";
    var checkbox_state = "unchecked";
    consent_message = ""; //set as empty becayse already has a text in the checkout.liquid
    var appendCheckboxHtml = function(apendAfterElement){
        var script_tag = document.getElementById('smsbump-checkout-marketing-subscription')

        var checkboxHtml = '<div class="fieldset"><div class="field field--optional">';
            checkboxHtml += '<div class="section__content">';
                checkboxHtml += '<div class="checkbox-wrapper">';
                    checkboxHtml += '<div class="checkbox__input">';
                        if(checkbox_state == 'unchecked'){
                            checkboxHtml += '<input class="input-checkbox" type="checkbox" id="smsbump-checkout-messages-subscription">';
                        } else {
                            checkboxHtml += '<input class="input-checkbox" type="checkbox" id="smsbump-checkout-messages-subscription" checked>';
                        }
                    checkboxHtml += '</div>';
                    checkboxHtml += '<label class="checkbox__label" for="smsbump-checkout-messages-subscription">';
                        checkboxHtml += checkbox_label;
                    checkboxHtml += '</label>';
                checkboxHtml += '</div>';
            checkboxHtml += '</div>';
        checkboxHtml += '</div></div>';

        var div = document.createElement('div');
        div.innerHTML = checkboxHtml.trim();

        // Change this to div.childNodes to support multiple top-level nodes
        var checkboxNode = div.firstChild;

        apendAfterElement.parentNode.insertBefore(checkboxNode, apendAfterElement.nextSibling);

        return document.getElementById('smsbump-checkout-messages-subscription');
    }

    var appendConsentMessageHtml = function(apendAfterElement) {

        var p = document.createElement('p');
        p.innerHTML = consent_message;
        p.style.cssText = "margin-top: 1em; color: #696969";

        apendAfterElement.parentNode.insertBefore(p, apendAfterElement.nextSibling);
    }

    var smsBumpWidgetCheckboxListener = function(button) {

        if (!button) {
            setTimeout(smsBumpWidgetCheckboxListener, 50);
            return;
        }

        button.addEventListener('change', function(e) {
            var token = Shopify.Checkout.token;
            var smsbump_sh_store = Shopify.shop;

            if(this.checked){
               removeCheckoutMarketingUnsubscribed(smsbump_sh_store,token)
            } else {
                addCheckoutMarketingUnsubscribed(smsbump_sh_store,token);
            }
        });
    };

    var removeCheckoutMarketingUnsubscribed = function(sh_store, token){
        var http = new XMLHttpRequest();
        var url = "https://smsbump.com/shopify/removeCheckoutMarketingUnsubscribed";

        http.open("POST", url, true);

        var data = new FormData();
        data.append('store',sh_store);
        data.append('checkout_token',token);

        http.onreadystatechange = function() {
            if(http.readyState == 4 && http.status == 200) {
                console.log('subscribed for future text marketing messages');
            }
        };

        http.send(data);
    }

    var addCheckoutMarketingUnsubscribed = function(sh_store, token){
        var http = new XMLHttpRequest();
        var url = "https://smsbump.com/shopify/addCheckoutMarketingUnsubscribed";

        http.open("POST", url, true);

        var data = new FormData();
        data.append('store',sh_store);
        data.append('checkout_token',token);

        http.onreadystatechange = function() {
            if(http.readyState == 4 && http.status == 200) {
                console.log('unsubscribed from future text marketing messages');
            }
        };

        http.send(data);
    }
    //
    return {
        appendCheckbox: function(apendAfterElement) {
           return appendCheckboxHtml(apendAfterElement);
        },
        appendConsentMessageHtml: function(apendAfterElement) {
           return appendConsentMessageHtml(apendAfterElement);
        },
        getCheckboxListener: function(checkbox) {
            return smsBumpWidgetCheckboxListener(checkbox);
        }
    }
})();

(function() {

    var domIsReady = (function(domIsReady) {
        var isBrowserIeOrNot = function() {
            return (!document.attachEvent || typeof document.attachEvent === "undefined" ? 'not-ie' : 'ie');
        }

        domIsReady = function(callback) {
            if(callback && typeof callback === 'function'){
                if(isBrowserIeOrNot() !== 'ie') {
                    document.addEventListener("DOMContentLoaded", function() {
                        return callback();
                    });
                } else {
                    document.attachEvent("onreadystatechange", function() {
                        if(document.readyState === "complete") {
                            return callback();
                        }
                    });
                }
            } else {
                console.error('The callback is not a function!');
            }
        }

        return domIsReady;
    })(domIsReady || {});



    domIsReady(function() {
        if (typeof Shopify != "undefined" && typeof Shopify.Checkout != "undefined") {
            //Find the postcode field in the Shipping Address so we can append the checkbox
            var phoneField = document.querySelector('[data-address-fields]');

            if(phoneField){
                var smsBumpCheckbox = smsbump_checkout_widget.appendCheckbox(phoneField);
                if(smsBumpCheckbox != "undefined"){
                    smsbump_checkout_widget.getCheckboxListener(smsBumpCheckbox);
                }
            }

            var step_footer = document.querySelector('[data-step-footer]');
            console.log(step_footer);
            if(step_footer) {
              smsbump_checkout_widget.appendConsentMessageHtml(step_footer);
            }
        }
    });
})();
</script>