{% if settings.urgency_cart_enable %}
<script type="text/javascript">
document.addEventListener("UrgencyLoad", function(){

	var urgencyTitle = "{{ settings.urgency_cart_title }}";
	var urgencyText = "{{ settings.urgency_cart_text }}";
	var urgencyBg = "{{ settings.urgency_cart_background }}";
	var urgencyBorder = "{{ settings.urgency_cart_border_color }}";
	var urgencyMinutes = "{{ settings.urgency_cart_minutes }}";
	var urgencyFontColor = "{{ settings.urgency_cart_font_color }}";
	var inti = "";

	function createCookie(a, b, c) {
		if (c) {
			var d = new Date;
			d.setTime(d.getTime() + c * 60 * 1e3);
			var e = "; expires=" + d.toUTCString()
		} else var e = "";
		document.cookie = a + "=" + b + e + "; path=/"
	}

	function readCookie(a) {
		for (var b = a + "=", c = document.cookie.split(";"), d = 0; d < c.length; d++) {
			for (var e = c[d];
			     " " == e.charAt(0);) e = e.substring(1, e.length);
				if (0 == e.indexOf(b)) return e.substring(b.length, e.length)
			}
		return null
	}

	function eraseCookie(a) {
		createCookie(a, "", -1)
	}

	function crtmedir(a) {
		var b = document.createDocumentFragment(),
		c = document.createElement("div");
		for (c.innerHTML = a; c.firstChild;) b.appendChild(c.firstChild);
			return b
	}

	function startTimer(start, duration, display) {
		var diff, minutes, seconds;

		function timer() {
			diff = duration - (((Date.now() - start) / 1000) | 0);
			minutes = (diff / 60) | 0;
			seconds = (diff % 60) | 0;
			minutes = minutes < 10 ? "0" + minutes : minutes;
			seconds = seconds < 10 ? "0" + seconds : seconds;
			if (display == null) {
				setTimeout(function(){
					disp = document.querySelector('#time');
					startTimer(start, duration, disp);
				},500)
			} else {
				display.textContent = minutes + ":" + seconds;
				if (diff <= 0) {
					clearInterval(inti);
					if(document.getElementById("countdownhere"))
						document.getElementById("countdownhere").innerHTML = "Order reservation ended.";
					start = Date.now() + 1000;
				}
			}
		};
		timer();
		inti = setInterval(timer, 1000);
	}

	window.startingCount = function () {
		clearInterval(inti);
		if (document.getElementsByClassName('urgency-timer').length) {
			var text = urgencyText.replace("%timer%", '<span id="time" style="color:#ff5a8c;"></span>');
			var newElement = '<div class="countdownholder"><div class="caption">'+urgencyTitle+'</div><div id="countdownhere" style="display:block;background:transparent;padding:10px 0px;border:0px;font-size:14px;font-weight:bold;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin:5px 0px 5px;text-align:left;">'+text+'</div></div>';
			var pdm = crtmedir(newElement);
			document.getElementsByClassName('urgency-timer')[0].appendChild(pdm);
			var dolzina = urgencyMinutes;
			var ten = 60 * dolzina;
			var starttime = Date.now();
			var xcnt = readCookie('prtcntdwnc');
			if (xcnt) {
				if (starttime < xcnt) {
					ten = (xcnt - starttime) / 1000;
				} else {
					eraseCookie('ptcntdwnc');
					createCookie('prtcntdwnc', Date.now() + (ten * 1000), ten + 1);
				}
			} else {
				createCookie('prtcntdwnc', Date.now() + (ten * 1000), ten + 1);
			}
			display = document.querySelector('#time');
			theme.cart.getCart().then(function(cart){
				if (cart.items.length) {
					startTimer(starttime, ten, display);
				}
			});
		}
	}

	window.startingCount();
});

</script>

<style>
.countdownholder {
	margin-top: -20px;
}
.countdownholder .caption {
	font-weight: 600;
}

@media (max-width: 767px) {
	.countdownholder {
		margin-top: -20px;
	}
}
</style>
{% endif %}