<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- include 'seo-title' -%}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- include 'social-meta-tags' -%}

  {% include 'font-face' %}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}
  {%- include 'oldIE-js' -%}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.settings = {
      themeVersion: "1.3.2"
    };
  </script>

  {% include 'defer-script' with 'vendor.js' %}
  {% include 'defer-script' with 'password.js' %}
</head>

  <body class="template-password">

    <div class="password-page__image"></div>

    <div class="password-page__wrapper">
      {{ content_for_layout }}

      <footer class="password-page__footer">
        <div class="password-page__footer_inner">
          {% capture shopify %}
          <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
            {% include 'icon-shopify-logo' %}
            <span class="icon__fallback-text">Shopify</span>
          </a>
          {% endcapture %}
          {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
        </div>
      </footer>
    </div>

    <div id="LoginModal" class="modal modal--solid">
      <div class="modal__inner">
        <div class="modal__centered text-center">
          <div class="password-form">
            <p class="h4">{{ 'general.password_page.login_form_heading' | t }}</p>
            {% form 'storefront_password' %}
              {{ form.errors | default_errors }}
              <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
              <div class="input-group">
                <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
                <span class="input-group-btn">
                  <button type="submit" class="btn password-form__submit">
                    {{ 'general.password_page.login_form_submit' | t }}
                  </button>
                </span>
              </div>
            {% endform %}
          </div>
          <p class="password-admin-link">
            <small>
              {{ 'general.password_page.admin_link_html' | t }}
            </small>
          </p>
        </div>
      </div>

      <button type="button" class="modal__close js-modal-close text-link">
        {% include 'icon-close' %}
        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
      </button>
    </div>

  </body>
</html>
