<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>

  <!-- Redirection -->
  {% if settings.is_geo_active %}
    {{ settings.geotargetly_script }}
  {% endif %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="format-detection" content="telephone=no">

  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {% include 'seo-title' %}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  <link rel="dns-prefetch" href="//cdn.shopify.com">
  <link rel="preload" href="{{'SofiaPro-Bold.woff2' | file_url }}" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="{{'SofiaPro-Regular.woff2' | file_url }}" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="{{'SofiaPro-SemiBold.woff2' | file_url }}" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="{{'SofiaProLight.woff2' | file_url }}" as="font" type="font/woff2" crossorigin="anonymous">

  {% include 'css-font' %}
  {% include 'font-face' %}

  <link rel="preload" href="{{'theme.scss.css' | asset_url }}" as="style" type="text/css" >
  <link rel="preload" href="{{'jumpstart_desktop_styles.css' | asset_url }}" as="style" type="text/css" media="(min-width: 992px)">
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {%comment%}{{ 'jumpstart_styles_all.scss.css' | asset_url | stylesheet_tag }}{%endcomment%}

  {% if template == 'index' or template == 'product' %}
    {% include '__opt-index-usedcss' %}
  {% else %}
    <link rel="preload" href="{{'jumpstart_styles_all.scss.css' | asset_url }}" as="style" type="text/css" >
    {{ 'jumpstart_styles_all.scss.css' | asset_url | stylesheet_tag }}
  {% endif %} 
  <link href="{{ 'jumpstart_desktop_styles.css' | asset_url }}" rel="stylesheet" media="(min-width: 992px)">

  {{ 'style.scss.css' | asset_url | stylesheet_tag }}


  <style>
    .collection-item__title {
      font-size: {{ settings.type_collection_size }}px;
    }

    @media screen and (max-width: 768px) {
      .collection-item__title {
        font-size: {{ settings.type_collection_size | times: 0.8 }}px;
      }
    }
  </style>

  <script data-no-instant>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.strings = {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
      cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      moneyFormat: {{ shop.money_format | json }},
      recentlyViewedEnabled: false,
      quickView: {{ settings.quick_shop_enable }},
      themeVersion: "1.3.2"
    };
  </script>


  {%comment%}
    {{ content_for_header }}
  {%endcomment%}
  <script data-no-instant>
    //loadJS function
    !function(e){var t=function(t,o,n){"use strict";var r,a=e.document.getElementsByTagName("script")[0],c=e.document.createElement("script");return"boolean"==typeof o&&(r=n,n=o,o=r),c.src=t,c.async=!n,a.parentNode.insertBefore(c,a),o&&"function"==typeof o&&(c.onload=o),c};"undefined"!=typeof module?module.exports=t:e.loadJS=t}("undefined"!=typeof global?global:this);


    (function () {
      if ( typeof window.CustomEvent === "function" ) return false; //If not IE

      function CustomEvent ( event, params ) {
        params = params || { bubbles: false, cancelable: false, detail: undefined };
        var evt = document.createEvent( 'CustomEvent' );
        evt.initCustomEvent( event, params.bubbles, params.cancelable, params.detail );
        return evt;
      }

      CustomEvent.prototype = window.Event.prototype;

      window.CustomEvent = CustomEvent;
    })();    
  </script>


  {% include '__opt-js-content-for-header' %}
  {{ js_content_for_header }}
  {% include 'oldIE-js' %}
	{{ 'custom.scss.css' | asset_url | stylesheet_tag }}
</head>
{% assign opc = 0 %}
<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if settings.enable_currencies %} currencies-enabled{% endif %}" data-transitions="false" style="opacity:{{opc}};">


  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

    {% section 'header' %}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
      </main>

      {% include 'footer_social' %}
      {% section 'footer-promotions' %}
      {% section 'footer' %}

    </div>
  </div>

  {% include 'signup_popup_emarsys' %}

  {% if settings.cart_type == 'drawer' %}
    {% include 'ajax-cart-template' %}
  {% endif %}

  {% if settings.enable_currencies %}
    <span
      id="CurrencyData"
      class="hide"
      data-shop-currency="{{ shop.currency }}"
      data-default-currency="{{ settings.default_currency | default: shop.currency }}"
      data-format="{{ settings.currency_format | default: 'money_with_currency_format' }}"
      data-money-format="{{ shop.money_format | strip_html }}"
      data-money-currency-format="{{ shop.money_with_currency_format | strip_html }}">
    </span>
  {% endif %}

  {% include 'qty-selector-template' %}
  {% include 'video-modal' %}
  {% include 'photoswipe-template' %}
  {% if template contains 'product' %}
    {% include 'recently-viewed-product-template' %}
  {% endif %}
  {%- if template contains 'product' or template == "index" -%}
    {%- include 'product-footer-buy' -%}
  {%- endif -%}

  {%- include 'cart-upsell' -%}

  <div style="display: none;" id="cart_json">
    {{ cart | json }}
  </div>
  {%- if settings.isGWPCampaign -%}
    {%- if settings.gwp_product1 != blank -%}
      <div style="display: none;" id="gwp_product">
        {{all_products[settings.gwp_product1] | json }}
      </div>
      <input data-minprice="{{settings.gwp_minimum_price1}}"  type="hidden" value="{{all_products[settings.gwp_product1].variants.first.id}}" id="gwp1"/>
    {%- endif -%}

    {%- if settings.gwp_product2 != blank -%}
      <div style="display: none;" id="gwp_product2">
        {{all_products[settings.gwp_product2] | json }}
      </div>
      <input data-minprice="{{settings.gwp_minimum_price2}}" type="hidden" value="{{all_products[settings.gwp_product2].variants.first.id}}" id="gwp2"/>
    {%- endif -%}

  {%- endif -%}
  <!-- Back to top button -->
  <a id="btt-button"></a>

  <link defer="defer" rel="preload" href="{{'vendor.js' | asset_url }}" as="script" type="text/javascript" >
  <link defer="defer" rel="preload" href="{{'theme.min.js' | asset_url }}" as="script" type="text/javascript" >
  <!--<link defer="defer" rel="preload" href="{{'jumpstart_scripts_min.js' | asset_url }}" as="script" type="text/javascript" >-->
  
  {% include 'defer-script' with 'vendor.js' %}

  {% if settings.enable_currencies %}
    <script src="/services/javascripts/currencies.js" defer="defer" data-no-instant></script>
    {% include 'defer-script' with 'jquery.currencies.min.js' %}
  {% endif %}
  {% include 'defer-script' with 'theme.min.js' %}
  {%- comment %}
    Trustpilot scripts
  {% endcomment -%}

  {%- if template contains 'customers' -%}
    {% include 'defer-shopify-script' with 'shopify_common.js' %}
  {%- endif -%}

  <script defer type="text/javascript" src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
  <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/0.4.1/cart.min.js" data-no-instant></script>
  {% include 'defer-script' with 'jumpstart_scripts_min.js'%}


<!-- Start VWO Asynchronous Code -->
<script type='text/javascript' data-no-instant>
var _vwo_code=(function(){
var account_id=326137,
settings_tolerance=2000,
library_tolerance=2500,
use_existing_jquery=false,
/* DO NOT EDIT BELOW THIS LINE */
f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
</script>
<!-- End VWO Asynchronous Code -->

  <script data-no-instant>
    document.addEventListener("DOMContentLoaded", function(event) {
      setTimeout(function(){
        document.dispatchEvent(new CustomEvent("StartKernelLoading"));
      }, 200);
      setTimeout(function(){
        document.dispatchEvent(new CustomEvent("StartAsyncLoading"));
      }, 8000);
      setTimeout(function(){
        loadJS("//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js");
        document.dispatchEvent(new CustomEvent("UrgencyLoad"));
      }, 3000);
      setTimeout(function(){
        $('body').css('opacity', 1);
      }, 500);
    })
  </script>
  {% include '_emarsys_connect'%}
  {% include 'urgency-cart' %}
</body>
</html>
