<div data-bgset="{% include 'bgset', image: section.settings.bg_img %}" class="bg_img lazyload desktop_img page-width page-content">
  <div class="section-header section-header--404">
    <h1 class="section-header__title">{{ 'general.404.title' | t }}</h1>
    <div class="rte text-spacing">
    {{ 'general.404.subtext_html' | t }}
    </div>
  </div>
</div>

<div data-bgset="{% include 'bgset', image: section.settings.bg_img %}" class="lazyload bg_img mobile_img page-width page-content">
  <div class="lazyload section-header section-header--404">
    <h1 class="section-header__title">{{ 'general.404.title' | t }}</h1>
    <div class="rte text-spacing">
    {{ 'general.404.subtext_html' | t }}
    </div>
  </div>
</div>

<style>
.bg_img {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
</style>
{%- include 'include-cta_icon' -%}

{% schema %}
  {
    "name": "404 pages",
    "settings": [
      {
        "type": "header",
        "content": "404"
      },
      {
        "type": "image_picker",
        "id": "bg_img",
        "label": "Select background image"
      },
      {
        "type": "image_picker",
        "id": "mobile_bg_img",
        "label": "Select Mobile background image"
      }
    ]
  }
{% endschema %}
