<div style="background-color: #F5FAFB;" class="heroBanner_container">
  <img src="{{section.settings.banner | img_url: '1800x1800'}}" class="lazyload page_hero desktop_img" alt="">
  <img src="{{section.settings.mob_banner | img_url: '1800x1800'}}" class="lazyload mobile_img page_hero" alt="">
</div>
{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mob_banner",
      "label": "Mobile Image"
    }
  ]
}
{% endschema %}
