{%- comment %}
	Desktop
{% endcomment -%}
<div data-bgset="{% include 'bgset', image: section.settings.bg_img %}" data-src='<div class="page-width">
    <div class="lazyload bg_slider_col">
      <h1 class="slider-h1">{{section.settings.title}}</h1>
      <div class="bg_slider_init">
        {%- for block in section.blocks -%}
          <div class="block_contain">
            <p class="reset_this_font bgslider-font">{{block.settings.block_title}}</p>
            <p class="mega_num">{{forloop.index}}</p>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>' class="lazyload _desktop_bg_div bg-slider bg_slider{{section.id}}">
</div>
{%- comment %}
	Mobile
{% endcomment -%}
<div data-bgset="{% include 'bgset', image: section.settings.bg_img_mob %}" data-src='<div class="page-width">
    <div class="lazyload bg_slider_col">
      <h1 class="slider-h1">{{section.settings.title}}</h1>
      <div class="bg_slider_init">
        {%- for block in section.blocks -%}
          <div class="block_contain">
            <p class="reset_this_font bgslider-font">{{block.settings.block_title}}</p>
            <p class="mega_num">{{forloop.index}}</p>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>' class="lazyload bg-slider _mobile_bg_div bg_slider{{section.id}}">

</div>
{% schema %}
{
  "name": "Background Image Slider",
  "class" : "reset-index-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "bg_img_mob",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "slider_content",
      "name": "Slider Content",
      "settings": [
        {
          "type": "textarea",
          "id": "block_title",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Background Image Slider",
      "category": "Coco & Eve",
      "settings":{}
    }
  ]
}
{% endschema %}

<style>
.bg_slider{{section.id}}{
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  .bg_slider{{section.id}}{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
}
</style>
