{% include 'include-cta_icon' %}
{% schema %}
  {
    "name": "CTA Section",
    "settings": [
      {
        "type": "header",
        "content": "CTA Section"
      }
    ],
    "presets": [
      {
        "name": "CTA Section",
        "category": "Coco & Eve"
      }
    ]
  }
{% endschema %}
