{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div
  data-section-id="{{ section.id }}"
  data-section-type="featured-content-section"
  class="text-{{ section.settings.align_text }} js-custom-div"
  data-src='  <div class="page-width">
      <div class="grid">
        <div class="grid__item{% if section.settings.narrow_column %} medium-up--three-quarters medium-up--push-one-eighth{% endif %}">
          {% if section.settings.title != blank %}
            <h2 class="reset-h2z h2 homepage-ingredient">{{ section.settings.title }}</h2>
          {% endif %}

          {% if section.settings.text != blank %}
            <div class="rte">
              {% if section.settings.enlarge_text %}<div class="enlarge-text">{% endif %}
              {{ section.settings.text }}
              {% if section.settings.enlarge_text %}</div>{% endif %}
            </div>
          {% endif %}

          {% for block in section.blocks %}
            <div class="rte" {{ block.shopify_attributes }}>
              {% case block.type %}
                {% when 'page' %}
                  {% if block.settings.home_page_content != blank %}
                    {{ pages[block.settings.home_page_content].content }}
                  {% else %}
                    {{ 'home_page.onboarding.no_content' | t }}
                  {% endif %}
                {% when 'text' %}
                  {% if block.settings.home_page_richtext != blank %}
                    {% if block.settings.enlarge_text %}<div class="enlarge-text">{% endif %}
                    {{ block.settings.home_page_richtext }}
                    {% if block.settings.enlarge_text %}</div>{% endif %}
                  {% else %}
                    {{ 'home_page.onboarding.no_content' | t }}
                  {% endif %}
              {% endcase %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>'>


</div>

{% if section.settings.divider %}</div>{% endif %}

{% schema %}
  {
    "name": "Rich text",
    "class": "index-section",
    "max_blocks": 2,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>A sentence or two introducing your brand, what you sell, and what makes your brand compelling to customers.</p>"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "narrow_column",
        "label": "Narrow column"
      },
      {
        "type": "checkbox",
        "id": "enlarge_text",
        "label": "Enlarge text",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [{
      "name": "Rich text",
      "category": "Text"
    }],
    "blocks" : [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "checkbox",
            "id": "enlarge_text",
            "label": "Enlarge text",
            "default": false
          },
          {
            "id": "home_page_richtext",
            "type": "richtext",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "id": "home_page_content",
            "type": "page",
            "label": "Page"
          }
        ]
      }
    ]
  }
{% endschema %}
