<footer class="site-footer">
  <div class="page-width">
<!-- New Footer -->
  <div class="grid footerStyles">
    <div class="grid__item medium-up--one-half bbNone">
      <p class="h4 footer__title">Got a question?</p>
      <p>Email us at <a class="hello-coco" href="mailto:hello@cocoandeve.com">hello@cocoandeve.com</a></p>
      <div class="grid">
        {%- assign row_width = 0 -%}
        {% for block in section.blocks %}
          {%- assign row_width = row_width | plus: block.settings.container_width -%}
          {% if row_width > 100 %}
            <div class="footer__clear small--hide"></div>
            {%- assign row_width = row_width | minus: 100 -%}
          {% endif %}
          <div {{ block.shopify_attributes }} class="grid__item footer__item--{{ block.id }} mobile-menu" data-type="{{ block.type }}">
            <style>
              @media only screen and (min-width: 768px) and (max-width: 959px) {
                .footer__item--{{ block.id }} {
                  width: 50%;
                  padding-top: 40px;
                }
                .footer__item--{{ block.id }}:nth-child(2n + 1) {
                  clear: left;
                }
              }
              @media only screen and (min-width: 960px) {
                .footer__item--{{ block.id }} {
                  width: {{ block.settings.container_width }}%;
                }

              }
            </style>

            {% case block.type %}
            {% when 'menu' %}
              {% include 'footer-menu', block: block %}
            {% endcase %}
          </div>
        {% endfor %}
        {% for block in section.blocks %}
          {% if block.type == 'logo' %}
            <div class="grid__item medium-up--hide">
              {% include 'footer-logo', block: block %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="grid__item medium-up--one-half bbNone no-pads-bottom">
      <p>Sign up now to receive exclusive offers, promotions and beauty tips via email.</p>
      {% include 'footer-newsletter' %}
      {% if section.settings.show_payment_icons %}
        {% if section.settings.footer_payment_icons != blank %}
          {% assign footercard = section.settings.footer_payment_icons | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img style="width: 208px;" class="paymentIcons lazyload" data-src="{{ footercard }}" data-widths="[180, 360, 540, 720, 900, 1080]" data-aspectratio="1.5" data-sizes="auto" width="208" alt="">
        {% endif %}
      {% endif %}
      <p>You can unsubscribe at any time. Please read our <a class="very-private" href="{{ shop.url }}/pages/privacy-policy">Privacy Policy</a> for more information about how we use your data.</p>
    </div>
  </div>
  {%- if template contains 'product' or template == "index" -%}
    {% assign mobilePad = 'mobile-pad-bottom' %}
  {%- endif -%}
  <div class="grid {{mobilePad}}">
    <div class="grid__item">
      <p class="footer-disclaimer greenLine"><sup>*</sup>Everyone's hair is different and results may vary from person to person</p>
    </div>
    <div class="grid__item">
      <p class="copyright_text">© 2019 Coco&Eve</p>
    </div>
  </div>

  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "max_blocks": 12,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "footer_payment_icons",
        "label": "Payment Icons"
      },
      {
        "type": "checkbox",
        "id": "show_copyright",
        "label": "Show copyright"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Additional copyright text"
      }
    ],
    "blocks": [
      {
        "type": "logo_social",
        "name": "Logo",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
          },
          {
            "type": "range",
            "id": "desktop_logo_height",
            "label": "Logo height",
            "default": 50,
            "min": 20,
            "max": 120,
            "unit": "px"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "menu",
        "name": "Navigation",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Choose a menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter and social",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading",
            "default": true
          },
          {
            "type": "paragraph",
            "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers)."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Sign up and save"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "info": "Optional",
            "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      },
      {
        "type": "custom",
        "name": "Custom text",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_footer_title",
            "label": "Show heading",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Custom text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Add your own custom text here.</p>"
          },
          {
            "type": "range",
            "id": "container_width",
            "label": "Column width",
            "default": 25,
            "min": 15,
            "max": 95,
            "unit": "%"
          }
        ]
      }
    ],
    "default": {
      "settings": {},
      "blocks": [
        {
          "type": "menu",
          "settings": {}
        },
        {
          "type": "logo_social",
          "settings": {}
        }
      ]
    }
  }
{% endschema %}
