{%- assign main_menu = linklists[section.settings.main_menu_link_list] -%}
{%- assign toolbar_menu = linklists[section.settings.toolbar_menu] -%}

{%- assign logo_alignment = 'left' -%}
{% if section.settings.main_menu_alignment == 'center-left' or section.settings.main_menu_alignment == 'center-split' or section.settings.main_menu_alignment == 'center' or section.settings.main_menu_alignment == 'center-drawer' %}
  {%- assign logo_alignment = 'center' -%}
{% endif %}

{%- assign dropdown_alignment = 'left' -%}
{% if section.settings.main_menu_alignment == 'left-center' or section.settings.main_menu_alignment == 'center-split' or section.settings.main_menu_alignment == 'center' %}
  {%- assign dropdown_alignment = 'center' -%}
{% endif %}

{% include 'drawer-menu' %}
{% include 'cart-drawer' %}

{%- assign template_name = template | replace: '.', ' ' | truncatewords: 2, '' | handle -%}

{%- assign sticky_header = false -%}
{% if section.settings.header_style == 'sticky' %}
  {%- assign sticky_header = true -%}
{% endif %}
{%- assign overlay_header = false -%}
{%- assign has_logo = false -%}
{% if template_name == 'index' and section.settings.sticky_index %}
  {%- assign overlay_header = true -%}
{% endif %}
{% if template_name == 'collection' and collection.image and section.settings.sticky_collection %}
  {%- assign overlay_header = true -%}
{% endif %}

<style>
  .site-nav__link,
  .site-nav__dropdown-link:not(.site-nav__dropdown-link--top-level) {
    font-size: {{ settings.type_navigation_size }}px;
  }

  {% if settings.type_navigation_size < 18 %}
    .site-nav__link {
      padding-left: 10px;
      padding-right: 10px;
    }
  {% endif %}
</style>

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  {% if overlay_header %}
    {% include 'announcement-bar' %}
  {% endif %}

  {% unless overlay_header %}
    {% if section.settings.toolbar_currencies or section.settings.toolbar_social or section.settings.toolbar_menu != blank %}
      {% include 'toolbar', overlay_header: overlay_header  %}
    {% endif %}
  {% endunless %}

  <div class="header-sticky-wrapper">
    <div class="header-wrapper{% if overlay_header %} header-wrapper--sticky is-light{% endif %}">

      {% if overlay_header %}
        {% if section.settings.toolbar_currencies or section.settings.toolbar_social or section.settings.toolbar_menu != blank %}
          {% include 'toolbar', overlay_header: overlay_header  %}
        {% endif %}
      {% endif %}
      <header
        class="site-header{% if settings.type_navigation_style == 'heading' %} site-header--heading-style{% endif %}"
        data-sticky="{{ sticky_header }}">
        {% unless overlay_header %}
          {% include 'announcement-bar' %}
        {% endunless %}
        <div class="page-width pink-header">
          <div
            class="header-layout header-layout--{{ section.settings.main_menu_alignment }}"
            data-logo-align="{{ logo_alignment }}">

            {% if logo_alignment == 'left' %}
              <div class="header-item header-item--logo">
                {% include 'header-logo-block' %}
              </div>
            {% endif %}

            {% if logo_alignment == 'left' and section.settings.main_menu_alignment != 'left-drawer' %}
              <div class="header-item header-item--navigation{% if section.settings.main_menu_alignment == 'left-center' %} text-center{% endif %}">
                {% include 'header-desktop-nav' %}
              </div>
            {% endif %}

            {% if logo_alignment == 'center' %}
              <div class="header-item header-item--left header-item--navigation">
                {% if section.settings.main_menu_alignment == 'center' or section.settings.main_menu_alignment == 'center-split' %}
                  {% if section.settings.header_search_enable %}
                    <div class="site-nav small--hide">
                      <a href="/search" class="site-nav__link site-nav__link--icon js-search-header js-no-transition">
                        {% include 'icon-search' %}
                        <span class="icon__fallback-text">{{ 'general.search.title' | t }}</span>
                      </a>
                    </div>
                  {% endif %}
                {% endif %}

                {% if section.settings.main_menu_alignment == 'center-left' %}
                  {% include 'header-desktop-nav' %}
                {% endif %}

                <div class="site-nav{% unless section.settings.main_menu_alignment == 'center-drawer' %} medium-up--hide{% endunless %}">
                  <button
                    type="button"
                    class="site-nav__link site-nav__link--icon js-drawer-open-nav"
                    aria-controls="NavDrawer">
                    {% include 'icon-hamburger' %}
                    <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span>
                  </button>
                </div>
              </div>

              {% if section.settings.main_menu_alignment == 'center-split' %}
                {% include 'header-split-nav' %}
              {% endif %}

              {% if section.settings.main_menu_alignment != 'center-split' %}
                <div class="header-item header-item--logo">
                  {% include 'header-logo-block' %}
                </div>
              {% endif %}
            {% endif %}

            <div class="header-item header-item--icons">
              {% include 'header-icons' %}
            </div>
          </div>

          {% if section.settings.main_menu_alignment == 'center' %}
            <div class="text-center">
              {% include 'header-desktop-nav' %}
            </div>
          {% endif %}
        </div>
        <div class="site-header__search-container">
          <div class="site-header__search">
            <div class="page-width">
              <form action="/search" method="get" class="site-header__search-form" role="search">
                {% if settings.search_results == 'products' %}
                  <input type="hidden" name="type" value="product">
                {% endif %}
                <button type="submit" class="text-link site-header__search-btn">
                  {% include 'icon-search' %}
                  <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
                </button>
                <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="site-header__search-input" aria-label="{{ 'general.search.placeholder' | t }}">
              </form>
              <button type="button" class="js-search-header-close text-link site-header__search-btn">
                {% include 'icon-close' %}
                <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
              </button>
            </div>
          </div>
        </div>

      </header>
    </div>
  </div>


</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "main_menu_link_list",
        "label": "Navigation",
        "default": "main-menu"
      },
      {
        "type": "select",
        "id": "main_menu_alignment",
        "label": "Header layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Logo left, menu left"
          },
          {
            "value": "left-center",
            "label": "Logo left, menu center"
          },
          {
            "value": "left-drawer",
            "label": "Logo left, menu drawer"
          },
          {
            "value": "center-left",
            "label": "Logo center, menu left"
          },
          {
            "value": "center-split",
            "label": "Logo center, menu split"
          },
          {
            "value": "center",
            "label": "Logo center, menu below"
          },
          {
            "value": "center-drawer",
            "label": "Logo center, menu drawer"
          }
        ]
      },
      {
        "type": "select",
        "id": "header_style",
        "label": "Header style",
        "default": "normal",
        "options": [
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "sticky",
            "label": "Sticky"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "sticky_index",
        "label": "Overlay header over home page",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sticky_collection",
        "label": "Overlay header over collection",
        "info": "(if collection image is enabled)",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "header_search_enable",
        "label": "Show search icon"
      },
      {
        "type": "header",
        "content": "Toolbar"
      },
      {
        "type": "link_list",
        "id": "toolbar_menu",
        "label": "Navigation",
        "info": "This menu won't show dropdown items"
      },
      {
        "type": "checkbox",
        "id": "toolbar_social",
        "label": "Show social icons"
      },
      {
        "type": "checkbox",
        "id": "toolbar_currencies",
        "label": "Show currency converter",
        "info": "Must be enabled in 'Cart and currencies'"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_compact",
        "label": "Use compact style"
      },
      {
        "type": "header",
        "content": "Product featured image"
      },
      {
        "type": "image_picker",
        "id": "product_image_1",
        "label": "Product featured image 1 "
      },
      {
        "type": "checkbox",
        "id": "new_label_1",
        "label": "Show New Label"
      },
      {
        "type": "image_picker",
        "id": "product_image_2",
        "label": "Product featured image 2 "
      },
      {
        "type": "checkbox",
        "id": "new_label_2",
        "label": "Show New Label"
      },
      {
        "type": "image_picker",
        "id": "product_image_3",
        "label": "Product featured image 3 "
      },
      {
        "type": "checkbox",
        "id": "new_label_3",
        "label": "Show New Label"
      },
      {
        "type": "image_picker",
        "id": "product_image_4",
        "label": "Product featured image 4 "
      },
      {
        "type": "checkbox",
        "id": "new_label_4",
        "label": "Show New Label"
      },
      {
        "type": "image_picker",
        "id": "product_image_5",
        "label": "Product featured image 5 "
      },
      {
        "type": "checkbox",
        "id": "new_label_5",
        "label": "Show New Label"
      }
    ],
    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "image_picker",
            "id": "logo-inverted",
            "label": "White logo",
            "info": "Used when on top of an image"
          },
          {
            "type": "range",
            "id": "desktop_logo_width",
            "label": "Desktop logo width",
            "default": 200,
            "min": 100,
            "max": 400,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "range",
            "id": "mobile_logo_width",
            "label": "Mobile logo width",
            "default": 140,
            "min": 60,
            "max": 200,
            "step": 10,
            "unit": "px",
            "info": "Set as a max-width, may appear smaller"
          }
        ]
      },
      {
        "type": "announcement",
        "name": "Announcement",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Heading",
            "default": "Hassle-free returns"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Text",
            "default": "30-day postage paid returns"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "default": {
      "settings": {}
    }
  }
{% endschema %}
