{% if section.settings.divider %}<div class="section--divider">{% endif %}

<div style="background-color: {{section.settings.bg_color}};" data-src='{% if section.settings.title != blank %}
  <div class="section-header">
    <h2>{{ section.settings.title }}</h2>
  </div>
{% endif %}
<div class="page-width">
  <div class="video-wrapper">
  {% if section.settings.video_url == blank %}
    <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="560" height="315" frameborder="0" allowfullscreen></iframe>
  {% else %}
    {% if section.settings.video_url.type == "youtube" %}
      <iframe src="//www.youtube.com/embed/{{ section.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="560" height="315" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    {% if section.settings.video_url.type == "vimeo" %}
      <iframe src="//player.vimeo.com/video/{{ section.settings.video_url.id }}?color={{ settings.color_button | remove: "#" }}&byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
    {% endif %}
  {% endif %}
  </div>
</div>' class="js-custom-div own-padding">

</div>

{% if section.settings.divider %}</div>{% endif %}


{% schema %}
  {
    "name": "Video - Background Color",
    "class": "index-section reset-home-index",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "video_url",
        "id": "video_url",
        "label": "Video link",
        "accept": ["youtube", "vimeo"]
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Video - Background Color",
        "category": "Coco & Eve"
      }
    ]
  }
{% endschema %}
