<div class="home-product">
  {% assign product = all_products[section.settings.product] %}
  {%- include 'product-template',
  image_position: section.settings.image_position,
  image_container_width: section.settings.image_size,
  section_id: product.id,
  social: false,
  thumbnail_position: section.settings.thumbnail_position,
  product_subtitle: section.settings.product_subtitle
  -%}
</div>
{% schema %}
{
  "name": "Product Form",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Select Product"
    },
    {
      "type": "text",
      "id" : "product_subtitle",
      "label": "Subtitle below Product title"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Images position",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Image size",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "default": "beside",
      "options": [
        {
          "value": "beside",
          "label": "Next to image"
        },
        {
          "value": "below",
          "label": "Below image"
        }
      ]
    },
    {
      "type": "html",
      "id" : "variant1_subtitle",
      "label": "Subtitle below Variant 1 title"
    },
    {
      "type": "html",
      "id" : "variant2_subtitle",
      "label": "Subtitle below Variant 2 title"
    },
    {
      "type": "checkbox",
      "id" : "shipping_enable",
      "label": "Enable shipping section below youtube slideshow"
    },
    {
      "type": "richtext",
      "id" : "shipping_howtouse",
      "label": "How to Use info"
    }
    ],
  "presets": [
    {
      "name": "Product Form",
      "category": "Coco & Eve",
      "settings": {}
    }
  ]
}
{% endschema %}
