<div class="">
  {% include "include-trustpilot" %}
</div>

{% schema %}
  {
    "name": "Trustpilot",
    "class": "index-section reset-home-index",
    "settings" : [
      {
        "type": "color",
        "id": "bg_color",
        "label": "background-color",
        "default": "#f7fafb"
      }
    ],
    "presets": [
      {
        "name": "Trustpilot",
        "category": "Coco & Eve"
      }
    ]
  }
{% endschema %}
