<div class="justImg_container js-custom-div" data-src='{%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  {%- assign img_url_mobile = section.settings.mobile_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <img style="width: 100%; margin-bottom: -7px;" class="lazyload desktop_img" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1250]"  data-aspectratio="{{ section.settings.image.aspect_ratio }}" data-sizes="auto" alt="{{ section.settings.image.alt }}">
  <img style="width: 100%" class="lazyload mobile_img js-reset_just_mobile" data-src="{{ img_url_mobile }}" data-widths="[180, 360, 540, 720, 900]"  data-aspectratio="{{ section.settings.mobile_image.aspect_ratio }}" data-sizes="auto" alt="{{ section.settings.mobile_image.alt }}">'>

</div>
{% schema %}
{
  "name": "Just Image",
  "class" : "reset-index-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    }
    ],
  "presets": [
    {
      "name": "Just Image",
      "category": "Coco & Eve",
      "settings": {}
    }
  ]
}
{% endschema %}
