{%- comment %}
	Desktop
{% endcomment -%}
<div data-bgset="{% include 'bgset', image: section.settings.bg_img %}" data-src='<div class="page-width">
  <div class="three_col_contain">
    <h2 class="col_h2" style="color: {{section.settings.text_Color}};">{{section.settings.title}}</h2>
    <div class="lazyload store_col">
      <div class="col_icon_con">
        <img width="80%" class="lazyload col_icon" src="{{section.settings.img1 | img_url: '600x600', scale: 2}}" alt="">
        <p style="color: {{section.settings.text_Color}}; font-weight: bold;">{{section.settings.text1}}</p>
      </div>
      <div class="col_icon_con">
        <img width="80%" class="lazyload col_icon" src="{{section.settings.img2 | img_url: '600x600', scale: 2}}" alt="">
        <p style="color: {{section.settings.text_Color}}; font-weight: bold;">{{section.settings.text2}}</p>
      </div>
      <div class="col_icon_con">
        <img width="80%" class="lazyload col_icon" src="{{section.settings.img3 | img_url: '600x600', scale: 2}}" alt="">
        <p style="color: {{section.settings.text_Color}}; font-weight: bold;">{{section.settings.text3}}</p>
      </div>
    </div>
  </div>
  <div class="btm_text">
    <p class="col_p" style="color: {{section.settings.text_Color}};">{{section.settings.btm_text}}</p>
  </div>
</div>' class="js-custom-div _desktop_bg_div lazyload js-three_col-{{section.id}}">
</div>
{%- comment %}
	Mobile
{% endcomment -%}
<div data-bgset="{% include 'bgset', image: section.settings.bg_img_mob %}" data-src='<div class="page-width">
  <div class="three_col_contain">
    <h2 class="col_h2" style="color: {{section.settings.text_Color}};">{{section.settings.title}}</h2>
    <div class="lazyload store_col">
      <div class="col_icon_con">
        <img width="80%" class="lazyload col_icon" src="{{section.settings.img1 | img_url: '600x600', scale: 2}}" alt="">
        <p style="color: {{section.settings.text_Color}}; font-weight: bold;">{{section.settings.text1}}</p>
      </div>
      <div class="col_icon_con">
        <img width="80%" class="lazyload col_icon" src="{{section.settings.img2 | img_url: '600x600', scale: 2}}" alt="">
        <p style="color: {{section.settings.text_Color}}; font-weight: bold;">{{section.settings.text2}}</p>
      </div>
      <div class="col_icon_con">
        <img width="80%" class="lazyload col_icon" src="{{section.settings.img3 | img_url: '600x600', scale: 2}}" alt="">
        <p style="color: {{section.settings.text_Color}}; font-weight: bold;">{{section.settings.text3}}</p>
      </div>
    </div>
  </div>
  <div class="btm_text">
    <p class="col_p" style="color: {{section.settings.text_Color}};">{{section.settings.btm_text}}</p>
  </div>
</div>' class="js-custom-div lazyload _mobile_bg_div js-three_col-{{section.id}}">
</div>
{% schema %}
{
  "name": "Large Image with column",
  "class" : "reset-index-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_img_mob",
      "label": "Mobile Background Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "btm_text",
      "label": "Bottom text"
    },
    {
      "type": "color",
      "id": "text_Color",
      "label": "Text Color"
    },
    {
      "type": "header",
      "content": "Column 1"
    },
    {
      "type": "image_picker",
      "id": "img1",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Column 2"
    },
    {
      "type": "image_picker",
      "id": "img2",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Column 3"
    },
    {
      "type": "image_picker",
      "id": "img3",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Large Image with column",
      "category": "Coco & Eve",
      "settings": {}
    }
  ]
}
{% endschema %}

<style>
  .js-three_col-{{section.id}}{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }


</style>
