{% if section.settings.page_title_enable or section.settings.page_content_enable %}
  <div class="page-width page-content{% if section.blocks.size > 0 %} page-content--with-blocks{% endif %}">
    {% include 'breadcrumbs' %}

    <div class="grid">
      <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

        {% if section.settings.page_title_enable %}
          <header class="section-header">
            <h1 class="section-header__title">{{ page.title }}</h1>
          </header>
        {% endif %}

        {% if section.settings.page_content_enable %}
          <div class="rte text-spacing">
            {{ page.content }}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
{% endif %}

{% include 'modal_popup' %}

<style media="screen">
.cta-div {
  background-color: white !important;
}
</style>


{% include 'page-template-blocks', bg_color: section.settings.bg_color, from_page: true %}
{% schema %}
  {
    "name": "Page.sections page",
    "settings": [
      {
        "type": "checkbox",
        "id": "page_title_enable",
        "label": "Show page title"
      },
      {
        "type": "checkbox",
        "id": "page_content_enable",
        "label": "Show page content"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      }
    ],
    "blocks": [
      {
        "type": "contact-form",
        "name": "Contact form",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Contact us"
          },
          {
            "type": "checkbox",
            "id": "show_phone",
            "label": "Show phone number"
          }
        ]
      },
      {
        "type": "review-widget-youtube",
        "name": "Review Page Customer",
        "settings": [
          {
            "type" : "text",
            "id" : "title",
            "label" : "Main Title"
          },
          {
            "type" : "color",
            "id": "bg_color",
            "label": "Background Color"
          },
          {
            "type": "header",
            "content": "Influencer Section settings"
          },
          {
            "type": "image_picker",
            "id": "influencer_1_img",
            "label": "Influencer 1 image"
          },
          {
            "type": "url",
            "id": "influencer_1_ytlink",
            "label": "Influencer 1 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_1_name",
            "label": "Influencer 1 Name"
          },
          {
            "type": "url",
            "id": "influencer_1_link",
            "label": "Influencer 1 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_1_text",
            "label": "Influencer 1 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_2_img",
            "label": "Influencer 2 image"
          },
          {
            "type": "url",
            "id": "influencer_2_ytlink",
            "label": "Influencer 2 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_2_name",
            "label": "Influencer 2 Name"
          },
          {
            "type": "url",
            "id": "influencer_2_link",
            "label": "Influencer 2 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_2_text",
            "label": "Influencer 2 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_3_img",
            "label": "Influencer 3 image"
          },
          {
            "type": "url",
            "id": "influencer_3_ytlink",
            "label": "Influencer 3 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_3_name",
            "label": "Influencer 3 Name"
          },
          {
            "type": "url",
            "id": "influencer_3_link",
            "label": "Influencer 3 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_3_text",
            "label": "Influencer 3 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_4_img",
            "label": "Influencer 4 image"
          },
          {
            "type": "url",
            "id": "influencer_4_ytlink",
            "label": "Influencer 4 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_4_name",
            "label": "Influencer 4 Name"
          },
          {
            "type": "url",
            "id": "influencer_4_link",
            "label": "Influencer 4 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_4_text",
            "label": "Influencer 4 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_5_img",
            "label": "Influencer 5 image"
          },
          {
            "type": "url",
            "id": "influencer_5_ytlink",
            "label": "Influencer 5 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_5_name",
            "label": "Influencer 5 Name"
          },
          {
            "type": "url",
            "id": "influencer_5_link",
            "label": "Influencer 5 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_5_text",
            "label": "Influencer 5 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_6_img",
            "label": "Influencer 6 image"
          },
          {
            "type": "url",
            "id": "influencer_6_ytlink",
            "label": "Influencer 6 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_6_name",
            "label": "Influencer 6 Name"
          },
          {
            "type": "url",
            "id": "influencer_6_link",
            "label": "Influencer 6 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_6_text",
            "label": "Influencer 6 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_7_img",
            "label": "Influencer 7 image"
          },
          {
            "type": "url",
            "id": "influencer_7_ytlink",
            "label": "Influencer 7 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_7_name",
            "label": "Influencer 7 Name"
          },
          {
            "type": "url",
            "id": "influencer_7_link",
            "label": "Influencer 7 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_7_text",
            "label": "Influencer 7 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_8_img",
            "label": "Influencer 8 image"
          },
          {
            "type": "url",
            "id": "influencer_8_ytlink",
            "label": "Influencer 8 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_8_name",
            "label": "Influencer 8 Name"
          },
          {
            "type": "url",
            "id": "influencer_8_link",
            "label": "Influencer 8 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_8_text",
            "label": "Influencer 8 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_9_img",
            "label": "Influencer 9 image"
          },
          {
            "type": "url",
            "id": "influencer_9_ytlink",
            "label": "Influencer 9 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_9_name",
            "label": "Influencer 9 Name"
          },
          {
            "type": "url",
            "id": "influencer_9_link",
            "label": "Influencer 9 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_9_text",
            "label": "Influencer 9 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_10_img",
            "label": "Influencer 10 image"
          },
          {
            "type": "url",
            "id": "influencer_10_ytlink",
            "label": "Influencer 10 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_10_name",
            "label": "Influencer 10 Name"
          },
          {
            "type": "url",
            "id": "influencer_10_link",
            "label": "Influencer 10 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_10_text",
            "label": "Influencer 10 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_11_img",
            "label": "Influencer 11 image"
          },
          {
            "type": "url",
            "id": "influencer_11_ytlink",
            "label": "Influencer 11 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_11_name",
            "label": "Influencer 11 Name"
          },
          {
            "type": "url",
            "id": "influencer_11_link",
            "label": "Influencer 11 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_11_text",
            "label": "Influencer 11 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_12_img",
            "label": "Influencer 12 image"
          },
          {
            "type": "url",
            "id": "influencer_12_ytlink",
            "label": "Influencer 12 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_12_name",
            "label": "Influencer 12 Name"
          },
          {
            "type": "url",
            "id": "influencer_12_link",
            "label": "Influencer 12 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_12_text",
            "label": "Influencer 12 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_13_img",
            "label": "Influencer 13 image"
          },
          {
            "type": "url",
            "id": "influencer_13_ytlink",
            "label": "Influencer 13 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_13_name",
            "label": "Influencer 13 Name"
          },
          {
            "type": "url",
            "id": "influencer_13_link",
            "label": "Influencer 13 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_13_text",
            "label": "Influencer 13 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_14_img",
            "label": "Influencer 14 image"
          },
          {
            "type": "url",
            "id": "influencer_14_ytlink",
            "label": "Influencer 14 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_14_name",
            "label": "Influencer 14 Name"
          },
          {
            "type": "url",
            "id": "influencer_14_link",
            "label": "Influencer 14 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_14_text",
            "label": "Influencer 14 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_15_img",
            "label": "Influencer 15 image"
          },
          {
            "type": "url",
            "id": "influencer_15_ytlink",
            "label": "Influencer 15 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_15_name",
            "label": "Influencer 15 Name"
          },
          {
            "type": "url",
            "id": "influencer_15_link",
            "label": "Influencer 15 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_15_text",
            "label": "Influencer 15 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_16_img",
            "label": "Influencer 16 image"
          },
          {
            "type": "url",
            "id": "influencer_16_ytlink",
            "label": "Influencer 16 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_16_name",
            "label": "Influencer 16 Name"
          },
          {
            "type": "url",
            "id": "influencer_16_link",
            "label": "Influencer 16 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_16_text",
            "label": "Influencer 16 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_17_img",
            "label": "Influencer 17 image"
          },
          {
            "type": "url",
            "id": "influencer_17_ytlink",
            "label": "Influencer 17 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_17_name",
            "label": "Influencer 17 Name"
          },
          {
            "type": "url",
            "id": "influencer_17_link",
            "label": "Influencer 17 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_17_text",
            "label": "Influencer 17 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_18_img",
            "label": "Influencer 18 image"
          },
          {
            "type": "url",
            "id": "influencer_18_ytlink",
            "label": "Influencer 18 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_18_name",
            "label": "Influencer 18 Name"
          },
          {
            "type": "url",
            "id": "influencer_18_link",
            "label": "Influencer 18 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_18_text",
            "label": "Influencer 18 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_19_img",
            "label": "Influencer 19 image"
          },
          {
            "type": "url",
            "id": "influencer_19_ytlink",
            "label": "Influencer 19 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_19_name",
            "label": "Influencer 19 Name"
          },
          {
            "type": "url",
            "id": "influencer_19_link",
            "label": "Influencer 19 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_19_text",
            "label": "Influencer 19 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_20_img",
            "label": "Influencer 20 image"
          },
          {
            "type": "url",
            "id": "influencer_20_ytlink",
            "label": "Influencer 20 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_20_name",
            "label": "Influencer 20 Name"
          },
          {
            "type": "url",
            "id": "influencer_20_link",
            "label": "Influencer 20 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_20_text",
            "label": "Influencer 20 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_21_img",
            "label": "Influencer 21 image"
          },
          {
            "type": "url",
            "id": "influencer_21_ytlink",
            "label": "Influencer 21 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_21_name",
            "label": "Influencer 21 Name"
          },
          {
            "type": "url",
            "id": "influencer_21_link",
            "label": "Influencer 21 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_21_text",
            "label": "Influencer 21 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_22_img",
            "label": "Influencer 22 image"
          },
          {
            "type": "url",
            "id": "influencer_22_ytlink",
            "label": "Influencer 22 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_22_name",
            "label": "Influencer 22 Name"
          },
          {
            "type": "url",
            "id": "influencer_22_link",
            "label": "Influencer 22 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_22_text",
            "label": "Influencer 22 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_23_img",
            "label": "Influencer 23 image"
          },
          {
            "type": "url",
            "id": "influencer_23_ytlink",
            "label": "Influencer 23 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_23_name",
            "label": "Influencer 23 Name"
          },
          {
            "type": "url",
            "id": "influencer_23_link",
            "label": "Influencer 23 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_23_text",
            "label": "Influencer 23 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_24_img",
            "label": "Influencer 24 image"
          },
          {
            "type": "url",
            "id": "influencer_24_ytlink",
            "label": "Influencer 24 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_24_name",
            "label": "Influencer 24 Name"
          },
          {
            "type": "url",
            "id": "influencer_24_link",
            "label": "Influencer 24 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_24_text",
            "label": "Influencer 24 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_25_img",
            "label": "Influencer 25 image"
          },
          {
            "type": "url",
            "id": "influencer_25_ytlink",
            "label": "Influencer 25 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_25_name",
            "label": "Influencer 25 Name"
          },
          {
            "type": "url",
            "id": "influencer_25_link",
            "label": "Influencer 25 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_25_text",
            "label": "Influencer 25 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_26_img",
            "label": "Influencer 26 image"
          },
          {
            "type": "url",
            "id": "influencer_26_ytlink",
            "label": "Influencer 26 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_26_name",
            "label": "Influencer 26 Name"
          },
          {
            "type": "url",
            "id": "influencer_26_link",
            "label": "Influencer 26 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_26_text",
            "label": "Influencer 26 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_27_img",
            "label": "Influencer 27 image"
          },
          {
            "type": "url",
            "id": "influencer_27_ytlink",
            "label": "Influencer 27 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_27_name",
            "label": "Influencer 27 Name"
          },
          {
            "type": "url",
            "id": "influencer_27_link",
            "label": "Influencer 27 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_27_text",
            "label": "Influencer 27 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_28_img",
            "label": "Influencer 28 image"
          },
          {
            "type": "url",
            "id": "influencer_28_ytlink",
            "label": "Influencer 28 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_28_name",
            "label": "Influencer 28 Name"
          },
          {
            "type": "url",
            "id": "influencer_28_link",
            "label": "Influencer 28 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_28_text",
            "label": "Influencer 28 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_29_img",
            "label": "Influencer 29 image"
          },
          {
            "type": "url",
            "id": "influencer_29_ytlink",
            "label": "Influencer 29 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_29_name",
            "label": "Influencer 29 Name"
          },
          {
            "type": "url",
            "id": "influencer_29_link",
            "label": "Influencer 29 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_29_text",
            "label": "Influencer 29 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_30_img",
            "label": "Influencer 30 image"
          },
          {
            "type": "url",
            "id": "influencer_30_ytlink",
            "label": "Influencer 30 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_30_name",
            "label": "Influencer 30 Name"
          },
          {
            "type": "url",
            "id": "influencer_30_link",
            "label": "Influencer 30 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_30_text",
            "label": "Influencer 30 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_31_img",
            "label": "Influencer 31 image"
          },
          {
            "type": "url",
            "id": "influencer_31_ytlink",
            "label": "Influencer 31 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_31_name",
            "label": "Influencer 31 Name"
          },
          {
            "type": "url",
            "id": "influencer_31_link",
            "label": "Influencer 31 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_31_text",
            "label": "Influencer 31 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_32_img",
            "label": "Influencer 32 image"
          },
          {
            "type": "url",
            "id": "influencer_32_ytlink",
            "label": "Influencer 32 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_32_name",
            "label": "Influencer 32 Name"
          },
          {
            "type": "url",
            "id": "influencer_32_link",
            "label": "Influencer 32 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_32_text",
            "label": "Influencer 32 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_33_img",
            "label": "Influencer 33 image"
          },
          {
            "type": "url",
            "id": "influencer_33_ytlink",
            "label": "Influencer 33 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_33_name",
            "label": "Influencer 33 Name"
          },
          {
            "type": "url",
            "id": "influencer_33_link",
            "label": "Influencer 33 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_33_text",
            "label": "Influencer 33 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_34_img",
            "label": "Influencer 34 image"
          },
          {
            "type": "url",
            "id": "influencer_34_ytlink",
            "label": "Influencer 34 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_34_name",
            "label": "Influencer 34 Name"
          },
          {
            "type": "url",
            "id": "influencer_34_link",
            "label": "Influencer 34 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_34_text",
            "label": "Influencer 34 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_35_img",
            "label": "Influencer 35 image"
          },
          {
            "type": "url",
            "id": "influencer_35_ytlink",
            "label": "Influencer 35 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_35_name",
            "label": "Influencer 35 Name"
          },
          {
            "type": "url",
            "id": "influencer_35_link",
            "label": "Influencer 35 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_35_text",
            "label": "Influencer 35 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_36_img",
            "label": "Influencer 36 image"
          },
          {
            "type": "url",
            "id": "influencer_36_ytlink",
            "label": "Influencer 36 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_36_name",
            "label": "Influencer 36 Name"
          },
          {
            "type": "url",
            "id": "influencer_36_link",
            "label": "Influencer 36 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_36_text",
            "label": "Influencer 36 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_37_img",
            "label": "Influencer 37 image"
          },
          {
            "type": "url",
            "id": "influencer_37_ytlink",
            "label": "Influencer 37 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_37_name",
            "label": "Influencer 37 Name"
          },
          {
            "type": "url",
            "id": "influencer_37_link",
            "label": "Influencer 37 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_37_text",
            "label": "Influencer 37 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_38_img",
            "label": "Influencer 38 image"
          },
          {
            "type": "url",
            "id": "influencer_38_ytlink",
            "label": "Influencer 38 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_38_name",
            "label": "Influencer 38 Name"
          },
          {
            "type": "url",
            "id": "influencer_38_link",
            "label": "Influencer 38 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_38_text",
            "label": "Influencer 38 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_39_img",
            "label": "Influencer 39 image"
          },
          {
            "type": "url",
            "id": "influencer_39_ytlink",
            "label": "Influencer 39 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_39_name",
            "label": "Influencer 39 Name"
          },
          {
            "type": "url",
            "id": "influencer_39_link",
            "label": "Influencer 39 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_39_text",
            "label": "Influencer 39 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_40_img",
            "label": "Influencer 40 image"
          },
          {
            "type": "url",
            "id": "influencer_40_ytlink",
            "label": "Influencer 40 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_40_name",
            "label": "Influencer 40 Name"
          },
          {
            "type": "url",
            "id": "influencer_40_link",
            "label": "Influencer 40 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_40_text",
            "label": "Influencer 40 Text"
          },
          {
            "type": "image_picker",
            "id": "influencer_41_img",
            "label": "Influencer 41 image"
          },
          {
            "type": "url",
            "id": "influencer_41_ytlink",
            "label": "Influencer 41 Youtube Link",
            "info": "If this is not blank, we will take youtube video"
          },
          {
            "type": "text",
            "id": "influencer_41_name",
            "label": "Influencer 41 Name"
          },
          {
            "type": "url",
            "id": "influencer_41_link",
            "label": "Influencer 41 Link"
          },
          {
            "type": "richtext",
            "id": "influencer_41_text",
            "label": "Influencer 41 Text"
          }
        ]
      },
      {
        "type": "just-image",
        "name": "Just Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
          }
        ]
      },
      {
        "type": "cta-icon",
        "name": "CTA Icon",
        "settings": [
          {
            "type": "header",
            "content": "CTA Section"
          }
        ]
      },
      {
        "type": "trust-pilot",
        "name": "Trust pilot",
        "settings" : [
          {
            "type": "color",
            "id": "bg_color",
            "label": "background-color",
            "default": "#f7fafb"
          }
        ]
      },
      {
        "type": "custom-html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "checkbox",
            "id": "full_width",
            "label": "Full page width",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "space_around",
            "label": "Add spacing above and below",
            "default": true
          },
          {
            "type": "textarea",
            "id": "code",
            "label": "HTML",
            "default": "<h2>Custom HTML</h2><p>Use this advanced section to build your own layouts or to add custom HTML or scripts.</p>"
          }
        ]
      },
      {
        "type" : "review-widget",
        "name" : "Customer Review",
        "settings" : [
          {
            "type" : "text",
            "id" : "title",
            "label" : "Main Title"
          },
          {
            "type" : "color",
            "id": "bg_color",
            "label": "Background Color"
          }
        ]
      },
      {
        "type": "featured-collection",
        "name": "Featured collection",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Featured collection"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "range",
            "id": "per_row",
            "label": "Products per row",
            "default": 4,
            "min": 1,
            "max": 5,
            "step": 1
          },
          {
            "type": "range",
            "id": "rows",
            "label": "Rows of products",
            "default": 1,
            "min": 1,
            "max": 5,
            "step": 1
          },
          {
            "type": "checkbox",
            "id": "view_all",
            "label": "Show 'View all' link",
            "default": true
          }
        ]
      },
      {
        "type": "image-hero",
        "name": "Image hero",
        "settings": [
          {
            "type": "checkbox",
            "id": "parallax",
            "label": "Enable parallax",
            "default": true
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Heading",
            "default": "Two line\ntitle image"
          },
          {
            "type": "range",
            "id": "title_size",
            "label": "Heading text size",
            "default": 80,
            "min": 40,
            "max": 100,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "And an optional subheading"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link text",
            "default": "Optional button"
          },
          {
            "type": "url",
            "id": "link_2",
            "label": "Second link"
          },
          {
            "type": "text",
            "id": "link_text_2",
            "label": "Second link text 2"
          },
          {
            "type": "color",
            "id": "color_accent",
            "label": "Buttons",
            "default": "rgba(0,0,0,0)"
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Text alignment",
            "default": "vertical-center horizontal-center",
            "options": [
              {
                "value": "vertical-center horizontal-left",
                "label": "Center left"
              },
              {
                "value": "vertical-center horizontal-center",
                "label": "Center"
              },
              {
                "value": "vertical-center horizontal-right",
                "label": "Center right"
              },
              {
                "value": "vertical-bottom horizontal-left",
                "label": "Bottom left"
              },
              {
                "value": "vertical-bottom horizontal-center",
                "label": "Bottom center"
              },
              {
                "value": "vertical-bottom horizontal-right",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "focal_point",
            "label": "Image focal point",
            "info": "Used to keep the subject of your photo in view.",
            "default": "center center",
            "options": [
              {
                "value": "20% 0",
                "label": "Top left"
              },
              {
                "value": "top center",
                "label": "Top center"
              },
              {
                "value": "80% 0",
                "label": "Top right"
              },
              {
                "value": "20% 50%",
                "label": "Left"
              },
              {
                "value": "center center",
                "label": "Center"
              },
              {
                "value": "80% 50%",
                "label": "Right"
              },
              {
                "value": "20% 100%",
                "label": "Bottom left"
              },
              {
                "value": "bottom center",
                "label": "Bottom center"
              },
              {
                "value": "80% 100%",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "select",
            "id": "section_height",
            "label": "Desktop height",
            "default": "650px",
            "options": [
              {
                "label": "Natural",
                "value": "natural"
              },
              {
                "label": "450px",
                "value": "450px"
              },
              {
                "label": "550px",
                "value": "550px"
              },
              {
                "label": "650px",
                "value": "650px"
              },
              {
                "label": "750px",
                "value": "750px"
              },
              {
                "label": "Full screen",
                "value": "100vh"
              }
            ]
          },
          {
            "type": "select",
            "id": "mobile_height",
            "label": "Mobile height",
            "default": "auto",
            "info": "Not used if desktop height is set to natural",
            "options": [
              {
                "label": "Auto",
                "value": "auto"
              },
              {
                "label": "250px",
                "value": "250px"
              },
              {
                "label": "300px",
                "value": "300px"
              },
              {
                "label": "400px",
                "value": "400px"
              },
              {
                "label": "500px",
                "value": "500px"
              },
              {
                "label": "Full screen",
                "value": "100vh"
              }
            ]
          }
        ]
      },
      {
        "type": "text-and-image",
        "name": "Image with text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "label": "Image width",
            "default": 500,
            "min": 100,
            "max": 500,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Improved"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Image with text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Optional button"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Image on left"
              },
              {
                "value": "right",
                "label": "Image on right"
              }
            ]
          }
        ]
      },
      {
        "type": "bg-image-text-new",
        "name": "New image with text box",
        "settings": [
          {
            "type": "text",
            "id": "main_title",
            "label": "Main Title"
          },
          {
            "type": "color",
            "id": "main_title_color",
            "label" : "Main Title Color"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Impressive"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Large image with text box"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with a full-width image to draw attention to an important detail of your brand or product line.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "product",
            "id": "btn_product",
            "label": "Button Product picker",
            "info": "Please note if this is not blank, it will perform add to cart function"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
          },
          {
            "type": "color",
            "id" : "box_color",
            "label" : "Text box color"
          },
          {
            "type" : "color",
            "id" : "bold_color",
            "label" : "Bold text color"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image focal point",
            "info": "Used to keep the subject of your photo in view.",
            "default": "center",
            "options": [
              {
                "value": "20% 0",
                "label": "Top left"
              },
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "80% 0",
                "label": "Top right"
              },
              {
                "value": "20% 50%",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "80% 50%",
                "label": "Right"
              },
              {
                "value": "20% 100%",
                "label": "Bottom left"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              },
              {
                "value": "80% 100%",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "color",
            "id": "color_border",
            "label": "Image color",
            "info": "Used for mobile border",
            "default": "#f4f4f4"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Text on left"
              },
              {
                "value": "right",
                "label": "Text on right"
              }
            ]
          },
          {
            "type": "range",
            "id": "height",
            "label": "Section height",
            "default": 550,
            "min": 450,
            "max": 1050,
            "step": 100,
            "unit": "px"
          },
          {
            "type": "checkbox",
            "id": "parallax",
            "label": "Enable parallax",
            "default": true
          }
        ]
      },
      {
        "type": "background-image-text",
        "name": "Large image with text box",
        "settings": [
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Impressive"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Large image with text box"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with a full-width image to draw attention to an important detail of your brand or product line.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image focal point",
            "info": "Used to keep the subject of your photo in view.",
            "default": "center",
            "options": [
              {
                "value": "20% 0",
                "label": "Top left"
              },
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "80% 0",
                "label": "Top right"
              },
              {
                "value": "20% 50%",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "80% 50%",
                "label": "Right"
              },
              {
                "value": "20% 100%",
                "label": "Bottom left"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              },
              {
                "value": "80% 100%",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "color",
            "id": "color_border",
            "label": "Image color",
            "info": "Used for mobile border",
            "default": "#f4f4f4"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Text on left"
              },
              {
                "value": "right",
                "label": "Text on right"
              }
            ]
          },
          {
            "type": "range",
            "id": "height",
            "label": "Section height",
            "default": 550,
            "min": 450,
            "max": 750,
            "step": 100,
            "unit": "px"
          },
          {
            "type": "checkbox",
            "id": "parallax",
            "label": "Enable parallax",
            "default": true
          }
        ]
      },
      {
        "type": "map",
        "name": "Map",
        "settings": [
          {
            "id": "map_title",
            "type": "text",
            "label": "Title",
            "default": "Our retail store"
          },
          {
            "id": "address",
            "type": "richtext",
            "label": "Text",
            "default": "<p>301 Front St W<br>Toronto, Canada</p><p>Mon - Fri, 8:30am - 10:30pm<br>Saturday, 8:30am - 10:30pm<br>Sunday, 8:30am - 10:30pm</p>"
          },
          {
            "id": "map_address",
            "type": "text",
            "label": "Map address",
            "info": "Google maps will find the exact location",
            "default": "301 Front St W, Toronto, ON M5V 2T6"
          },
          {
            "id": "api_key",
            "type": "text",
            "label": "Google Maps API key",
            "info": "You'll need to [register a Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map"
          },
          {
            "id": "show_button",
            "type": "checkbox",
            "label": "Show 'Get directions' button",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Image",
            "info": "Displayed if the map isn’t loaded"
          },
          {
            "type": "select",
            "id": "background_image_position",
            "label": "Image focal point",
            "default": "center center",
            "options": [
              {
                "label": "Top left",
                "value": "top left"
              },
              {
                "label": "Top center",
                "value": "top center"
              },
              {
                "label": "Top right",
                "value": "top right"
              },
              {
                "label": "Middle left",
                "value": "center left"
              },
              {
                "label": "Middle center",
                "value": "center center"
              },
              {
                "label": "Middle right",
                "value": "center right"
              },
              {
                "label": "Bottom left",
                "value": "bottom left"
              },
              {
                "label": "Bottom center",
                "value": "bottom center"
              },
              {
                "label": "Bottom right",
                "value": "bottom right"
              }
            ],
            "info": "Used to keep the subject of your photo in view."
          }
        ]
      },
      {
        "type": "rich-text",
        "name": "Rich text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Rich text block"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this section for any descriptive text you need to fill out your pages or to add introductory headings between other blocks.</p>"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "narrow_column",
            "label": "Narrow column",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "enlarge_text",
            "label": "Enlarge text"
          }
        ]
      },
      {
        "type": "image-row",
        "name": "Row of images",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3"
          },
          {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image 4"
          },
          {
            "type": "checkbox",
            "id": "enable_gutter",
            "label": "Add spacing",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "enable_zoom",
            "label": "Enable image zoom",
            "default": true
          }
        ]
      },
      {
        "type": "testimonials",
        "name": "Testimonials",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Testimonials"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "round_images",
            "label": "Circular images",
            "info": "Requires square images"
          },
          {
            "type": "header",
            "content": "Testimonial 1"
          },
          {
            "type": "richtext",
            "id": "testimonial_1",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author_1",
            "label": "Author",
            "default": "Author's name"
          },
          {
            "type": "header",
            "content": "Testimonial 2"
          },
          {
            "type": "richtext",
            "id": "testimonial_2",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author_2",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      },
      {
        "type": "text-columns",
        "name": "Text columns with images",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          },
          {
            "type": "header",
            "content": "Column 1"
          },
          {
            "type": "checkbox",
            "id": "enable_image_1",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width_1",
            "label": "Image width",
            "default": 650,
            "min": 60,
            "max": 650,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "title_1",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text_1",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
          },
          {
            "type": "header",
            "content": "Column 2"
          },
          {
            "type": "checkbox",
            "id": "enable_image_2",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width_2",
            "label": "Image width",
            "default": 650,
            "min": 60,
            "max": 650,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text_2",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
          },
          {
            "type": "header",
            "content": "Column 3"
          },
          {
            "type": "checkbox",
            "id": "enable_image_3",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width_3",
            "label": "Image width",
            "default": 650,
            "min": 60,
            "max": 650,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "title_3",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text_3",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
          }
        ]
      },
      {
        "type": "text-columns-icon",
        "name": "Text columns with icons",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          },
          {
            "type": "header",
            "content": "Column 1"
          },
          {
            "type": "checkbox",
            "id": "enable_image_1",
            "label": "Show icon",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title_1",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text_1",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
          },
          {
            "type": "text",
            "id": "button_title1",
            "label": "Button Text",
            "default": "Button title"
          },
          {
            "type": "url",
            "id": "button_url1",
            "label": "Button URL"
          },
          {
            "type": "header",
            "content": "Column 2"
          },
          {
            "type": "checkbox",
            "id": "enable_image_2",
            "label": "Show Icon",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text_2",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
          },
          {
            "type": "text",
            "id": "button_title2",
            "label": "Button Text",
            "default": "Button title"
          },
          {
            "type": "url",
            "id": "button_url2",
            "label": "Button URL"
          },
          {
            "type": "header",
            "content": "Column 3"
          },
          {
            "type": "checkbox",
            "id": "enable_image_3",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title_3",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text_3",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
          },
          {
            "type": "text",
            "id": "button_title3",
            "label": "Button Text",
            "default": "Button title"
          },
          {
            "type": "url",
            "id": "button_url3",
            "label": "Button URL"
          }
        ]
      },
      {
        "type": "hero-video",
        "name": "Video hero",
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "Heading",
            "default": "Bring your\nbrand to life."
          },
          {
            "type": "range",
            "id": "title_size",
            "label": "Heading text size",
            "default": 80,
            "min": 40,
            "max": 100,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Seamless hero videos"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Button text",
            "default": "Optional button"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button link",
            "info": "Links to YouTube videos will be opened in a video player"
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Text alignment",
            "default": "vertical-center horizontal-center",
            "options": [
              {
                "value": "vertical-center horizontal-left",
                "label": "Center left"
              },
              {
                "value": "vertical-center horizontal-center",
                "label": "Center"
              },
              {
                "value": "vertical-center horizontal-right",
                "label": "Center right"
              },
              {
                "value": "vertical-bottom horizontal-left",
                "label": "Bottom left"
              },
              {
                "value": "vertical-bottom horizontal-center",
                "label": "Bottom center"
              },
              {
                "value": "vertical-bottom horizontal-right",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "text",
            "id": "video_url",
            "label": "Background video link",
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
            "info": "Supports YouTube, .MP4 and Vimeo. Not all features supported by Vimeo. [Learn more](https://archetypethemes.co/blogs/impulse/how-do-i-add-background-videos)"
          },
          {
            "type": "select",
            "id": "section_height",
            "label": "Section height",
            "default": "650px",
            "options": [
              {
                "label": "450px",
                "value": "450px"
              },
              {
                "label": "550px",
                "value": "550px"
              },
              {
                "label": "650px",
                "value": "650px"
              },
              {
                "label": "750px",
                "value": "750px"
              },
              {
                "label": "Full screen",
                "value": "100vh"
              }
            ]
          },
          {
            "type": "select",
            "id": "mobile_height",
            "label": "Mobile height",
            "default": "auto",
            "options": [
              {
                "label": "Auto",
                "value": "auto"
              },
              {
                "label": "250px",
                "value": "250px"
              },
              {
                "label": "300px",
                "value": "300px"
              },
              {
                "label": "400px",
                "value": "400px"
              },
              {
                "label": "500px",
                "value": "500px"
              },
              {
                "label": "Full screen",
                "value": "100vh"
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
