<div class="desktop_view" style="margin-left: -60px;">
  <ul style="margin: 0;" class="page_tab_container">
    {%- for block in section.blocks -%}
      <li class="{% if forloop.index == 1 %} active_tab {% endif %}" onclick="swapTab(this,'tab_{{forloop.index}}')">{{block.settings.tab_title}}</li>
    {%- endfor -%}
  </ul>

  <hr style="margin-top: 0;">

  <div class="tab_content">
    {%- for block in section.blocks -%}
      <div id="tab_{{forloop.index}}" class="tab_index {% if forloop.index == 1 %} active_tab_content {% endif %}">
        {{block.settings.tab_content}}
      </div>
    {%- endfor -%}
  </div>
</div>

<div class="mobile_view">
  <select class="select_tab" onchange="changeTab(this)">
    {%- for block in section.blocks -%}
      <option value="mob_tab_{{forloop.index}}">{{block.settings.tab_title}}</option>
    {%- endfor -%}
  </select>
  <div class="mob_tab_content">
    {%- for block in section.blocks -%}
      <div id="mob_tab_{{forloop.index}}" class="tab_index {% if forloop.index == 1 %} active_tab_content {% endif %} faq-p">
        {{block.settings.tab_content}}
      </div>
    {%- endfor -%}
  </div>
</div>
{% schema %}
{
  "name": "Tabs",
  "blocks": [
    {
      "type": "custom_tab",
      "name": "Tab",
      "settings": [
        {
          "type":"text",
          "id": "tab_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "tab_content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}
