{%- include 'include-presets-block-text-and-image-color' -%}
{% schema %}
{
  "name": "Image with text color",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "image_width",
      "label": "Image width",
      "default": 500,
      "min": 100,
      "max": 500,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Improved"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Image with text"
    },
    {
      "type": "color",
      "id": "title_color",
      "label" : "Title color"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Optional button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Image on left"
        },
        {
          "value": "right",
          "label": "Image on right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text color",
      "category": "Coco & Eve",
      "settings": {}
    }
  ]
}
{% endschema %}
