{% include 'include-presets-block-bg-image-text-new' %}
{% schema %}
{
  "name": "New image with text box",
  "settings": [
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title"
    },
    {
      "type": "color",
      "id": "main_title_color",
      "label" : "Main Title Color"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Impressive"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Large image with text box"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Pair large text with a full-width image to draw attention to an important detail of your brand or product line.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "color",
      "id" : "box_color",
      "label" : "Text box color"
    },
    {
      "type" : "color",
      "id" : "bold_color",
      "label" : "Bold text color"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Image focal point",
      "info": "Used to keep the subject of your photo in view.",
      "default": "center",
      "options": [
        {
          "value": "20% 0",
          "label": "Top left"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "80% 0",
          "label": "Top right"
        },
        {
          "value": "20% 50%",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "80% 50%",
          "label": "Right"
        },
        {
          "value": "20% 100%",
          "label": "Bottom left"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "80% 100%",
          "label": "Bottom right"
        }
      ]
    },
    {
      "type": "color",
      "id": "color_border",
      "label": "Image color",
      "info": "Used for mobile border",
      "default": "#f4f4f4"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Text on left"
        },
        {
          "value": "right",
          "label": "Text on right"
        }
      ]
    },
    {
      "type": "range",
      "id": "height",
      "label": "Section height",
      "default": 550,
      "min": 450,
      "max": 1050,
      "step": 100,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "parallax",
      "label": "Enable parallax",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "New image with text box",
      "category": "Coco & Eve",
      "settings": {}
    }
  ]
}
{% endschema %}
