<div class="prod-carousel" id="product-carousel">
  <div class="yt-carousel">
  {%- for block in section.blocks -%}
    {%- if forloop.index == 1 -%}
    <div style="width: 100%;">
      <iframe id="main_ytv" width="100%" height="300px" src="https://www.youtube.com/embed/{{block.settings.youtube_vid}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {%- endif -%}
  {%- endfor -%}
  </div>
  <div class="button-row">

  <div style="width: 80%; margin: 0 auto; position:relative;" id="flickity_btn" class="button-group button-group--cells">
    {%- for block in section.blocks -%}
      {%- unless forloop.length <= 1 -%}
        {%- if forloop.index == 1 -%}
          <div onclick="swapIframe('https://www.youtube.com/embed/{{block.settings.youtube_vid}}')" class="button is-selected"><img src="https://img.youtube.com/vi/{{block.settings.youtube_vid}}/hqdefault.jpg"></div>
        {%- else -%}
          <div onclick="swapIframe('https://www.youtube.com/embed/{{block.settings.youtube_vid}}')" class="button"><img src="https://img.youtube.com/vi/{{block.settings.youtube_vid}}/hqdefault.jpg"></div>
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}
  </div>
</div>
</div>


<style media="screen">


</style>
{% schema %}
{
  "name": "Youtube Settings",
  "settings": [
    {
      "type": "header",
      "content": "Youtube"
    },
    {
      "type": "checkbox",
      "id": "product_yt_enable",
      "label": "Enable Youtube section"
    }
  ],
  "blocks" : [
    {
      "type": "youtube-video",
      "name": "Youtube Video",
      "settings": [
        {
          "type": "text",
          "id": "youtube_vid",
          "label" : "Fill in youtube share link"
        }
      ]
    }
  ]
}
{% endschema %}
