/*=====Font Global======*/
$font__size-xxs:   10px;
$font__size-xs:    12px;
$font__size-sm:    14px;
$font__size-md:    16px;
$font__size-lg:    18px;
$font__size-xl:    20px;
$font__size-xxl:   24px;
$font__size-xxxl:  30px;

// global color

$color__text-main: #214093;
$color__text-light: #034ea2;
$color__text-banner:#b0a3e0;
$color__button:#ff5a8c;
$color__text:#484848;
$color__text-menu:#000;
$color__white: #fff;
$color__border-light:#73ffcb;
// global spacing
.hero__link{
  .btn{
  	border-color:$color__button;
    line-height:normal;
  }
}
.btn{
	background:$color__button;
  	border-radius:0;
  	line-height:normal;
  	font-size:$font__size-sm;
}
.popup-email{
	display:none;
}

.announcement-bar{
	background-color:$color__text-main;
}
.site-header--heading-style{
  .site-nav__link{
  	color:$color__text-menu;
    padding:7.5px 15px;
  }
} 
header {
    .pink-header{
		padding:0 100px;
      	background:$color__white;
    }
}
.site-nav__link.account{
  padding:0;
  .icon__fallback-text{
  	position:static;
    color:$color__text-main;
    border:1px solid $color__border-light;
    padding: 10px 30px;
    
  }
  .icon{
  	display:none;
  }
}
.js-drawer-open-cart{
	.cartCurrencyDiv,
    .cartText{
      display:none;
    }
}
.cart-link__bubble--visible{
	top:-50%!important;
  	width:23px!important;
  	background-color:$color__text-main;
}
.hero__slide-link{
	z-index:0;
}
.hero__text-wrap{
	width:50%;
  	float:right;
}
.hero__top-subtitle{
	font-size:50px;
  	letter-spacing:1px;
  	color:$color__text-banner;
  	text-transform:none;
  	font-weight:bold;
  	max-width:470px;
}
.hero__subtitle{
	color:$color__text-main;
  	font-weight:bold;
}

.hero{
  .slick-dots li button::before{
  	background-color:transparent;
    border:1px solid $color__button;
  }
} 
.slick-dots li.slick-active {
  button:before{
  	border:1px solid $color__button;
    background-color:$color__button;
    
  }
}
.hero__text-wrap {
  .page-width{
  	padding:0;
  }
}
.product-single__description.rte {
  ul{
  	list-style-image:url("{{ 'checkmark.svg' | asset_url }}")!important;
  }
  ul li{
  	font-size:$font__size-md;
    padding-left:10px;
  }
  .type--link{
  	color:$color__button;
  }
}