var prevArrow = '<button type="button" class="reseted-prev slick-prev slick-arrow"  role="button" style="display: inline-block;">Previous</button>',
nextArrow = '<button type="button" class="reseted-next slick-next slick-arrow"  role="button" style="display: inline-block;">Next</button>',
MGUtil = {
    data: [],
    ini: 0,
    total: 0,
    action: "add",
    reset: function() {
        this.ini = 0;
        this.data = []
    },
    ajaxpost: function(a, b, c) {
        $.ajax({
            type: "POST",
            url: a,
            dataType: "json",
            async: !1,
            data: b,
            success: function() {
                "function" === typeof c && c()
            },
            error: function() {}
        })
    },
    addItem: function(a, b, c, d) {
        a = {
            quantity: a,
            id: b
        };
        0 != c && (a.properties = c);
        MGUtil.ajaxpost("/cart/add.js", a, d)
    },
    updateItem: function(a, b, c, d) {
        a = {
            updates: {
                id: a
            }
        };
        0 != c && (a.properties = c);
        MGUtil.ajaxpost("/cart/update.js", a, d)
    },
    recursive: function() {
        MGUtil["update" == MGUtil.action ? "updateItem" : "addItem"](MGUtil.data[MGUtil.ini].qty, MGUtil.data[MGUtil.ini].id, MGUtil.data[MGUtil.ini].properties, function() {
            MGUtil.ini += 1;
            if (MGUtil.ini < MGUtil.total) MGUtil.recursive();
            else return !1
        })
    },
    begin: function(a) {
        MGUtil.data =
        a;
        MGUtil.total = MGUtil.data.length;
        MGUtil.action = "add";
        MGUtil.recursive()
    }
},
cart_success = '<div class="alert alert-success">The coupon code was successfully applied to your order.</div>',
cart_remove = '<div class="alert alert-error">The coupon code was successfully removed from your order.</div>',
productPhotoSelector, _gridProduct = "",
gwp1_vid = $("#gwp1").val(),
gwp2_vid = $("#gwp2").val();
$(function() {
    var a = JSON.parse($("#cart_json").text());
    CartJS.init(a, {
        dataAPI: !1,
        requestBodyClass: "loading"
    });
    initProductYTSldier();
    initCustomerSlider();
    initCountryRedirect();
    initCheckRadio();
    saveAmount();
    homePageSlider();
    cartDrawerCheckout();
    cartDrawerCurrency();
    checkZopim();
    jsCustomDivIO();
    520 > $(window).width() ? fixProductPage() : fixesSlickArrow();
    $(".site-navigation").children().first().css("position", "unset");
    $(".tab_index strong").parent().css("margin-bottom", "12px");
    $(window).on("load", unbindClick())
});
unbindClick = function() {
    return;
    setTimeout(function() {
        $("#NewsletterPopup-newsletter-popup").is(":visible") && (console.log("is it visible"), $("#NewsletterPopup-newsletter-popup").parent().css("z-index", 99), $("#NewsletterPopup-newsletter-popup .modal__inner").insertBefore("#NewsletterPopup-newsletter-popup"), $("#NewsletterPopup-newsletter-popup").remove(), $("#shopify-section-newsletter-popup .modal__close").on("click", function() {
            $(this);
            $("#shopify-section-newsletter-popup .modal__inner").slideToggle()
        }))
    },
    5E3)
};
jsCustomDivIO = function() {
    intersectionObserverInitDiv("div.js-custom-div")
};
hideGWPItem = function() {
    $(".isGWPFreeGift").hide()
};
checkGWPRequirement = function(a) {
    parseFloat($("#gwp1").attr("data-minprice"));
    a = $("#gwp1").val();
    var b = !1;
    $(".custom_ajaxcart__" + a).each(function() {
        var a = $(this);
        a = parseInt(a.attr("data-line")) + 1;
        $(this).hasClass("isGWPFreeGift") && (CartJS.removeItem(a), b = !0)
    });
    parseFloat($("#gwp2").attr("data-minprice"));
    a = $("#gwp2").val();
    $(".custom_ajaxcart__" + a).each(function() {
        var a = $(this);
        _line = parseInt(a.attr("data-line")) + 1;
        $(this).hasClass("isGWPFreeGift") && (CartJS.removeItem(_line), b = !0)
    });
    b && setTimeout(function() {
        return location.reload()
    },
    2E3)
};
addCartRelative = function() {
    $("#CartContainer .drawer__inner").addClass("add-relative");
    $(".drawer__footer--fixed").addClass("add-relative");
    $("#CartDrawer .btn-upsell").hide()
};
removeCartRelative = function() {
    $("#CartDrawer .btn-upsell").show();
    $("#CartContainer .drawer__inner").removeClass("add-relative");
    $(".drawer__footer--fixed").removeClass("add-relative")
};

function checkZopim() {
    setTimeout(function() {
        "undefined" !== typeof zE ? zE(function() {
            $zopim(function() {
                $zopim.livechat.departments.filter("CocoandEve");
                $zopim.livechat.departments.setVisitorDepartment("CocoandEve")
            })
        }) : checkZopim()
    }, 500)
}
cartDrawerCheckout = function() {
    $("#CartDrawer").append($(".btn-upsell"));
    $(".after-added").remove();
    setTimeout(function() {
        $("#CartDrawer").append($(".to-movecheckout").addClass("after-added"))
    }, 2E3)
};
initCountryRedirect = function() {
    $(".selectric").on("click", function() {
        $(this).parent().toggleClass("selectric-open")
    });
    $(".country-li").on("click", function() {
        var a = $(this);
        "cad" != a.attr("data-value") && (window.location.href = a.attr("data-href"))
    })
};
cartDrawerCurrency = function() {
    $(".currency-span").remove();
    setTimeout(function() {
        $(".ajaxcart__price").each(function(a, b) {
            $(b).attr("data-currency")
        })
    }, 1E3)
};

loadAnotherSection = function(a,b){
    setTimeout(function(){
        a = a.target;
        var c = a.getAttribute("data-src");
        a.innerHTML = c;
        // a.setAttribute("data-src", "");
        b.disconnect()
    }, 4000);
}

intersectionObserverInitDiv = function(a) {
    document.querySelectorAll(a).forEach(function(a) {
        (new IntersectionObserver(function(a, b) {
            a.forEach(function(a) {
                if (a.isIntersecting) {
                    a = a.target;
                    var c = a.getAttribute("data-src");
                    a.innerHTML = c;
                    a.setAttribute("data-src", "");
                    b.disconnect()
                } else {
                  loadAnotherSection(a,b);
                }

            })
        })).observe(a)
    })
};


intersectionObserverInitSliderReview = function(a, b) {
    document.querySelectorAll(a).forEach(function(c) {
        (new IntersectionObserver(function(c, e) {
            c.forEach(function(c) {
                // if (c.isIntersecting) {
                    c = c.target;
                    var d = c.getAttribute("data-src");
                    c.innerHTML = d;
                    $(a).css("visibility", "hidden");
                    setTimeout(function() {
                        try {
                        $(b).slick({
                            slidesToShow: 6,
                            slidesToScroll: 1,
                            dots: !0,
                            lazyload: "ondemand",
                            speed: 300,
                            centerMode: !0,
                            responsive: [{
                                breakpoint: 1580,
                                settings: {
                                    slidesToShow: 4
                                }
                            }, {
                                breakpoint: 1024,
                                settings: {
                                    slidesToShow: 3
                                }
                            }, {
                                breakpoint: 600,
                                settings: {
                                    slidesToShow: 1,
                                    centerMode: !0
                                }
                            }]
                        });
                    $(a).css("visibility", "visible")
                        } catch{}
                    }, 1E3);
                    e.disconnect()
                // }
            })
        })).observe(c)
    })
};
intersectionObserverInitSlider = function(a, b) {
    document.querySelectorAll(a).forEach(function(c) {
        (new IntersectionObserver(function(c, e) {
            c.forEach(function(c) {
                // if (c.isIntersecting) {
                    c = c.target;
                    var d = c.getAttribute("data-src");
                    c.innerHTML = d;
                    $(a).css("visibility", "hidden");
                    setTimeout(function() {
                        try {
                            $(b).slick({
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                infinite: !0,
                                dots: !0,
                                autoplay: !0,
                                autoplaySpeed: 5E3
                            });
                            $(a).css("visibility", "visible")                            
                        } catch {}
                    }, 1000);
                    e.disconnect()
                // }
            })
        })).observe(c)
    })
};
fixesSlickArrow = function() {
    setTimeout(function() {
        $(".js-reset_slider").prepend(prevArrow);
        $(".js-reset_slider").append(nextArrow);
        $(".reseted-next").on("click", function() {
            $(productPhotoSelector).slick("slickNext")
        });
        $(".reseted-prev").on("click", function() {
            $(productPhotoSelector).slick("slickPrev")
        })
    }, 500)
};
addItemAPI = function(a) {
    $.post("/cart/add.js", {
        quantity: 1,
        id: a
    });
    setTimeout(function() {
        $("body").trigger("added.ajaxProduct")
    }, 500)
};
fixProductPage = function() {
    $(".js-reset_slider").slick({
        dots: !1,
        slidesToShow: 8,
        slidesToScroll: 1,
        arrows: !1,
        focusOnSelect: !0,
        infinite: !0,
        customSlideAdvancement: !0
    });
    $(".js-reset_slider").on("click", ".slick-slide", function(a) {
        a = $(this).data("index");
        $(".js-reset_slider").slick("slickGoTo", a, !0);
        $(productPhotoSelector).slick("slickGoTo", a, !0)
    });
    $(".js-reset_slider").on("beforeChange", function(a, b, c, d) {
        $(productPhotoSelector).slick("slickGoTo", d, !0)
    });
    $(productPhotoSelector).on("beforeChange", function(a,
                               b, c, d) {
        $(".js-reset_slider").slick("slickGoTo", d, !0)
    })
};
initCustomerSlider = function() {
    intersectionObserverInitSliderReview("div.review-widget", ".slick-carousel")
};
saveAmount = function() {
    var a = $("#a1").val(),
    b = $("#a2").val();
    a = a / b * 100;
    $(".js_save_set").text("(SAVE " + a.toFixed(0) + "%)")
};
initCheckRadio = function() {
    var a = $("input[name='jsRadioGroup']:checked").attr("data-num"),
    b = $("input[name='Size']:checked").attr("data-num");
    a || $("input#variantChoice" + b).trigger("click")
};
checkRadio = function() {
    var a = $("input[name='jsRadioGroup']:checked").attr("data-num");
    a = $(".variantSelect_" + a);
    a.click();
    a.prev().click()
};
targetLabel = function(a) {
    $(a).next().find(".edited_js").click()
};
initProductYTSldier = function() {
    520 > $(window).width() ? ($(".js-accordion").insertAfter(".product_icon_container"), $("#product-carousel").insertAfter(".shipping_container")) : $("#product-carousel").insertBefore(".confirm-collapsibles-wrapper");
    $("#flickity_btn").slick({
        infinite: !0,
        dots: !1,
        slidesToScroll: 1,
        slidesToShow: 3
    })
};
togglePrevDiv = function(a) {
    a = $(a);
    a.text().includes("All") ? a.text("View Less Ingredients") : a.text("View All Ingredients");
    a.parent().prev().slideToggle()
};
swapIframe = function(a) {
    $("#main_ytv").attr("src", a)
};
targetAddCart = function() {
    $(".add-to-cart").click()
};
homePageSlider = function() {
    intersectionObserverInitSlider("div.bg-slider", ".bg_slider_init")
};
swapTab = function(a, b) {
    var c = $(a);
    c.parent().children().removeClass("active_tab");
    c.addClass("active_tab");
    $(".tab_content").children().removeClass("active_tab_content");
    $("#" + b).addClass("active_tab_content")
};
changeTab = function(a) {
    a = $(a).val();
    $(".mob_tab_content").children().removeClass("active_tab_content");
    $("#" + a).addClass("active_tab_content")
};
var btn = $("#btt-button");
$(window).scroll(function() {
    300 < $(window).scrollTop() ? btn.addClass("show") : btn.removeClass("show")
});
btn.on("click", function(a) {
    a.preventDefault();
    $("html, body").animate({
        scrollTop: 0
    }, "300")
});
var modal = $("#YTModal");
openYTmodal = function(a) {
    a = $(a).attr("data-id");
    modal.show();
    $('<iframe style="display:block;margin:0 auto;" src="//www.youtube.com/embed/' + a + '?rel=0&showinfo=0&vq=720" width="560" height="315" frameborder="0" allowfullscreen></iframe>').insertAfter(".close-yt")
};
closeYTmodal = function(a) {
    a = $(a);
    modal.hide();
    a.next().remove()
};
runCampaign = function(a, b, c, d, e, f, g, h) {
    a = parseFloat(a.total_price / 100).toFixed(2);
    a = parseFloat(a);
    a >= e && (_gridProduct = addGWPCampaignProduct(b, c, f, g, h), d ? ($("#CartContainer .drawer__inner").append(_gridProduct), $(".gwp-" + g).hide(), $(".gwp-" + g).attr("data-isadded", !1)) : ($("#CartContainer .drawer__inner").append(_gridProduct), $(".gwp-" + g).attr("data-isadded", !0)))
};
checkSessionStorage = function(a) {
    "true" == sessionStorage.getItem(".gwp-" + a) && ($(".gwp-" + a).show(), $(".gwp-" + a).attr("data-isadded", !0), fillInputDiscountField(a))
};
formDisabledEnter = function(a) {
    if (13 === (a.keyCode || a.which)) return a.preventDefault(), !1
};
inputDiscountEnterKey = function(a) {
    13 == a.keyCode && $(".btn-apply").click()
};
addGWPCampaignProduct = function(a, b, c, d, e) {
    var f = b.title;
    return '<div data-vid="' + b.variants[0].id + '" class="cart-gwp-product gwp-' + d + " ajaxcart__product appear-animation appear-delay-" + a + '"><div class="ajaxcart__row shipping-padding">' + ('<div class="grid"><div class="grid__item one-third"><a href="" class="ajaxcart__product-image"><img src="' + b.featured_image + '" alt="' + f + '"></a></div>' + ('<div class="grid__item two-thirds"><div class="ajaxcart__product-name--wrapper"><a href="" class="ajaxcart__product-name">' +
'</a><span class="ajaxcart__product-meta">' + c + "</span></div>" + ('<div class="grid grid--full display-table"><div class="grid__item display-table-cell one-half"><div class="ajaxcart__quantity js-qty"><label class="visually-hidden">Quantity</label><div>x1</div></div></div><div class="grid__item display-table-cell one-half text-right"><span class="ajaxcart__price money">' + (b.price - e / 100 * b.price) + "</span></div></div></div>")) + "</div></div></div>")
};
promoOpen = function() {
    $(".shippingPromo").hide();
    $(".field-discount").show()
};
promoClose = function() {
    $(".shippingPromo").show();
    $(".field-discount").hide()
};
removePromoCode = function() {
    var a = $(".input-discount").val();
    $(".input-discount").attr("readonly", !1);
    $(".input-discount").val("");
    $(".js-form-discount").val("");
    $("#update-button").show();
    $("#remove-button").hide();
    sessionStorage.setItem(".gwp-" + a, !1);
    $(".gwp-" + a).attr("data-isadded", !1);
    $(".gwp-" + a).hide();
    $(cart_remove).insertBefore("#CartDrawer #CartContainer");
    setTimeout(function() {
        return $(".alert").remove()
    }, 4E3)
};
checkoutGWPItem = function() {
    if (0 == $(".cart-gwp-product").length) setTimeout(function() {
     $("input.cart__checkout").hide();
     $("button.cart__checkout").show();
     return $("button.cart__checkout").click()
 }, 500);
        else {
         $("input.cart__checkout").hide();
         $("button.cart__checkout").show();

         var a = [];
         $(".cart-gwp-product").each(function() {
            var b = $(this),
            c = b.attr("data-isadded");
            b = b.attr("data-vid");
            $(".custom_ajaxcart__" + b);
            var d = $(".custom_ajaxcart__" + b).hasClass("isGWPFreeGift");
            "true" == c && 0 == d && a.push({
                id: b,
                qty: 1,
                properties: {
                    Note: "Free gift"
                }
            })
        });
         0 < a.length ? (MGUtil.begin(a), setTimeout(function() {
            return $("button.cart__checkout").click()
        }, 2E3)) : $("button.cart__checkout").click()
     }
 };
 discountInputField = function(a) {
    $(a);
    a = $(".input-discount").val();
    a = a.toUpperCase();
    var b = ".gwp-" + a,
    c = $(b).attr("data-isadded");
    0 < $(b).length && "true" != c ? ($(cart_success).insertBefore("#CartDrawer #CartContainer"), $(b).show(), $(b).attr("data-isadded", !0), sessionStorage.setItem(b, !0), $(".discount-p").remove(), fillInputDiscountField(a), promoClose()) : ($(".discount-p").remove(), $('<p style="font-size: 8px; color: red;" class="discount-p">This coupon code is not eligible for this order</p>').insertAfter($(".input-discount")))
};
fillInputDiscountField = function(a) {
    $(".input-discount").attr("readonly", !0);
    $(".input-discount").val(a);
    $(".js-form-discount").val(a);
    $("#remove-button").show();
    $("#update-button").hide();
    setTimeout(function() {
        return $(".alert").remove()
    }, 4E3)
};