@font-face {
    font-family: 'Sofia Pro Bold';
    src: url("{{'SofiaPro-Bold.eot' | file_url }}");
    src: url("{{'SofiaPro-Bold.eot?#iefix' | file_url }}") format('embedded-opentype'),
          url("{{'SofiaPro-Bold.woff2' | file_url }}") format('woff2'),
          url("{{'SofiaPro-Bold.woff' | file_url }}") format('woff'),
          url("{{'SofiaPro-Bold.ttf' | file_url }}") format('truetype'),
          url("{{'SofiaPro-Bold.svg#SofiaPro-Bold' | file_url}}") format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro Regular';
    src: url("{{'SofiaPro-Regular.eot' | file_url }}");
    src: url("{{'SofiaPro-Regular.eot?#iefix' | file_url }}") format('embedded-opentype'),
          url("{{'SofiaPro-Regular.woff2' | file_url }}") format('woff2'),
          url("{{'SofiaPro-Regular.woff' | file_url }}") format('woff'),
          url("{{'SofiaPro-Regular.ttf' | file_url }}") format('truetype'),
          url("{{'SofiaPro-Regular.svg#SofiaPro-Regular' | file_url}}") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro SemiBold';
    src: url("{{'SofiaPro-SemiBold.eot' | file_url }}");
    src: url("{{'SofiaPro-SemiBold.eot?#iefix' | file_url }}") format('embedded-opentype'),
          url("{{'SofiaPro-SemiBold.woff2' | file_url }}") format('woff2'),
          url("{{'SofiaPro-SemiBold.woff' | file_url }}") format('woff'),
          url("{{'SofiaPro-SemiBold.ttf' | file_url }}") format('truetype'),
          url("{{'SofiaPro-SemiBold.svg#SofiaPro-SemiBold' | file_url}}") format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro Light';
    src: url("{{'SofiaProLight.eot' | file_url }}");
    src: url("{{'SofiaProLight.eot?#iefix' | file_url }}") format('embedded-opentype'),
          url("{{'SofiaProLight.woff2' | file_url }}") format('woff2'),
          url("{{'SofiaProLight.woff' | file_url }}") format('woff'),
          url("{{'SofiaProLight.ttf' | file_url }}") format('truetype'),
          url("{{'SofiaProLight.svg#SofiaProLight' | file_url}}") format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
  line-height: 1.42857143;
  font-size: 16px !important;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  line-height: 1.1;
  font-weight: 500;
}

h1 small,h1 .small,.h1 small,.h1 .small,h2 small,h2 .small,.h2 small,.h2 .small,h3 small,h3 .small,.h3 small,.h3 .small {
 font-size: 65%
}

h4 small,h4 .small,.h4 small,.h4 .small,h5 small,h5 .small,.h5 small,.h5 .small,h6 small,h6 .small,.h6 small,.h6 .small {
 font-size: 75%
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6, .site-header--heading-style .site-nav__link  {
  font-family: {{settings.new_header_font_family}} !important;
}
.h2 {
  font-size: 50px;
}
select {
  -webkit-appearance: menulist !important;
  height: 50px !important;
}
 /* Helpers */
.no-margin {
  margin:0;
}
.mt5percent {
  margin-top:3%;
}
.bbNone:after {
  border-bottom: 0px !important;
}
.three-quarter-width {
  width: 68% !important;
}
.t-left {
  text-align: left !important;
}
.pad-12 {
  padding-left: 12px;
  padding-right: 12px;
}
.pad-top-20 {
  padding-top:20px;
}
.fs-27 {
  font-size: 27px;
}
.fs-34 {
  font-size: 34px;
  font-weight: bold;
  max-width: 980px;
  margin: 0 auto;
}
.one-49 {
  width: 49%;
}
.no-pads-bottom {
  padding-bottom: 0 !important;
}
.mobile-pad-bottom {
  margin-bottom: 50px !important;
}

@media (min-width: 768px) {
  .mobile-pad-bottom {
    margin-bottom: 0px !important;
  }
}
.pink-highlights {
  color: #ff5a8c !important;
}
/* back to top */
#btt-button {
  background: #fff;
  display: block;
  position: fixed;
  bottom: 80px;
  right: 10px;
  z-index: 24;
  width: 55px;
  height: 55px;
  padding: 16px 0;
  text-align: center;
  border-radius: 46px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  outline: none;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  background-image: url('{{ 'topArrow.png' | asset_url }}');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

#btt-button:hover {
  cursor: pointer;
  background-color: #fff;
}
#btt-button:active {
  background-color: #fff;
}
#btt-button.show {
  opacity: 1;
  visibility: visible;
}

.cta_icon_column{display:inline-block;width:32%}.cta_icon_text{text-align:center;margin-top:10px;color:{{settings.cta_text_color}}}.cta_icon_img{width:50px;margin:0 auto;display:block}.custom_padding{padding-top:15px}.shipping_container{border:solid 1px #C8C7C7;border-radius:6px;position:relative;text-align:left;margin-top:15px}.ship_img{width:55px;height:55px;margin-left:22px;margin-top:12px;position:absolute}.ship_text{padding:12px 26px 0px 99px; font-size:18px}.ship_text a{color:#50b277;text-decoration:underline}.product_icon_img{width:35px !important;height:35px;display:inline !important;}.product_icon_column{display:inline-block;width:24%;margin-bottom:15px}.product_icon_container{margin-top:20px}@media only screen and (max-width:991px){.product_icon_column{width:49%;margin:10px 0}}@media only screen and (max-width:767px){.product_icon_column{text-align:left}}.product_icon_column p{display:inline-block;margin:0;bottom:15px;position:relative;font-size:14px;line-height: 29px;}#flickity_btn img{width:80%;margin:0 auto}#flickity_btn .slick-prev{left:-40px}#flickity_btn .slick-next{right:-40px}#flickity_btn .slick-prev:before,#flickity_btn .slick-next:before{color:#b1d8c2;text-shadow:none}.product-single__title{text-align:left}.product-single__meta .subtitle{text-align:left;font-family:Sofia Pro Regular!important}.js-accordion button{text-align:left; border-top:1px solid #e6e6e6; padding-top:20px; padding-bottom:20px;}.js-reset_slider{width:75%;margin-left:auto;margin-right:auto}.js-reset_slider .slick-prev{left:-40px}.js-reset_slider .slick-next{right:-40px}.js-reset_slider .slick-prev:before,.js-reset_slider .slick-next:before{color:#b1d8c2;text-shadow:none}.js-footer_social{background-color:{{settings.social_bg_color}};text-align:center;padding:40px 80px 30px;color:{{settings.social_text_color}}}.js-footer_social .footer__social svg{color:{{settings.social_text_color}}}.js-footer_social li{padding:12px;border:1px solid;border-radius:50%}.social-images img{width:100%;border-top-left-radius:10px;border-top-right-radius:10px}.testimonial-profile{color:#50b277}@media only screen and (max-width:500px){.js-footer_social{padding-left:20px;padding-right:20px}.background-media-text--1551335827361 .to_right,.background-media-text--1551776352155 .to_right{top:-200px}.background-media-text--1551335827361 .background-media-text__text,.background-media-text--1551335827361 p{text-align:center}}.reset_image_text_bg{margin:0;padding:20px}@media only screen and (min-width:992px){.reset_image_text_bg{padding:78px 15px}}.background-media-text--1551335827361 p{color:#fff}.duplicate_variant_container{border:2px solid #ff5a8c;border-radius:6px;text-align:left}.var_option{padding:13px 10px;display:flex}.three_col_contain{width:80%;padding-top:178px;padding-bottom:90px}.col_icon_con{display:inline-block;width:25%;text-align:center}.btm_text{width:80%}.col_h2{text-align:center;width:75%}.col_p{font-size:11px;padding-bottom:15px;margin:0;text-align:center;width:75%}@media only screen and (max-width:767px){.col_p{width:100%}.col_h2{width:100%}.three_col_contain{width:100%;padding-top:190px}.col_icon_con{display:block;width:50%;margin:0 auto}.btm_text{width:100%}}.block_contain{background:#cbedd2;padding:100px 100px;height:400px!important;position:relative}.bg_slider_col{width:40%;margin-left:auto;text-align:center;padding-top:90px;padding-bottom:90px}p.mega_num{font-size:350px;top:-60px;left:50%;z-index:1;color:#e1f4e5;transform:translateX(-50%);position:absolute;font-weight:700}.bg_slider_init .slick-dots{bottom:30px}.bg_slider_init .slick-dots button{background:#75ab8a;border-radius:50%}.bg_slider_init .slick-dots li.slick-active button{background:#1a736a}@media only screen and (max-width:767px){.bg_slider_col{width:100%}.block_contain{padding:30px 100px;height:250px!important}}@media only screen and (max-width:768px){.reset_this_font{font-size:18px}}@media only screen and (max-width:500px){.bg_slider_col{padding-top:173px;padding-bottom:0}.reset_this_font{font-size:18px}p.mega_num{font-size:300px!important}.block_contain{padding:30px 70px;height:250px!important}.product__photos .slick-slide{width:100%}.product-single__title{font-size:50px}.reset_mobile_bg-1551318451775 .to_right .reset-background-new--right{margin:0 15px}.reset_mobile_bg-1551318451775 .to_right .reset-background-new--right .animation-cropper .background-media-text__text{padding:50px 30px}}.page_hero{width:100%}@media only screen and (max-width:500px){.background-media-text--1551688591966 .to_right,.background-media-text--1554983440806 .to_right, .background-media-text--1554188124597 .to_right, .background-media-text--1554185323410 .to_right, .background-media-text--1554189524555 .to_right, .background-media-text--1554187547838 .to_right{top:-200px}.background-media-text--1551688591966 .to_right .background-media-text__text{text-align:center}.background-media-text--1551688591966 .to_right .background-media-text__text a{font-size:16px;padding:15px 50px}}ul.page_tab_container{list-style:none;text-align:center;margin-bottom:0}ul.page_tab_container li{margin-bottom:0;display:inline-block;padding:15px;color:#7b7a7a;cursor:pointer}ul.page_tab_container li.active_tab{color:#292929}.tab_index{display:none}.active_tab_content{display:block}.tab_content{margin-top:30px}.mobile_view{display:none}@media only screen and (max-width:500px){.desktop_view{display:none}.mobile_view{display:block}.ship-1{margin-bottom:30px}}.select_tab{width:100%;margin-bottom:30px}.tab_index strong{font-size:24px}.tab_index p{font-size:20px}.select_tab{font-size:24px}.site-footer p{font-size:16px;text-transform:none !important;letter-spacing: 0px;}.site-footer__linklist li a{font-size:16px}.regular-tab{margin:0;list-style:none;text-align:center}.regular-tab li{display:inline-block;line-height:40px}.regular-tab li a{padding:0 20px;border:1px solid #dedede!important}.regular-tab li.active a{text-decoration:none;background-color:#ff5a8c;color:#fff;border:1px solid #ff5a8c!important}.review_img{width:100%}.cart_review{padding:25px;width:75%;margin:0 auto;margin-bottom:80px;border-radius:5px;text-align:center}.review_handle{margin-top:20px;margin-bottom:15px;display:block;color:#00625c!important}.shipping_left{font-size:14px}.shippingSpan{font-size:11px;color:#ff5a8c}.shipping_right{font-size:16px;width:22%;text-align:right;color:#ff5a8c}.shippingText{display:flex}

.js-accordion button.last-row-how-to[aria-expanded="false"], [id|="Product-content-3"] {
  border-bottom:1px solid #e6e6e6;
}
.footer__title {
  margin-bottom: 0px !important;
}
.hello-coco {
  text-decoration: underline;
}
.very-private {
  text-decoration: underline !important;
}
.checkout_btn_reset, .btn-upsell {
   height: 49px;
   padding: 6px;
   font-size: 16px;
   font-family: "Sofia Pro Bold" !important;
}

.ajaxcart__product-name--wrapper a, .ajaxcart__product-name--wrapper span {
  font-size: 18px;
  line-height: 16px;
  color: #292929;
}

#CartDrawer .drawer__inner:first-child {
  padding-top: 0;
  margin-top: -15px;
}
.ajaxcart__subtotal, .ajaxcart__total {
  font-size: 14px !important;
  letter-spacing: 1px !important;
  font-size: 14px !important;
  color: #292929 !important;
}
@media only screen and (max-width: 768px) {
  .hero-natural--1524769873765 {
      margin-bottom: 20px;
  }

  #shopify-section-1551380297033 {
    margin-bottom: -30px;
  }
  .reset-home-hero-txt {
    font-size: 24px !important;
  }

  .hero__link a.btn {
    font-size: 16px;
    width: 350px;
  }



  .checkout_btn_reset {
     height: 55px;
     letter-spacing: normal;
     text-transform: none;
     width: 100% !important;
     left: 0 !important;
     border-radius: 0;
  }

  .btn-upsell {
    height: 45px;
  }
}

p.reset_this_font {
  padding-top: 53px;
}

.cart-link__bubble--visible {
  width: 21px;
  height: 23px;
  color:white;
  font-size: 12px;
  text-align: center;
}


.site-header--heading-style .site-nav__link {
  font-size: 16px;
  line-height: 23px;
}

.subtitle_restyles{
  text-transform: none !important;
  font-size: 16px !important;
  letter-spacing: 0 !important;
  color: #fff;
}
.variant_subtitle, .edited_js {
  font-size: 16px !important;
  letter-spacing: 0 !important;
  text-transform: none !important;

}


.reset-background-new--left .background-media-text__subtext p {
  font-size: 20px !important;
}


.slider-h1 {
  font-family: 'Sofia Pro SemiBold' !important;
  font-size: 60px;
}

.collapsible-trigger-btn {
  text-transform: none;
  letter-spacing: 0;
  font-size: 14px;
}

.variant_subtitle p {
  margin-bottom: 2px;
}

/* Product Pages */
.price_con > .variant_subtitle {
  margin-bottom: 0;
}
.product-single__meta {
  padding-left: 68px;
}
.faq_h2 {
  font-family: 'Sofia Pro Regular' !important;
  padding: 39px 50px 41px !important;
}
.faq_p_pointer > p {
  font-size: 16px !important;
}
.no-more-background {
  padding: 0px !important;
  width: 100% !important;
}
.subs {
  font-size: 20px !important;
  letter-spacing: 0 !important;
  border-radius: 6px !important;
  padding: 12px 50px !important;
}
.bold_pointer > p > strong {
  font-size: 36px !important;
}
.grid-product__price {
  font-size: 24px !important;
  font-weight: 500 !important;
  padding-top: 20px !important;
}
.styledlist li {
  font-size: 18px !important;
}
/* Cart drawer */
#CartDrawer .drawer__inner,.drawer__footer--fixed {
  // position:relative;
}

#CartDrawer .drawer__footer--fixed {
  /* overflow-y: scroll; */
  left: 0;
  right: 0;
}

#CartDrawer {
  overflow-y: scroll;
  padding-left: 0;
  padding-right: 0;
}

#CartDrawer .drawer__inner {
  padding-left: 0;
  padding-right: 0;
}
.js-temp_reset {
  font-size: 16px !important;
}

.currency-picker__wrapper.small--hide {
  position: relative;
  top: 0;
}

.drawer__footer {
  border-top: 0;
}



#shopify-section-footer .grid .grid__item:last-child {
  padding-bottom: 30px;
}

@media(min-width: 768px) {
  #shopify-section-footer .grid .grid__item:last-child {
    padding-bottom: 20px;
  }
}

/* About us page (CSL)*/
.js-block_style .grid__item p.h2{
  font-family: "Sofia Pro Light" !important;
  font-weight: 300;
  font-size: 42px;
  line-height: 52px;
}

.js-block_style .grid__item .rte p, .rte.featured-row__subtext p{
  font-family: 'Sofia Pro Regular', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.js-block_style .grid__item .rte p strong{
  font-family: "Sofia Pro Bold";
  font-weight: 600;
  font-size: 34px;
  line-height: 37px;
}
.container-title {
  max-width: 980px;
  margin: 0 auto;
  padding-top: 28px;
}
#abt-us-content > p {
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* Privacy Policy page & Terms&Conditions page (CSL) */
.privacy-policy h1.section-header__title, .terms-conditions h1.section-header__title{
  font-family: "Sofia Pro Bold" !important;
  font-weight: 500;
  font-size: 35px;
  line-height: 39px;
}

.ppTab{
  font-family: 'Sofia Pro Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 40px;
}

.pph3{
  font-family: "Sofia Pro Bold" !important;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
}
.ppPara{
  font-family: 'Sofia Pro Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

/* Contact Us page (CSL) */
#shopify-section-page-contact-us-template .section-header h2{
  font-family: "Sofia Pro Light" !important;
  font-weight: 300;
  font-size: 40px;
  line-height: 52px;
}

#shopify-section-page-contact-us-template .contact-us-text p.h3, #shopify-section-page-contact-us-template .contact-us-text .rte-setting.text-spacing p:nth-child(3){
  font-family: 'Sofia Pro Regular', sans-serif !important;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}


#shopify-section-page-contact-us-template .background-media-text__aligner .background-media-text__text{
  padding-left: 0;
}

#shopify-section-page-contact-us-template .background-media-text__aligner .background-media-text__text a.btn{
  padding: 10px 50px;
}
.contact-us-body {
  padding-top: 15px;
}
.contact-us-body > p {
  margin-bottom: 5px;
  font-size: 18px !important;
}
/* Shipping refund page (CSL) */
.left-row p:nth-child(3){
  font-family: 'Sofia Pro Regular', sans-serif;
  font-weight: 400;
  line-height: 20px;
}
.shipping_title {
  font-size: 30px !important;
}
.shipping_p > p > a {
  color: #50b277 !important;
  border-bottom: 0 !important;
}
.about-page-section {
  padding:43px 0 0;
}
.about-us-title {
  font-family: 'Sofia Pro Light' !important;
  font-size: 42px;
  line-height: 52px;
}
.about-page-p > p {
  line-height: 34px;
}
#shopify-section-page-shipping-template .page-blocks div:nth-child(3) > .index-section{
  margin-top: 0 !important;
}

#shopify-section-page-shipping-template .page-blocks .js-block_style .grid__item, #shopify-section-page-shipping-template .page-blocks .js-block_style .grid.page-width{
  padding: 0;
}

#shopify-section-page-shipping-template .reset_mobile_bg-1551776352155 .background-media-text__text{
  padding-left: 0;
}

#shopify-section-page-shipping-template .reset_mobile_bg-1551776352155 .background-media-text__text a.btn{
  padding: 10px 50px;
}
#shopify-section-page-shipping-template .reset-index-section{
  margin: 0 auto;
}
.copyright_text {
  font-size: 14px !important;
}
/* 25th March 2019 Mobile styling */
@media only screen and (max-width: 500px) {
  /* Contact Us */
  #shopify-section-page-contact-us-template .reset_mobile_bg-1551774990125 .mobile-text-center.to_right, #shopify-section-page-reviews-template .reset_mobile_bg-1554094088479 .mobile-text-center.to_right{
    top: -230px;
  }
  .collapsible-trigger-btn--borders+.collapsible-content .collapsible-content__inner {
    padding: 0 28px 15px 10px !important;
  }
  .btn.contactus-button{
    font-size: 20px;
    padding: 0 40px;
    letter-spacing: 0px;
    line-height: 44px;
    height: 45px;
  }
  #shopify-section-page-contact-us-template .cta-div.custom-padding.page-width{
    display: flex;
  }
  /* FAQ */
  .faq-header-title{
    font-size: 28px !important;
    margin: 60px 0;
  }
  .select_tab{
    color: #908d8d;
    background: #fff;
    border-color: #908d8d;
  }
  .js-dots .slick-dots{
    bottom: -35px !important;
  }
}
/* Collection Grid */
.min-height-grid {
  min-height: 95px;
}
.min-height-pt {
  min-height: 78px;
}
/* Modal Fixes */
.modal-open .modal:before {
  background-color: transparent;
}
.modal__inner {
  bottom: 0;
  right: 0;
  position: fixed;
  box-shadow: 0px -1px 10px 0px #999;
  margin: 0;
}

.popup-email #popup-close {
  color: black;
  padding: 0;
  position: absolute;
  opacity: 0.2;
  right: 9px;
}

@media only screen and (min-width: 553px){
  .popup-email #popup-close{
    top: 3px;
  }
}

.popup-email #popup-close .icon {
  width: 15px;
  height: 21px;
}
@media only screen and (max-width: 552px) {
  .popup-email #popup-close span{
    opacity: 1;
  }
  .popup-email #popup-close{
    background: #484848;
    opacity: 1;
    line-height: 1;
    border-radius: 20px;
    padding: 0px 6px 0 6px;
    color: #fff;
    bottom: 220px;
    text-align: center;
    right: 30px;
    width: 33px;
    height: 33px;
    top: -18px;
  }
  .popup-email #popup-close .icon{
    width: 21px;
    height: 21px;
  }
}
#shopify-section-newsletter-popup .input-group-field::placeholder{
  color: #878787;
}
#shopify-section-newsletter-popup .input-group-field{
  border-radius: 4px 0 0 4px;
  border-color: #D1D1D1;
}
#shopify-section-newsletter-popup .input-group-btn .btn{
  border-radius: 0 4px 4px 0;
}
#shopify-section-newsletter-popup input:-internal-autofill-selected.input-group-field, #shopify-section-newsletter-popup .input-group-field:focus{
  background-color: rgb(232, 240, 254);
  border-color: #7af6cb;
}
#shopify-section-newsletter-popup .modal__inner {
  background: white;
  z-index: 99;
  padding: 20px;
}

.js-news-pointer > h3 {
  color: #ff5a8c !important;
  font-size: 22px !important;
}
.js-news-pointer > p {
  font-size: 15px !important;
}
.newsletter_button {
  font-size: 16px !important;
  text-transform: lowercase !important;
  letter-spacing: 0 !important;
  margin-top: -10px;
}
.private-policy {
  margin-bottom: 0 !important;
  margin-top: 33px !important;
}
.line-height-fixed {
  line-height: 20px !important;
}
/* Cart Pages */
.drawer__title {
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Sofia Pro Regular';
}
.upsell-p {
  color: #6d6d6d !important;
  padding: 0 30px !important;
}
.cart-product-title {
  font-size: 16px !important;
  margin-top:20px !important;
}

@media (min-width: 768px) {
  .collection-content{
    padding-top: 8px !important;
  }
  .footer__item-padding {
    padding-right: 0 !important;
  }
  .modal--square .modal__centered-content {
    padding: 30px !important;
  }
  .drawer__header {
    height: 50px !important;
  }
  .drawer__inner {
    top:25px !important;
  }
}

@media only screen and (max-width: 480px) {
  .discount-p{
    padding-right: 42px;
  }
  .ingredientTitle {
    width: 320px !important;
    margin-left: -41px !important;
    margin-top: 60px !important;
  }
  .country {
    padding: 17px 17px 17px 19px !important;
    min-width: 339px !important;
    position:relative !important;
  }
  .country-triangle {
    position: absolute;
    display: block;
    right: 16px;
    top: 21px;
  }
  .selectric {
    line-height: 1 !important;
    width:305px !important;
  }
  .js-news-pointer > h3 {
    font-size: 18px !important;
    text-align: center !important;
  }
  .js-news-pointer > .rte > p {
    font-size: 12px !important;
    text-align: center !important;
  }
  .js-news-pointer > p {
    font-size: 12px !important;
    text-align: center !important;
  }
  .private-policy {
    margin-bottom: 19px !important;
  }
}
@media (max-width: 768px) {
  .mTitle {
    font-size: 20px !important;
    line-height: 22px !important;
  }
  .one-49 {
    width: 100%;
  }
  #btt-button.show {
    opacity: 0 !important;
  }
  .line-height-fixed {
    line-height: 29px !important;
  }
}
@media only screen and (max-width: 767px) {
  .product-single__meta {
    margin-top:32px;
    padding-left:0 !important;
  }
  h3.subtitle {
    font-size: 20px !important;
    padding-bottom: 26px !important;
  }
  .ship_text {
    font-size: 13px !important;
  }
  .ship_text > p strong {
    font-size: 18px !important;
  }
  .cta_icon_text{
    font-size: 12px !important;
  }
  .background-media-text__container, .background-media-text__video {
    height: 159px !important;
  }
  .mainTitle {
    font-size: 28px !important;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 45px !important;
    font-family: 'Sofia Pro SemiBold' !important;
  }
  p {
    font-size: 16px !important;
  }
  .bold_pointer > p > strong {
    font-size:24px !important;
  }
  .reset-h3 {
    font-size: 24px !important;
  }
  .reset_btn_toggle {
    font-size: 16px !important;
  }
  .faq-list {
    padding: 0 19px !important;
    text-align: left !important;
  }
  .faq_h2 {
    font-size: 18px !important;
    padding: 35px 50px 26px !important;
  }
  .view-all {
    padding: 22px 0 !important;
  }
  .adjusted-height-for-cta {
    height: 200px !important;
  }
  .reset-page-width {
    padding-top: 18px !important;
    padding-bottom: 18px !important;
  }
  .less-padding-for-mobile {
    padding-bottom: 20px !important;
  }
  .subs {
    font-size: 16px !important;
  }
  .three-quarter-width {
    width: 100% !important;
    padding: 0 !important;
  }
  .ingredient-h3 {
    font-size: 24px !important;
  }
  .fs-27 {
    font-size: 16px !important;
  }
  .grid-product__price {
    font-size: 14px !important;
  }
  .collection-btn {
    font-size: 13px !important;
    width: 88% !important;
    padding: 10px 20px !important;
  }
  .ppTab {
    font-size: 11px;
    line-height: 30px;
  }
  .mobile-padding-top {
    padding-top:34px;
  }
  .ship_text > p {
    font-size: 13px !important;
  }
  .product_icon_column > p {
    font-size: 14px !important;
  }
  .styledlist li {
    font-size: 14px !important;
  }
  .product_page_mobile {
    margin-bottom: -7px !important;
  }

  .footerStyles {
    padding-top: 38px !important;
  }
  .mobile-menu {
    width: 50% !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .site-footer .grid__item:after {
    border-bottom: 0 !important;
  }
  .site-footer__linklist li a {
    font-size: 13px !important;
  }
  .copyright_text {
    font-size: 11px !important;
  }
  .modal--mobile-friendly .modal__inner {
    border: 0 !important;
  }
  .min-height-grid {
    min-height: 88px !important;
    font-size: 12px !important;
  }
  .min-height-pt {
    min-height: 0 !important;
  }
  .own-padding {
    padding: 20px !important;
  }
  .homepage-ingredient {
    font-size: 28px !important;
    padding-top: 36px !important;
  }
  .slider-h1 {
    font-size: 28px !important;
  }
  .js-reset_just_mobile {
    margin-bottom: -7px !important;
  }
  .btm_text {
    margin-top: -86px;
  }
  .btm_text > p {
    font-size: 11px !important;
    color: #A9A9A9 !important;
    padding-bottom: 52px;
    line-height: 1.4;
  }
  .faq-p > p {
    font-size: 20px !important;
  }
  .about-page-section {
    padding: 24px 0 0;
  }
  .about-page-p>p {
    text-align: center;
  }
  .fs-34 {
    font-size: 34px !important;
    text-align: center;
    padding-top: 38px;
  }
  #abt-us-content>p {
    text-align: center;
    padding-bottom: 13px;
  }
  .contact-us-text > .h3 {
    font-size: 24px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .collection-btn {
    font-size: 13px !important;
    width: 88% !important;
    padding: 10px 20px !important;
  }
  /* .fs-27 {
    font-size: 16px !important;
  }
  .grid-product__price {
    font-size: 14px !important;
  } */
  .min-height-grid {
    min-height:108px;
  }

  .js-email_reset{
    width:58% !important;
  }
  .col_icon_con {
    font-size: 16px !important;
  }
}

.resetcart-qty-price {
  // position: relative;
  // top: 45px;
}

.site-header{
  padding:0;
}
.reset-h5 {
  font-size: 30px;
  letter-spacing: 0.025em;
  line-height: 1.4;
  text-transform: none;
  font-family: "Sofia Pro SemiBold" !important;
}

.reset-index-section {
  margin-bottom: 0;
  margin-top: 0;
}

span.faq-q, .bold-family {
  font-family: "Sofia Pro Bold" !important;
}

/* From page block image text with button css */
.button_full {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.reset_btn_toggle {
  border: 2px solid #ff5a8c;
  color: #ff5a8c;
  height: 64px;
  font-weight: bold;
  padding: 0 50px;
  font-size: 20px;
  border-radius: 6px;
  margin: 40px 0 40px;
  text-transform: uppercase;
}
.reset_btn_toggle:hover {
  border: 2px solid #ff5a8c;
  color: #ff5a8c;
  height: 64px;
  font-weight: bold;
  padding: 0 50px;
  font-size: 20px;
  border-radius: 6px;
  margin: 40px 0 40px;
  text-transform: uppercase;
}

.product-single__description.rte ul {
  list-style-image: url('{{"check.png" | asset_url }}') !important;
}

.product-single__description.rte ul li {
  margin-bottom: 10px;
  font-size: 18px;
}

h3.subtitle {
  font-size: 24px;
}


/* For page-block-bg-image-with-text-new.liquid */
.to_right {
  right: 0;
  width: 50%;
}

.to_left {
  width: 50%;
}

.to_left .background-media-text__aligner, .to_right .background-media-text__aligner {
  margin: 30px
}


.reset-background-new--left .mainTitle {
  text-align: left;
  left: 15%;
  position: relative;
  font-family: 'Sofia Pro SemiBold' !important;
}

/* Footer */
.greenLine {
  border-bottom: 1px solid #50b277;
  border-width: thin;
  padding-bottom: 11px;
}
.footer-disclaimer {
  font-size: 14px !important;
  color: #757575;
}
.paymentIcons {
  padding-top:20px;
  padding-bottom: 9px;
}

@media only screen and (max-width: 768px) {
  .to_right {
    right: 0;
    width: 100%;
    top: 0;
  }

  .to_left {
    width: 100%;
    top: 0;

  }
  .reset-index-section, .mobile-text-center, .mobile-text-center p {
    text-align: center !important;
  }

  .reset-background-new--left .mainTitle {
    left: 0;
  }

  .mainTitle {
    text-align: center !important;
  }

  .desktop_img {
    display: none !important;
  }
}

/* Reset page width on faq page*/
.reset-page-width {
  padding-top: 50px;
  padding-bottom: 50px;
}

.faq_div {
    background: #fff;
    position: relative;
    border-radius: 10px
}

@media only screen and (max-width: 768px) {
  .faq_div {
    margin-left: 0;
  }
  .js-email_btn .footer__newsletter-btn-label {
    font-size: 12px !important;
  }

}

.faq-list {
  padding: 0 50px;
}

.faq-item {
    border-bottom: 1px solid #ebebeb;
    padding: 16px 0 15px
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-q {
    display: block;
    letter-spacing: 0.5px;
    color: #292929
}

.heading {
  border-bottom: 1px solid #ebebeb;
  padding:48px 48px 48px;
  font-size: 25px;
}

.view-all {
    letter-spacing: 1.3px;
    font-size: 15px;
    padding: 33px 0;
    border-top: 1px solid #ebebeb;
    text-align: center
}

.view-all a {
    color: #ff5a8c;
    font-family: 'Sofia Pro Bold';
    text-transform: uppercase;
}
.ingredientTitle {
  font-family: 'Sofia Pro SemiBold' !important;
  margin-bottom: -35px !important;
  color: #292929;
}

.social-slider-images {
    display: block;
    position: relative;
    max-height: 200px;
    min-height: 190px;
    max-width: 280px;
    min-width: 270px;
    overflow: hidden;
    background-image: url('{{ "25-ba.jpg" | asset_img_url: "x400", scale: 2}}');
}

.testimonial-profile {
  padding: 20px 20px 0;
  font-family: "Sofia Pro Bold" !important;
}


.slick-carousel {
  padding-bottom: 30px;
}
.bg_slider_init .slick-prev{
  left: -18px;
  background-position: center -50px;
}
.reset-slick .slick-prev {
  left: 20px;
  background-position: center -50px;
}
.bg_slider_init .slick-next{
  right: -18px;
  background-position: center 13px;
}
.reset-slick .slick-next {
  right: 20px;
  background-position: center 22px;
}

.bg_slider_init .slick-prev:before,.bg_slider_init .slick-next:before,.reset-slick .slick-prev:before, .reset-slick .slick-next:before {
  content: '';
}

.reset-slick .slick-prev:hover, .reset-slick .slick-prev:focus, .reset-slick .slick-next:hover, .reset-slick .slick-next:focus {
  background-color: #fff7db;
  background-color: #fff7db;
}

.bg_slider_init .slick-prev,.bg_slider_init .slick-next,.reset-slick .slick-prev, .reset-slick .slick-next {
  position: absolute;
  top: 50%;
  z-index: 2;
  display: block;
  border-radius: 55px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  width: 55px;
  height: 55px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff7db;
  background-image: url('{{ "icons-arrow.png" | asset_img_url: "x400", scale 2}}');
  background-size: 20px auto;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.bg_slider_init .slick-prev,.bg_slider_init .slick-next{
  width: 36px;
  height:36px;
  background-size: 17px auto;
  opacity: 0.5;
}


.prod-carousel {
  margin-top: 30px;
  margin-bottom: 30px;
}

.reset-slick .slick-dots {
  bottom: -10px;
}

.text-center {
  text-align: center;
}

.view-all-review {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  padding-right: 40px;
  padding-left: 40px;
  line-height: 25px;
  font-family: "Sofia Pro SemiBold" !important;
  letter-spacing: 0 !important;
  text-transform: none;
}

.view-review {
  padding-bottom: 20px;
}

.reset-slick .slick-dots li button{
  background-color: #75ab8a;
  border-radius: 50% !important;
}

button.add-to-cart {
  width: 55%;
  margin-top: 20px;
  border-radius: 0 !important;
}

@media(max-width: 767px) {
  button.add-to-cart {
    width: 100%;
    font-size: 12px;
  }
}

/* For product footer-buy */
.product-footer-buy {
  position:fixed;
  bottom: 0;
  width: 100%;
  z-index:20;
}

.product-footer-buy button.btn {
  font-size: 20px;
}

@media only screen and (max-width: 769px) {
  .desktop-d {
    display: none !important;
  }
}

input.js-reset_radio{
    display: none;
}

input.js-reset_radio + label
{
    margin-right: 5px;
    cursor:pointer;
    background: #fff;
    border-radius: 50%;
    border: 1px solid black;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 5 5 5 5px;
}

input.js-reset_radio:checked + label
{
    background-image: url(" {{ 'tick_white.png' | asset_img_url: 'x200', scale 2}}");
    background-position: center;
    background-size: contain;
    border-color: #F18F8E !important;
    background-color: #ff5a8c;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 5 5 5 5px;
}


.own-padding {
  padding: 40px;
}

.reset-home-index {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.grid--collection .grid__item .grid-product__content {
  border: 1px solid #959595;
}

.sofiabold {
  font-family: "Sofia Pro Bold" !important;
}

.collection-btn {
  width: 70%;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 1px 20px;
  letter-spacing: 0;
  border-radius: 6px;
}
.collection-btn:hover {
  background: #1a736a !important;
}
.learn__more {
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #ff5a8c;
  color: #ff5a8c;
}
.learn__more:hover {
  background-color: white !important;
  color: #ff5a8c;
}

.js-reset__cart {
  margin-top: 20px;
  margin-bottom: 20px;
}

.js-reset__cart .page-width {
  padding: 0 !important;
}

.js-reset__cart p.cta_icon_text {
  font-size: 11px;
}

.upsell-price {
  font-size: 40px;
  line-height: 57px;
}

.empty_cart {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-bottom: 17px;
}

.upsell-h2 {
  font-size: 19px;
  font-family: "Sofia Pro Bold";
}

.upsell-p {
  font-size: 14px;
  line-height: 1.4;
}

.testimonial-profile {
  font-size: 16px;
}
blockquote.testimonial-post {
  font-size: 18px;
  line-height: 26px;
  color: #5f5f5f;
  display: block;
}


.btn-upsell {
  position: fixed !important;
  bottom: 0;
  left: 17px;
  width: 100%;
  z-index: 2;
  margin-left: -17px;
  border-radius: 0px;
  letter-spacing: 1.4px;
}
@media only screen and (min-width: 521px) {
  .btn-upsell{
    margin-left: 0;
    width: 90%;
    border-radius: 6px;
    height: 55px;
  }
}
@media only screen and (max-width: 520px) {
  .slick-active {
    /* width: 100% !important; */
  }
}

/* ILLEGAL CSS CHANGE IS AFTER 29TH FEB 3PM  */
.site-nav__item li {
  display: inline-block;
}
.site-nav__dropdown {
  width: 100vw;
  text-align: center !important;
  background-color: rgba(255,255,255,0.9);
  padding: 30px 0 30px !important;
  top: 113px;
}

.site-nav__dropdown a.js-temp_reset {
  background-color :transparent !important;
}

.menu_prod_image {
  display: inline !important;
  width: 150px !important;
  height: 150px;
  border: solid 1px #ddd;
}

.illegal-btn {
  color: white !important;
  font-size: 18px !important;
  letter-spacing: 0em !important;
  margin-right: 28px;
}
.illegal-btn:hover {
  background: #1a736a !important;
  color: #fff !important;
}
.site-nav--has-dropdown.is-focused>a, .site-nav--has-dropdown:hover>a {
  background-color: #1a736a !important;
  color: #fff !important;
}
.site-nav--has-dropdown .site-nav__link--underline:after {
  border-bottom-color:transparent !important;
}
.site-nav--has-dropdown{
  padding: 20px 0;
}
.site-nav__dropdown {
  // top:115px !important;
}
.collapsibles-wrapper--border-bottom {
  margin-top: 20px;
}

.reset-home-hero-txt {
  font-family: "Sofia Pro Light" !important;
  font-size: 36px;
  color: black;
}


@media only screen and (max-width: 520px) {
  .review-widget .reset-h2 {
    font-size: 28px;
    line-height: 1;
  }
}


.padding-classes {
  padding: 0 15px 100px;
}

.edited_js {
  font-family: "Sofia Pro Bold" !important;
  margin-bottom: 2px;
}


.heading-h3 {
  font-size: 18px;
  margin-top: 50px;
}

.subheading-p {
  font-size: 16px;
}


/* For contact us page */

.contactus-grid {
  position: relative;
}

.contactus-grid .contactus-div {
  height: 450px;
  background-color: white;
}

.contactus-grid .image-wrap {
  margin-top: 36px;
  background-color: white;
  border-radius: 50%;
}

.contactus-icon {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.contact-us-text {
  width: 95%;
  position:absolute;
  top: 35%;
  /* transform: translateY(-50%); */
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.contact-us-text .rte-setting {
    font-size: 18px;
}

.contact-us-text .rte-setting a {
  font-size: 18px;
  color: #50b277;
  font-family: "Sofia Pro Bold";
}

.contact-us-text button.contactus-button {
  font-family: "Sofia Pro SemiBold";
  font-size: 16px;
  line-height: 40px;
  line-spacing: 0;
}

.contactus-button {
  border-radius: 40px;
  text-transform: lowercase;
  padding: 0 35px;
  height: 46px;
}

.reset-shippingdiv {
  border-radius: 0;
  text-align: center;
}

.bottom-text {
  padding: 23px 18px 20px;
}

/* Left row */
.left-row {
  padding: 20px 0;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}

.left-row p:first-child {
  /* float: left; */
  font-size: 14px !important;
  text-align: left;
  margin-bottom:0;
  width: 41.66666667%;
  padding-left: 15px;
  padding-right: 15px;
}

.left-row p:nth-child(2) {
  /* float: left; */
  font-size: 14px !important;
  text-align: left;
  margin-bottom:0;
  width: 33.33333333%;

}

.left-row p:nth-child(3) {
  /* float: left; */
  text-align: center;
  font-size: 14px !important;
  margin-bottom:0;
  width: 25%;
}

/* Right row */
.right-row {
  padding: 20px 10px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}

.right-row p:first-child {
  /* float: left; */
  font-size: 14px;
  text-align: left;
  width: 41.66666667%;
  padding-left: 15px;
  padding-right: 15px;
}

.right-row p:nth-child(2) {
  /* float: left; */
  font-size: 14px;
    text-align: left;
  width: 33.33333333%;

}

.right-row p:nth-child(3) {
  /* float: left; */
  text-align: center;
  font-size: 15px;
  width: 25%;
}


.contact-heading {
  border-bottom: 2px solid #484848;
  font-size: 20px;
}

.ship-1 {
  padding: 9px 20px 44px;
}

/* Widget Chat */
iframe.zEWidget-launcher {
  bottom: 330px !important;
}

/* Differences Changes for trello card */
.bg_slider_col h1{
  text-shadow: 0 0 20px rgba(0,0,0,0.4);
  color: #fff;
}
.hero__image-wrapper:before, .hero__media:before{
  display: none;
}

.img-text-color:last-child .page-width {
  margin-bottom: 40px;
}

.homepage-herotext:before {
  background: none;
}

@media only screen and (max-width: 520px) {
  .reset-slick .slick-slide {
    margin-left: 8px !important;
    margin-right: 8px !important;
  }

  .reset-slick .slick-arrow {
    top: 39% !important;
  }
}


.reset-shipping-col {
  align-items: inherit;
}

.bottom-text p:first-child {
  margin-top: 35px;
}

.right-btmtxt2 {
  color: #a9a9a9 ;
  font-size: 14px ;
  line-height: 1.4 ;
}

.js-footer_social .footer-h5 strong, .js-footer_social .footer-h5 p{
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 400;
  font-family: "Sofia Pro Regular" !important;
}

.checkout_btn_reset {
  position: inherit !important;
  bottom: 0;
  left: 17px;
  width: 90%;
  letter-spacing: normal;
  text-transform: none;
}

#CartDrawer .drawer__inner {
  // margin-bottom: 50px
}

@media only screen and (max-width: 520px){
  .drawer {
    max-width: 100% !important;
  }

  .drawer--right {
    width: 100%;
  }
}

.variant_subtitle {
  font-size: 16px;

}
p.plus-minus{
  margin-bottom: 0;
}
.plus-minus {
  font-family: system-ui !important;
  font-weight: 100 !important;
  float: right;
  font-size: 24px;
  line-height: 0.3;
  width: 12px;
}

.collapsible-trigger-btn--borders {
  border: 0;
}
.collapsible-trigger-btn--borders+.collapsible-content .collapsible-content__inner {
  border: 0 !important;
  padding: 0 75px 16px 16px;
}

.collapsibles-wrapper--border-bottom {
  border-bottom: 0;
}

.product_icon_container{
  text-align: left;
}

.cartText{
  color: #1a736a;
  font-size: 16px;
  font-weight: 100;
  font-family: 'Sofia Pro Regular', sans-serif;
}

@media only screen and (min-width: 900px) {
  .cartCurrencyDiv{
    border-right: 1px solid #50b277;
    height: 40px;
    top: -5px;
    position: absolute;
    left: -10px;
  }
  .js-menu_alink{
    background-color: transparent !important;
  }

}

.js-hide{
  display: none;
}

.ingredient-h3 {
  font-family: 'Sofia Pro SemiBold' !important;
  font-size: 36px;
}

.review-h2 {
  line-height: 66px;
  font-family: 'Sofia Pro SemiBold'!important;
  color: #292929;
}

.js-email_reset{
  background-color: #ffffff;
  padding-left: 13px;
  border: 1px solid #c9caca;
  font-size: 16px !important;
  border-radius: 6px;
  line-height: 62px;
  height: 62px;
  margin-right: 6px;
  max-width: none;
  width: 55%;
}

.js-email_container{
  max-width: none;
}

.js-email_btn{
  position: relative;
  top: 0;
  transform: translateY(0);
  display: inline-block;
  background: #ff5a8c;
  color: #fff;
  letter-spacing: 2.4px;
  font-size: 17px;
  height: 60px;
  border-radius: 3px;
  line-height: 60px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-weight: bold;
  width: 29%;
}

.js-email_btn .footer__newsletter-btn-label{
  display: block;
  font-size: 16px;
}

.announcement-text {
  font-size: 16px;
  line-height: 23px;
  font-family: "Sofia Pro SemiBold" !important;
  font-weight: 400 !important;
}

#NavDrawer {
  opacity: 0.8;
}

.mobile-nav__social{
  display: none;
}

.slick-prev, .slick-next{
  z-index: 19;
}

.js-drawer__close{
  text-align: right;
}

.js-currency{
  padding: 0;
}

.js-currency select{
  font-size: 16px;
  color: #34746a;
}

.js-mobile-nav a{
  color: #34746a !important;
  font-size: 16px;
  font-weight: 600 !important;
}

.js-mobile-menu-collap{
  font-size: 24px;
  border-left: 0 !important;
}

.js-mobile-menu-collap .plus-minus{
  color: #5ab47a;
  font-weight: 300 !important;
  font-size: 28px;
}
.js-mobile-nav__item:first-child{
  border-top: 1px solid #34746a;
}
.js-mobile-nav__item{
  border-bottom: 1px solid #34746a;
  padding: 10px 0;
}

.js-mobile-nav li.mobile-nav__item:after{
  border: 0;
}

#NavDrawer .drawer__header.drawer__header--full.appear-animation.appear-delay-1{
  border-bottom: 0;
}

.js-reset_just_mobile{
  margin-bottom: -4px;
}
.cart-link__bubble--visible{
  top: 40%;
  right: -15px;
}
@media only screen and (max-width: 500px) {
  .js-add_cart-btn{
    padding: 20px;
    letter-spacing: 1px;
  }
  .bg_slider_init{
    padding-bottom: 30px;
  }
  .bg_slider_init .slick-dots{
    margin-bottom: 60px;
  }
  .cart-link__bubble--visible{
    top: 40%;
    right: -5px;
  }

  .product-single__description.rte ul li {
    font-size: 14px;
    line-height: 20px;
  }

  .product-footer-buy button.btn {
    font-size: 16px;
  }
}


.faq-header-title {
  font-size: 56px;
  font-family: 'Sofia Pro Regular' !important;
  font-weight: 600;

}
@media only screen and (min-width: 992px) {
   .desktop_view {
    margin-left: -60px;
  }
  .faq-header-title {
    margin-left: -70px;
  }
}

.tab_content .tab_index p {
  line-height: 28px;
}

.trustpilot-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

ul.page_tab_container li {
  padding-left: 37px;
  padding-right: 37px;
}


@media only screen and (min-width: 1288px) {
  #shopify-section-page-shipping-template .page-blocks .js-block_style .grid__item, #shopify-section-page-shipping-template .page-blocks .js-block_style .grid.page-width {
    padding: 0 5px;
  }
}


#shopify-section-page-shipping-template .js-block_style p {
  font-size: 16px !important;
  line-height: 28px !important;
}

#shopify-section-page-shipping-template div.grid__item p.h2 {
  font-size: 30px !important;
  line-height: 33px !important;
  font-family: "Sofia Pro Bold" !important;
}

.shipping-padding {
  padding: 15px 15px !important;
  margin-bottom: 0;
}

.ajaxcart__product{
  background-color: #f1f1f1;
}

.drawer__inner .ajaxcart__price {
  font-size: 16px;
  color: #1c1d1d;
}


.total-margin {
  margin-top: 20px;
}


.js-accordion_div p {
  font-size: 14px !important;
  line-height: 20px;
}

// Bg slider font
.bgslider-font {
  z-index: 2;
  position: relative;
  font-size: 22px;
}

.bg_slider_init .slick-arrow {
  top: 46%;
}
// End bg slider

// Survey section fixes
.col_h2 {
  font-size: 60px;
}

.col_icon_con {
  font-size: 20px;
}

// Mobile media query fixes at 25th March 2019 by Lyon
@media only screen and (max-width: 768px){
  // bgslider coconut girl yellow box
  .bgslider-font,.ingredient-p p{
    font-size: 16px !important;
  }

  //  Survey
  .col_h2 {
    font-size: 28px;
  }

  .col_icon_con {
    font-size: 17px;
  }

  .reset_media_font p {
    text-align: center !important;
    font-size: 16px !important;
  }

  // hero banner
  #Slideshow-1551381614670 .hero__text-wrap > .page-width {
    padding: 0;
  }
  #Slideshow-1551381614670 .h1.hero__title {
    width: 65%;
    margin: 0 auto;
  }

  #Slideshow-1551381614670 a.btn {
    width: 90%;
    padding: 15px 55px;
    letter-spacing: 0;
  }

  blockquote.testimonial-post {
    font-size:16px;
    line-height: 23px;
  }

  .js-footer_social .footer-h5 strong, .js-footer_social .footer-h5 p{
    font-size: 14px;
  }
  .js-email_reset{
    font-size: 12px !important;
    line-height: 50px;
    height: 50px;
  }
  .js-email_btn {
    height: 50px !important;
    line-height: 50px !important;
  }
}


@media only screen and (min-width: 769px) {
  //  Nav issue
  .site-nav__link{
    padding: 7.5px 30px;
  }

  .site-nav__item:nth-child(2) .site-nav__link {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-right:30px;
  }

  header .pink-header, header .pink-header > .header-layout {
    height: 70px;
  }
}


// Redirection dropdown
.selectric-open .selectric-items{
    display:block;
    background-color:#def1e2
}

.selectric {
  cursor: pointer;
}
.flagsHolder {
  width: 16px !important;
  display: inline !important;
  margin-right: 10px;
}
@media (min-width: 992px){
  .selectric-open .selectric-items{
    width:250px !important;
    right:-21px;
    left:auto;
    top:28px
  }

  .selectric-items {
    position:absolute;
  }

  // trustpilot
  .mini-trustpilot {
    width: 34% !important;
  }
}

.selectric-items{
    display:none;
    top:100%;
    left:0;
    text-align:left;
    background:#fff;
    border:1px solid #e6e6e6;
    z-index:99;
    -webkit-box-shadow:0 0 10px -6px;
    box-shadow:0 0 10px -6px
}
.selectric-items ::-webkit-scrollbar{
    -webkit-appearance:none
}
.selectric-items ::-webkit-scrollbar:vertical{
    width:8px
}
.selectric-items ::-webkit-scrollbar:horizontal{
    height:8px
}
.selectric-items ::-webkit-scrollbar-thumb{
    background-color:rgba(0,0,0,0.3);
    border-radius:10px;
    border:2px solid #ffffff
}
.selectric-items ::-webkit-scrollbar-track{
    border-radius:10px;
    background-color:#ffffff
}
.selectric-items .selectric-scroll{
    height:100%;
    overflow:auto
}
.selectric-above .selectric-items{
    top:auto;
    bottom:100%
}
.selectric-items ul,.selectric-items li{
    list-style:none;
    padding:0;
    margin:0;
    font-size:12px;
    line-height:20px;
    min-height:20px
}
.selectric-items li{
    display:block;
    padding:10px 8px;
    border-top:1px solid #FFF;
    line-height:16px;
    color:#666;
    cursor:pointer
}
.selectric-items li.selected{
    background:#cbecc8;
    color:#000
}
.selectric-items li:hover{
    background:#cbecc8;
    color:#444
}
.selectric-items .disabled{
    filter:alpha(opacity=50);
    opacity:0.5;
    cursor:default !important;
    background:none !important;
    color:#666 !important;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.selectric-items .selectric-group .selectric-group-label{
    font-family:"Sofia Pro SemiBold", sans-serif;
    padding-left:10px;
    cursor:default;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background:none;
    color:#444
}
.selectric-items .selectric-group.disabled li{
    filter:alpha(opacity=100);
    opacity:1
}
.selectric-items .selectric-group li{
    padding-left:25px
}

.country{
    margin-top:20px;
    border:1px solid #ebebeb;
    padding:16px 15px 5px;
    border-radius:4px
}
@media (min-width: 992px){
  .country{
    margin:12px 20px 0 0;
    padding:0;
    border:none;
    display:inline-block;
    float:right
  }
}
.flag{
  width:16px;
  height:16px;
  display:inline-block;
  vertical-align:middle;
  margin-right:5px;
}

// input discount
// Field
.shippingPromo {
  color: #ff5a8c;
  cursor: pointer;
  text-decoration: underline;
  font-size: 17px;
  font-weight: bold;
}
.field{
  text-align:left;
  border:1px solid #e4e4e4;
  border-radius:4px;
  padding:4px 5px;
  background-color:white;
  margin-bottom:20px;
}

.field label{
    font-size:9px;
    letter-spacing:0.2px;
    height:10px;
    text-transform:uppercase;
    font-weight:normal;
    font-family:"Sofia Pro Regular", sans-serif;
    color:#b0b0b0;
    margin-bottom:0
}
@media (min-width: 768px){
  .field label{
    letter-spacing:0.9px;
    font-size:12px;
    height:19px
  }
}

.promo-discount{
  margin-bottom:15px
}
.promo-discount .close{
  font-size:30px;
  position:absolute;
  right:4px;
  top: -6px;
  text-decoration: none;
  opacity: 0.2;
}

.promo-discount .field {
  padding: 15px;
  position: relative;
}

.promo-discount .field .btn-apply{
  font-size:14px;
  color:#50b277;
  position:absolute;
  right:15px;
  display:inline-block;
  padding:0;
  margin:0;
  bottom: 21px;
  letter-spacing:1.1px
}

.promo-discount .field .input-discount{
  font-size:15px;
  color: #435760;
  border: 0;
  padding: 0;
  display:inline-block;
  width: 100%;
}

.alert{
  padding:15px;
  margin-bottom:20px;
  border:1px solid transparent;
  border-radius:4px
}

.alert-success,.alert-notice{
  background-color:#dff0d8;
  border-color:#d6e9c6;
  color:#3c763d
}

.alert-danger, .alert-error, .alert-registration_error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.grid-collection_product__title--body {
  line-height: 1.42857143;
}

.reviews_p {
  word-wrap: break-word;
}
.reviews_p p, .reviews_p strong {
  font-size: 16px !important;
  line-height: 1.42857143 !important;
}

.span-upsell-text {
  font-size: 20px;
  line-height: 22px;
}

.slick-track {
  margin: 0 auto;
}

@media only screen and (max-width: 520px) {
  .js-reset_slider {
    width: 90% !important;
  }
}
.youtube_column{
  background-color: white;
  height:590px;
  border-radius:10px;
  margin-left: 20px;
}
.youtube_column .social-images{
  position: relative;
}
// Modal popup for iFrame
.modal-yt {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 27vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-email h3{
  margin-top: 20px;
}

.popup-email .input-text{
  height: 50px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66666667%;
  float: left;
}

.popup-email .btn{
  float: right;
  display: inline-block;
  height: 50px;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
  padding: 0 50px;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 6px;
  border: 1px solid #bbb;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333333%;
  color: #fff;
  background-color: #ff5a8c;
  border-color: #ff5a8c;
}
.popup-email button.close span{
  font-size: 21px;
  opacity: 0.3;
}

/* Modal Content */
.modal-content-yt {
  margin: auto;
  position: relative;
  width: 560px;
}

/* The Close Button */
.close-yt {
  position: absolute;
  right: 15px;
  top: 18px;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .close-yt{
    right: 15px;
    top: 36px;
  }
  .modal-content-yt{
    width: 100%;
  }
}
.close-yt:hover,
.close-yt:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.review_play_btn{
  cursor: pointer;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translatex(-50%);
  z-index: 9;
  background: rgba(0,0,0,0.7);
  padding: 25.5px 26px 25.5px 31px;
  border-radius: 50%;
}
.review_play_btn img{
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.menu_new_label{
  position: absolute;
  z-index: 9;
  right: -6px;
  top: -145px;
}

.menu_new_label img{
  width: 50px;
  height: 50px;
}
.add-relative {
 position: relative !important;
}

@media only screen and (max-width: 767px) {
  ._desktop_bg_div{
    display: none;
  }
  ._mobile_bg_div{
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  ._desktop_bg_div{
    display: block;
  }
  ._mobile_bg_div{
    display: none;
  }
  .width-230{
    width: 230px
  }
}
