@font-face {
    font-family: 'Sofia Pro Bold';
    src: url("{{'SofiaPro-Bold.eot' | asset_url }}");
    src: url("{{'SofiaPro-Bold.eot?#iefix' | asset_url }}") format('embedded-opentype'),
        url("{{'SofiaPro-Bold.woff2' | asset_url }}") format('woff2'),
        url("{{'SofiaPro-Bold.woff' | asset_url }}") format('woff'),
        url("{{'SofiaPro-Bold.ttf' | asset_url }}") format('truetype'),
        url("{{'SofiaPro-Bold.svg#SofiaPro-Bold' | asset_url}}") format('svg');
    font-display: auto;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro SemiBold';
    src: url("{{'SofiaPro-SemiBold.eot' | asset_url }}");
    src: url("{{'SofiaPro-SemiBold.eot?#iefix' | asset_url }}") format('embedded-opentype'),
        url("{{'SofiaPro-SemiBold.woff2' | asset_url }}") format('woff2'),
        url("{{'SofiaPro-SemiBold.woff' | asset_url }}") format('woff'),
        url("{{'SofiaPro-SemiBold.ttf' | asset_url}}") format('truetype'),
        url("{{'SofiaPro-SemiBold.svg#SofiaPro-SemiBold' | asset_url }}") format('svg');
    font-display: auto;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro Regular';
    src: url("{{'SofiaPro-Regular.eot' | asset_url}}");
    src: url("{{'SofiaPro-Regular.eot?#iefix' | asset_url}}") format('embedded-opentype'),
        url("{{'SofiaPro-Regular.woff2' | asset_url }}") format('woff2'),
        url("{{'SofiaPro-Regular.woff' | asset_url}}") format('woff'),
        url("{{'SofiaPro-Regular.ttf' | asset_url}}") format('truetype'),
        url("{{'SofiaPro-Regular.svg#SofiaPro-Regular' | asset_url}}") format('svg');
    font-display: auto;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro Medium';
    src: url("{{'SofiaPro-Medium.eot' | asset_url }}");
    src: url("{{'SofiaPro-Medium.eot?#iefix' | asset_url }}") format('embedded-opentype'),
        url("{{'SofiaPro-Medium.woff2' | asset_url }}") format('woff2'),
        url("{{'SofiaPro-Medium.woff' | asset_url }}") format('woff'),
        url("{{'SofiaPro-Medium.ttf' | asset_url}}") format('truetype'),
        url("{{'SofiaPro-Medium.svg#SofiaPro-Medium' | asset_url}}") format('svg');
    font-display: auto;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro Light';
    src: url("{{'SofiaProLight.eot' | asset_url }}");
    src: url("{{'SofiaProLight.eot?#iefix' | asset_url}}") format('embedded-opentype'),
        url("{{'SofiaProLight.woff2' | asset_url }}") format('woff2'),
        url("{{'SofiaProLight.woff' | asset_url }}") format('woff'),
        url("{{'SofiaProLight.ttf' | asset_url }}") format('truetype'),
        url("{{'SofiaProLight.svg#SofiaProLight' | asset_url}}") format('svg');
    font-display: auto;
    font-weight: 300;
    font-style: normal;
}

body {
  line-height: 1.42857143;
  font-size: 16px !important;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  line-height: 1.1;
  font-weight: 500;
}

h1 small,h1 .small,.h1 small,.h1 .small,h2 small,h2 .small,.h2 small,.h2 .small,h3 small,h3 .small,.h3 small,.h3 .small {
 font-size: 65%
}

h4 small,h4 .small,.h4 small,.h4 .small,h5 small,h5 .small,.h5 small,.h5 .small,h6 small,h6 .small,.h6 small,.h6 .small {
 font-size: 75%
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6, .site-header--heading-style .site-nav__link  {
  font-family: {{settings.new_header_font_family}} !important;
}
.h2 {
  font-size: 50px;
}
select {
  -webkit-appearance: menulist !important;
  height: 50px !important;
}
 /* Helpers */
.no-margin {
  margin:0;
}
.mt5percent {
  margin-top:3%;
}
.bbNone:after {
  border-bottom: 0px !important;
}
.three-quarter-width {
  width: 68% !important;
}
.t-left {
  text-align: left !important;
}
.pad-12 {
  padding-left: 12px;
  padding-right: 12px;
}
.pad-top-20 {
  padding-top:20px;
}
.fs-27 {
  font-size: 27px;
}
.fs-34 {
  font-size: 34px;
  font-weight: bold;
  max-width: 980px;
  margin: 0 auto;
}
.one-49 {
  width: 49%;
}
.no-pads-bottom {
  padding-bottom: 0 !important;
}
.mobile-pad-bottom {
  margin-bottom: 50px !important;
}
.pink-highlights {
  color: #ff5a8c !important;
}
/* back to top */
#btt-button {
  background: #fff;
  display: block;
  position: fixed;
  bottom: 80px;
  right: 10px;
  z-index: 24;
  width: 55px;
  height: 55px;
  padding: 16px 0;
  text-align: center;
  border-radius: 46px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  outline: none;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  background-image: url('{{ 'topArrow.png' | asset_url }}');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

#btt-button:hover {
  cursor: pointer;
  background-color: #fff;
}
#btt-button:active {
  background-color: #fff;
}
#btt-button.show {
  opacity: 1;
  visibility: visible;
}
