.site-header{
  padding:0;
}
.reset-h5 {
  font-size: 30px;
  letter-spacing: 0.025em;
  line-height: 1.4;
  text-transform: none;
  font-family: "Sofia Pro SemiBold" !important;
}

.reset-index-section {
  margin-bottom: 0;
  margin-top: 0;
}

span.faq-q, .bold-family {
  font-family: "Sofia Pro Bold" !important;
}

/* From page block image text with button css */
.button_full {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.reset_btn_toggle {
  border: 2px solid #ff5a8c;
  color: #ff5a8c;
  height: 64px;
  font-weight: bold;
  padding: 0 50px;
  font-size: 20px;
  border-radius: 6px;
  margin: 40px 0 40px;
  text-transform: uppercase;
}
.reset_btn_toggle:hover {
  border: 2px solid #ff5a8c;
  color: #ff5a8c;
  height: 64px;
  font-weight: bold;
  padding: 0 50px;
  font-size: 20px;
  border-radius: 6px;
  margin: 40px 0 40px;
  text-transform: uppercase;
}

.product-single__description.rte ul {
  list-style-image: url('{{"check.png" | asset_url }}') !important;
}

.product-single__description.rte ul li {
  margin-bottom: 10px;
  font-size: 18px;
}

h3.subtitle {
  font-size: 24px;
}


/* For page-block-bg-image-with-text-new.liquid */
.to_right {
  right: 0;
  width: 50%;
}

.to_left {
  width: 50%;
}

.to_left .background-media-text__aligner, .to_right .background-media-text__aligner {
  margin: 30px
}


.reset-background-new--left .mainTitle {
  text-align: left;
  left: 15%;
  position: relative;
  font-family: 'Sofia Pro SemiBold' !important;
}

/* Footer */
.greenLine {
  border-bottom: 1px solid #50b277;
  border-width: thin;
  padding-bottom: 11px;
}
.footer-disclaimer {
  font-size: 14px !important;
  color: #757575;
}
.paymentIcons {
  padding-top:20px;
  padding-bottom: 9px;
}

@media only screen and (max-width: 768px) {
  .to_right {
    right: 0;
    width: 100%;
    top: 0;
  }

  .to_left {
    width: 100%;
    top: 0;

  }
  .reset-index-section, .mobile-text-center, .mobile-text-center p {
    text-align: center !important;
  }

  .reset-background-new--left .mainTitle {
    left: 0;
  }

  .mainTitle {
    text-align: center !important;
  }

  .desktop_img {
    display: none !important;
  }
}

/* Reset page width on faq page*/
.reset-page-width {
  padding-top: 50px;
  padding-bottom: 50px;
}

.faq_div {
    background: #fff;
    position: relative;
    border-radius: 10px
}

@media only screen and (max-width: 768px) {
  .faq_div {
    margin-left: 0;
  }
  .js-email_btn .footer__newsletter-btn-label {
    font-size: 12px !important;
  }

}

.faq-list {
  padding: 0 50px;
}

.faq-item {
    border-bottom: 1px solid #ebebeb;
    padding: 16px 0 15px
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-q {
    display: block;
    letter-spacing: 0.5px;
    color: #292929
}

.heading {
  border-bottom: 1px solid #ebebeb;
  padding:48px 48px 48px;
  font-size: 25px;
}

.view-all {
    letter-spacing: 1.3px;
    font-size: 15px;
    padding: 33px 0;
    border-top: 1px solid #ebebeb;
    text-align: center
}

.view-all a {
    color: #ff5a8c;
    font-family: 'Sofia Pro Bold';
    text-transform: uppercase;
}
.ingredientTitle {
  font-family: 'Sofia Pro SemiBold' !important;
  margin-bottom: -35px !important;
  color: #292929;
}

.social-slider-images {
    display: block;
    position: relative;
    max-height: 200px;
    min-height: 190px;
    max-width: 280px;
    min-width: 270px;
    overflow: hidden;
    background-image: url('{{ "25-ba.jpg" | asset_img_url: "x400", scale: 2}}');
}

.testimonial-profile {
  padding: 20px 20px 0;
  font-family: "Sofia Pro Bold" !important;
}


.slick-carousel {
  padding-bottom: 30px;
}
.bg_slider_init .slick-prev{
  left: -18px;
  background-position: center -50px;
}
.reset-slick .slick-prev {
  left: 20px;
  background-position: center -50px;
}
.bg_slider_init .slick-next{
  right: -18px;
  background-position: center 13px;
}
.reset-slick .slick-next {
  right: 20px;
  background-position: center 22px;
}

.bg_slider_init .slick-prev:before,.bg_slider_init .slick-next:before,.reset-slick .slick-prev:before, .reset-slick .slick-next:before {
  content: '';
}

.reset-slick .slick-prev:hover, .reset-slick .slick-prev:focus, .reset-slick .slick-next:hover, .reset-slick .slick-next:focus {
  background-color: #fff7db;
  background-color: #fff7db;
}

.bg_slider_init .slick-prev,.bg_slider_init .slick-next,.reset-slick .slick-prev, .reset-slick .slick-next {
  position: absolute;
  top: 50%;
  z-index: 2;
  display: block;
  border-radius: 55px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  width: 55px;
  height: 55px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff7db;
  background-image: url('{{ "icons-arrow.png" | asset_img_url: "x400", scale 2}}');
  background-size: 20px auto;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.bg_slider_init .slick-prev,.bg_slider_init .slick-next{
  width: 36px;
  height:36px;
  background-size: 17px auto;
  opacity: 0.5;
}


.prod-carousel {
  margin-top: 30px;
  margin-bottom: 30px;
}

.reset-slick .slick-dots {
  bottom: -10px;
}

.text-center {
  text-align: center;
}

.view-all-review {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  padding-right: 40px;
  padding-left: 40px;
  line-height: 25px;
  font-family: "Sofia Pro SemiBold" !important;
  letter-spacing: 0 !important;
  text-transform: none;
}

.view-review {
  padding-bottom: 20px;
}

.reset-slick .slick-dots li button{
  background-color: #75ab8a;
  border-radius: 50% !important;
}

button.add-to-cart {
  width: 55%;
  margin-top: 20px;
  border-radius: 0 !important;
}

/* For product footer-buy */
.product-footer-buy {
  position:fixed;
  bottom: 0;
  width: 100%;
  z-index:20;
}

.product-footer-buy button.btn {
  font-size: 20px;
}

@media only screen and (max-width: 769px) {
  .desktop-d {
    display: none !important;
  }
}

input.js-reset_radio{
    display: none;
}

input.js-reset_radio + label
{
    margin-right: 5px;
    cursor:pointer;
    background: #fff;
    border-radius: 50%;
    border: 1px solid black;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 5 5 5 5px;
}

input.js-reset_radio:checked + label
{
    background-image: url(" {{ 'tick_white.png' | asset_img_url: 'x200', scale 2}}");
    background-position: center;
    background-size: contain;
    border-color: #F18F8E !important;
    background-color: #ff5a8c;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 5 5 5 5px;
}


.own-padding {
  padding: 40px;
}

.reset-home-index {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.grid--collection .grid__item .grid-product__content {
  border: 1px solid #959595;
}

.sofiabold {
  font-family: "Sofia Pro Bold" !important;
}

.collection-btn {
  width: 70%;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 1px 20px;
  letter-spacing: 0;
  border-radius: 6px;
}
.collection-btn:hover {
  background: #1a736a !important;
}
.learn__more {
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #ff5a8c;
  color: #ff5a8c;
}
.learn__more:hover {
  background-color: white !important;
  color: #ff5a8c;
}

.js-reset__cart {
  margin-top: 20px;
  margin-bottom: 20px;
}

.js-reset__cart .page-width {
  padding: 0 !important;
}

.js-reset__cart p.cta_icon_text {
  font-size: 11px;
}

.upsell-price {
  font-size: 40px;
  line-height: 57px;
}

.empty_cart {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-bottom: 17px;
}

.upsell-h2 {
  font-size: 19px;
  font-family: "Sofia Pro Bold";
}

.upsell-p {
  font-size: 14px;
  line-height: 1.4;
}

.testimonial-profile {
  font-size: 16px;
}
blockquote.testimonial-post {
  font-size: 18px;
  line-height: 26px;
  color: #5f5f5f;
  display: block;
}


.btn-upsell {
  position: fixed !important;
  bottom: 10px;
  left: 17px;
  width: 100%;
  z-index: 2;
  margin-left: -17px;
  border-radius: 0px;
  letter-spacing: 1.4px;
}

@media only screen and (max-width: 520px) {
  .slick-active {
    /* width: 100% !important; */
  }
}

/* ILLEGAL CSS CHANGE IS AFTER 29TH FEB 3PM  */
.site-nav__item li {
  display: inline-block;
}
.site-nav__dropdown {
  width: 100vw;
  text-align: center !important;
  background-color: rgba(255,255,255,0.9);
  padding: 30px 0 30px !important;
  top: 113px;
}

.site-nav__dropdown a.js-temp_reset {
  background-color :transparent !important;
}

.menu_prod_image {
  width: 150px;
  height: 150px;
  border: solid 1px #ddd;
}

.illegal-btn {
  color: white !important;
  font-size: 18px !important;
  letter-spacing: 0em !important;
  margin-right: 28px;
}
.illegal-btn:hover {
  background: #1a736a !important;
  color: #fff !important;
}
.site-nav--has-dropdown.is-focused>a, .site-nav--has-dropdown:hover>a {
  background-color: #1a736a !important;
  color: #fff !important;
}
.site-nav--has-dropdown .site-nav__link--underline:after {
  border-bottom-color:transparent !important;
}
.site-nav--has-dropdown{
  padding: 20px 0;
}
.site-nav__dropdown {
  // top:115px !important;
}
.collapsibles-wrapper--border-bottom {
  margin-top: 20px;
}

.reset-home-hero-txt {
  font-family: "Sofia Pro Light" !important;
  font-size: 36px;
  color: black;
}


@media only screen and (max-width: 520px) {
  .review-widget .reset-h2 {
    font-size: 28px;
    line-height: 1;
  }
}


.padding-classes {
  padding: 0 15px 100px;
}

.edited_js {
  font-family: "Sofia Pro Bold" !important;
  margin-bottom: 2px;
}


.heading-h3 {
  font-size: 18px;
  margin-top: 50px;
}

.subheading-p {
  font-size: 16px;
}


/* For contact us page */

.contactus-grid {
  position: relative;
}

.contactus-grid .contactus-div {
  height: 450px;
  background-color: white;
}

.contactus-grid .image-wrap {
  margin-top: 36px;
  background-color: white;
  border-radius: 50%;
}

.contactus-icon {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.contact-us-text {
  width: 95%;
  position:absolute;
  top: 35%;
  /* transform: translateY(-50%); */
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.contact-us-text .rte-setting {
    font-size: 18px;
}

.contact-us-text .rte-setting a {
  font-size: 18px;
  color: #50b277;
  font-family: "Sofia Pro Bold";
}

.contact-us-text button.contactus-button {
  font-family: "Sofia Pro SemiBold";
  font-size: 16px;
  line-height: 40px;
  line-spacing: 0;
}

.contactus-button {
  border-radius: 40px;
  text-transform: lowercase;
  padding: 0 35px;
  height: 46px;
}

.reset-shippingdiv {
  border-radius: 0;
  text-align: center;
}

.bottom-text {
  padding: 23px 18px 20px;
}

/* Left row */
.left-row {
  padding: 20px 0;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}

.left-row p:first-child {
  /* float: left; */
  font-size: 14px !important;
  text-align: left;
  margin-bottom:0;
  width: 41.66666667%;
  padding-left: 15px;
  padding-right: 15px;
}

.left-row p:nth-child(2) {
  /* float: left; */
  font-size: 14px !important;
  text-align: left;
  margin-bottom:0;
  width: 33.33333333%;

}

.left-row p:nth-child(3) {
  /* float: left; */
  text-align: center;
  font-size: 14px !important;
  margin-bottom:0;
  width: 25%;
}

/* Right row */
.right-row {
  padding: 20px 10px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}

.right-row p:first-child {
  /* float: left; */
  font-size: 14px;
  text-align: left;
  width: 41.66666667%;
  padding-left: 15px;
  padding-right: 15px;
}

.right-row p:nth-child(2) {
  /* float: left; */
  font-size: 14px;
    text-align: left;
  width: 33.33333333%;

}

.right-row p:nth-child(3) {
  /* float: left; */
  text-align: center;
  font-size: 15px;
  width: 25%;
}


.contact-heading {
  border-bottom: 2px solid #484848;
  font-size: 20px;
}

.ship-1 {
  padding: 9px 20px 44px;
}

/* Widget Chat */
iframe.zEWidget-launcher {
  bottom: 300px !important;
}

/* Differences Changes for trello card */
.bg_slider_col h1{
  text-shadow: 0 0 20px rgba(0,0,0,0.4);
  color: #fff;
}
.hero__image-wrapper:before, .hero__media:before{
  display: none;
}

.img-text-color:last-child .page-width {
  margin-bottom: 40px;
}

.homepage-herotext:before {
  background: none;
}

@media only screen and (max-width: 520px) {
  .reset-slick .slick-slide {
    margin-left: 8px !important;
    margin-right: 8px !important;
  }

  .reset-slick .slick-arrow {
    top: 39% !important;
  }
}


.reset-shipping-col {
  align-items: inherit;
}

.bottom-text p:first-child {
  margin-top: 35px;
}

.right-btmtxt2 {
  color: #a9a9a9 ;
  font-size: 14px ;
  line-height: 1.4 ;
}

.js-footer_social .footer-h5 strong, .js-footer_social .footer-h5 p{
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 400;
  font-family: "Sofia Pro Regular" !important;
}

.checkout_btn_reset {
  position: fixed !important;
  bottom: 0;
  left: 0;
  left: 17px;
  width: 90%;
}

#CartDrawer .drawer__inner {
  // margin-bottom: 50px
}

@media only screen and (max-width: 520px){
  .drawer {
    max-width: 100% !important;
  }

  .drawer--right {
    width: 100%;
  }
}

.variant_subtitle {
  font-size: 16px;

}
p.plus-minus{
  margin-bottom: 0;
}
.plus-minus {
  font-family: system-ui !important;
  font-weight: 100 !important;
  float: right;
  font-size: 24px;
  line-height: 0.3;
  width: 12px;
}

.collapsible-trigger-btn--borders {
  border: 0;
}
.collapsible-trigger-btn--borders+.collapsible-content .collapsible-content__inner {
  border: 0 !important;
  padding: 0 75px 16px 16px;
}

.collapsibles-wrapper--border-bottom {
  border-bottom: 0;
}

.product_icon_container{
  text-align: left;
}

.cartText{
  color: #1a736a;
  font-size: 16px;
  font-weight: 100;
  font-family: 'Sofia Pro Regular', sans-serif;
}

@media only screen and (min-width: 900px) {
  .cartCurrencyDiv{
    border-right: 1px solid #50b277;
    height: 40px;
    top: -5px;
    position: absolute;
    left: -10px;
  }
  .js-menu_alink{
    background-color: transparent !important;
  }

}

.js-hide{
  display: none;
}

.ingredient-h3 {
  font-family: 'Sofia Pro SemiBold' !important;
  font-size: 36px;
}

.review-h2 {
  line-height: 66px;
  font-family: 'Sofia Pro SemiBold'!important;
  color: #292929;
}

.js-email_reset{
  background-color: #ffffff;
  padding-left: 13px;
  border: 1px solid #c9caca;
  font-size: 16px !important;
  border-radius: 6px;
  line-height: 62px;
  height: 62px;
  margin-right: 6px;
  max-width: none;
  width: 55%;
}

.js-email_container{
  max-width: none;
}

.js-email_btn{
  position: relative;
  top: 0;
  transform: translateY(0);
  display: inline-block;
  background: #ff5a8c;
  color: #fff;
  letter-spacing: 2.4px;
  font-size: 17px;
  height: 60px;
  border-radius: 3px;
  line-height: 60px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-weight: bold;
  width: 29%;
}

.js-email_btn .footer__newsletter-btn-label{
  display: block;
  font-size: 16px;
}

.announcement-text {
  font-size: 16px;
  line-height: 23px;
  font-family: "Sofia Pro SemiBold" !important;
  font-weight: 400 !important;
}

#NavDrawer {
  opacity: 0.8;
}

.mobile-nav__social{
  display: none;
}

.slick-prev, .slick-next{
  z-index: 19;
}

.js-drawer__close{
  text-align: right;
}

.js-currency{
  padding: 0;
}

.js-currency select{
  font-size: 16px;
  color: #34746a;
}

.js-mobile-nav a{
  color: #34746a !important;
  font-size: 16px;
  font-weight: 600 !important;
}

.js-mobile-menu-collap{
  font-size: 24px;
  border-left: 0 !important;
}

.js-mobile-menu-collap .plus-minus{
  color: #5ab47a;
  font-weight: 300 !important;
  font-size: 28px;
}
.js-mobile-nav__item:first-child{
  border-top: 1px solid #34746a;
}
.js-mobile-nav__item{
  border-bottom: 1px solid #34746a;
  padding: 10px 0;
}

.js-mobile-nav li.mobile-nav__item:after{
  border: 0;
}

#NavDrawer .drawer__header.drawer__header--full.appear-animation.appear-delay-1{
  border-bottom: 0;
}

.js-reset_just_mobile{
  margin-bottom: -4px;
}
.cart-link__bubble--visible{
  top: 40%;
  right: -15px;
}
@media only screen and (max-width: 500px) {
  .js-add_cart-btn{
    padding: 20px;
    letter-spacing: 1px;
  }
  .bg_slider_init{
    padding-bottom: 30px;
  }
  .bg_slider_init .slick-dots{
    margin-bottom: 60px;
  }
  .cart-link__bubble--visible{
    top: 40%;
    right: -5px;
  }

  .product-single__description.rte ul li {
    font-size: 14px;
    line-height: 20px;
  }

  .product-footer-buy button.btn {
    font-size: 16px;
  }
}


.faq-header-title {
  font-size: 56px;
  font-family: 'Sofia Pro Regular' !important;
  font-weight: 600;

}
@media only screen and (min-width: 992px) {
   .desktop_view {
    margin-left: -60px;
  }
  .faq-header-title {
    margin-left: -70px;
  }
}

.tab_content .tab_index p {
  line-height: 28px;
}

.trustpilot-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

ul.page_tab_container li {
  padding-left: 37px;
  padding-right: 37px;
}


@media only screen and (min-width: 1288px) {
  #shopify-section-page-shipping-template .page-blocks .js-block_style .grid__item, #shopify-section-page-shipping-template .page-blocks .js-block_style .grid.page-width {
    padding: 0 5px;
  }
}


#shopify-section-page-shipping-template .js-block_style p {
  font-size: 16px !important;
  line-height: 28px !important;
}

#shopify-section-page-shipping-template div.grid__item p.h2 {
  font-size: 30px !important;
  line-height: 33px !important;
  font-family: "Sofia Pro Bold" !important;
}

.shipping-padding {
  padding: 15px 15px;
  margin-bottom: 0;
}

.ajaxcart__product{
  background-color: #f1f1f1;
}

.drawer__inner .ajaxcart__price {
  font-size: 16px;
  color: #1c1d1d;
}


.total-margin {
  margin-top: 20px;
}


.js-accordion_div p {
  font-size: 14px !important;
  line-height: 20px;
}

// Bg slider font
.bgslider-font {
  z-index: 2;
  position: relative;
  font-size: 22px;
}

.bg_slider_init .slick-arrow {
  top: 46%;
}
// End bg slider

// Survey section fixes
.col_h2 {
  font-size: 60px;
}

.col_icon_con {
  font-size: 20px;
}

// Mobile media query fixes at 25th March 2019 by Lyon
@media only screen and (max-width: 768px){
  // bgslider coconut girl yellow box
  .bgslider-font,.ingredient-p p{
    font-size: 16px !important;
  }

  //  Survey
  .col_h2 {
    font-size: 28px;
  }

  .col_icon_con {
    font-size: 17px;
  }

  .reset_media_font p {
    text-align: center !important;
    font-size: 16px !important;
  }

  // hero banner
  #Slideshow-1551381614670 .hero__text-wrap > .page-width {
    padding: 0;
  }
  #Slideshow-1551381614670 .h1.hero__title {
    width: 65%;
    margin: 0 auto;
  }

  #Slideshow-1551381614670 a.btn {
    width: 90%;
    padding: 15px 55px;
    letter-spacing: 0;
  }

  blockquote.testimonial-post {
    font-size:16px;
    line-height: 23px;
  }

  .js-footer_social .footer-h5 strong, .js-footer_social .footer-h5 p{
    font-size: 14px;
  }
  .js-email_reset{
    font-size: 12px !important;
    line-height: 50px;
    height: 50px;
  }
  .js-email_btn {
    height: 50px !important;
    line-height: 50px !important;
  }
}


@media only screen and (min-width: 769px) {
  //  Nav issue
  .site-nav__link{
    padding: 7.5px 30px;
  }

  .site-nav__item:nth-child(2) .site-nav__link {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-right:30px;
  }

  header .pink-header, header .pink-header > .header-layout {
    height: 70px;
  }
}


// Redirection dropdown
.selectric-open .selectric-items{
    display:block;
    background-color:#def1e2
}

.selectric {
  cursor: pointer;
}
.flagsHolder {
  width: 16px;
  margin-right: 10px;
}
@media (min-width: 992px){
  .selectric-open .selectric-items{
    width:250px !important;
    right:-21px;
    left:auto;
    top:28px
  }

  .selectric-items {
    position:absolute;
  }
}

.selectric-items{
    display:none;
    top:100%;
    left:0;
    text-align:left;
    background:#fff;
    border:1px solid #e6e6e6;
    z-index:99;
    -webkit-box-shadow:0 0 10px -6px;
    box-shadow:0 0 10px -6px
}
.selectric-items ::-webkit-scrollbar{
    -webkit-appearance:none
}
.selectric-items ::-webkit-scrollbar:vertical{
    width:8px
}
.selectric-items ::-webkit-scrollbar:horizontal{
    height:8px
}
.selectric-items ::-webkit-scrollbar-thumb{
    background-color:rgba(0,0,0,0.3);
    border-radius:10px;
    border:2px solid #ffffff
}
.selectric-items ::-webkit-scrollbar-track{
    border-radius:10px;
    background-color:#ffffff
}
.selectric-items .selectric-scroll{
    height:100%;
    overflow:auto
}
.selectric-above .selectric-items{
    top:auto;
    bottom:100%
}
.selectric-items ul,.selectric-items li{
    list-style:none;
    padding:0;
    margin:0;
    font-size:12px;
    line-height:20px;
    min-height:20px
}
.selectric-items li{
    display:block;
    padding:10px 8px;
    border-top:1px solid #FFF;
    line-height:16px;
    color:#666;
    cursor:pointer
}
.selectric-items li.selected{
    background:#cbecc8;
    color:#000
}
.selectric-items li:hover{
    background:#cbecc8;
    color:#444
}
.selectric-items .disabled{
    filter:alpha(opacity=50);
    opacity:0.5;
    cursor:default !important;
    background:none !important;
    color:#666 !important;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.selectric-items .selectric-group .selectric-group-label{
    font-family:"Sofia Pro SemiBold", sans-serif;
    padding-left:10px;
    cursor:default;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background:none;
    color:#444
}
.selectric-items .selectric-group.disabled li{
    filter:alpha(opacity=100);
    opacity:1
}
.selectric-items .selectric-group li{
    padding-left:25px
}

.country{
    margin-top:20px;
    border:1px solid #ebebeb;
    padding:16px 15px 5px;
    border-radius:4px
}
@media (min-width: 992px){
  .country{
    margin:12px 20px 0 0;
    padding:0;
    border:none;
    display:inline-block;
    float:right
  }
}
.flag{
  width:16px;
  height:16px;
  display:inline-block;
  vertical-align:middle;
  margin-right:5px;
}

// input discount
// Field
.shippingPromo {
  color: #ff5a8c;
  cursor: pointer;
  text-decoration: underline;
  font-size: 17px;
  font-weight: bold;
}
.field{
  text-align:left;
  border:1px solid #e4e4e4;
  border-radius:4px;
  padding:4px 5px;
  background-color:white;
  margin-bottom:20px;
}

.field label{
    font-size:9px;
    letter-spacing:0.2px;
    height:10px;
    text-transform:uppercase;
    font-weight:normal;
    font-family:"Sofia Pro Regular", sans-serif;
    color:#b0b0b0;
    margin-bottom:0
}
@media (min-width: 768px){
  .field label{
    letter-spacing:0.9px;
    font-size:12px;
    height:19px
  }
}

.promo-discount{
  margin-bottom:15px
}
.promo-discount .close{
  font-size:30px;
  position:absolute;
  right:4px;
  top: -6px;
  text-decoration: none;
  opacity: 0.2;
}

.promo-discount .field {
  padding: 15px;
  position: relative;
}

.promo-discount .field .btn-apply{
  font-size:14px;
  color:#50b277;
  position:absolute;
  right:15px;
  display:inline-block;
  padding:0;
  margin:0;
  bottom: 21px;
  letter-spacing:1.1px
}

.promo-discount .field .input-discount{
  font-size:15px;
  color: #435760;
  border: 0;
  padding: 0;
  display:inline-block;
  width: 100%;
}

.alert{
  padding:15px;
  margin-bottom:20px;
  border:1px solid transparent;
  border-radius:4px
}

.alert-success,.alert-notice{
  background-color:#dff0d8;
  border-color:#d6e9c6;
  color:#3c763d
}

.alert-danger, .alert-error, .alert-registration_error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.grid-collection_product__title--body {
  line-height: 1.42857143;
}

.reviews_p {
  word-wrap: break-word;
}
.reviews_p p, .reviews_p strong {
  font-size: 16px !important;
  line-height: 1.42857143 !important;
}

.span-upsell-text {
  font-size: 20px;
  line-height: 22px;
}

.slick-track {
  margin: 0 auto;
}

@media only screen and (max-width: 520px) {
  .js-reset_slider {
    width: 90% !important;
  }
}
