// Cart success message html
var cart_success = '<div class="alert alert-success">The coupon code was successfully applied to your order.</div>';
var cart_remove = '<div class="alert alert-error">The coupon code was successfully removed from your order.</div>';

/**
 * GWP main campaign function, contain addGWPCampaignProduct to construct html to be inserted
 *
 * @param {object} cart Shopify cart object,
 * @param {int} animation_row aos-animate counter,
 * @param {object} product Shopify product object,
 * @param {boolean} isPromoCampaign Check contain promo campaign,
 * @param {float} min_price Theme settings min price,
 * @param {string} sale_text to be display at cart level,
 * @param {string} promo_code Promo code for discount,
 * @param {float} discount Theme settings discount percentage,
 * @returns none
 */
runCampaign = (cart, animation_row, product, isPromoCampaign, min_price , sale_text, promo_code, discount) => {
  // Price checking
  var _now_price = parseFloat((cart.total_price/100)).toFixed(2);
  // Checking for now price is it larger than minimum price
  if (_now_price >= min_price) {
    // Minimum price checking from theme settings
    _gridProduct = addGWPCampaignProduct(animation_row, product, sale_text, promo_code,discount);

    if (isPromoCampaign) {
      // Promo campaign need to check sessionStorage if exist need to show cart-gwp-product
      $('#CartContainer .drawer__inner').append(_gridProduct);
      $('.gwp-'+promo_code).hide();
      $('.gwp-'+promo_code).attr('data-isadded', false);
    }
    else{
      $('#CartContainer .drawer__inner').append(_gridProduct);
      $('.gwp-'+promo_code).attr('data-isadded', true);
    }
  }
}
/**
 * GWP session storage checking, contain fillInputDiscountField function
 *
 * @param {string} promo_code Promo code from theme settings
 * @returns none
 */
checkSessionStorage = (promo_code) => {
  var checkPromo = sessionStorage.getItem('.gwp-'+promo_code);
  if (checkPromo == 'true') {
    $('.gwp-'+promo_code).show();
    $('.gwp-'+promo_code).attr('data-isadded', true);
    fillInputDiscountField(promo_code);
  }
}

/**
 * Disabled form submit request on user enter key
 *
 * @param {object} e Event object
 * @returns false
 */
formDisabledEnter = (e) =>{
  var keyCode = e.keyCode || e.which;
  if (keyCode === 13) {
    e.preventDefault();
    return false;
  }
}

/**
 * inputDiscountEnterKey enable enter key to perform click apply function
 *
 * @param {object} e Event object
 * @returns none
 */
inputDiscountEnterKey = (e) => {
  if (e.keyCode == 13) {
    $('.btn-apply').click();
  }
}

/**
 * addGWPCampaignProduct construct HTML for cart drawer
 *
 * @param {int} delay_counter animation counter for aos-animate class
 * @param {object} _Product Shopify product object
 * @param {string} sale_text Sale text to display
 * @param {string} promo promo code
 * @param {float} discount_per discount percentage
 * @returns none
 */
addGWPCampaignProduct = (delay_counter, _Product, sale_text, promo, discount_per) => {
  var _temp = "";
  // Variable for product info
  let productname = _Product.title;
  let imgsrc = _Product.featured_image;
  let vid = _Product.variants[0].id;
  let pricing = _Product.price - (_Product.price*(discount_per/100));

  _temp += `<div data-vid="${vid}" class="cart-gwp-product gwp-${promo} ajaxcart__product appear-animation appear-delay-${delay_counter}"><div class="ajaxcart__row shipping-padding">`;
  var _left = `<div class="grid"><div class="grid__item one-third"><a href="" class="ajaxcart__product-image"><img src="${imgsrc}" alt="${productname}"></a></div>`;
  var _right = `<div class="grid__item two-thirds"><div class="ajaxcart__product-name--wrapper"><a href="" class="ajaxcart__product-name">${productname}</a><span class="ajaxcart__product-meta">${sale_text}</span></div>`;

  _right += `<div class="grid grid--full display-table"><div class="grid__item display-table-cell one-half"><div class="ajaxcart__quantity js-qty"><label class="visually-hidden">Quantity</label><div>x1</div></div></div><div class="grid__item display-table-cell one-half text-right"><span class="ajaxcart__price money">${pricing}</span></div></div></div>`;
  _temp += _left + _right + "</div></div></div>";
  return _temp
}

/**
 * promoOpen open promo input field at cart drawer
 *
 * @returns none
 */
promoOpen = () => {
  $('.shippingPromo').hide();
  $('.field-discount').show();
}

/**
 * promoClose close promo input field at cart drawer
 *
 * @returns none
 */
promoClose = () => {
  $('.shippingPromo').show();
  $('.field-discount').hide();
}

/**
 * Remove promo code field including set sessionStorage to false
 * hide and show related element, set attribute readonly to false
 * @returns none
 */
removePromoCode = () => {
  var _v = $('.input-discount').val();
  $('.input-discount').attr('readonly', false);
  $('.input-discount').val('');
  $('.js-form-discount').val('');
  $('#update-button').show();
  $('#remove-button').hide();

  sessionStorage.setItem('.gwp-'+_v, false);
  $('.gwp-'+_v).hide();
  $(cart_remove).insertBefore('#CartDrawer #CartContainer');
  setTimeout(() => $('.alert').remove(), 4000);
}

/**
 * checkoutGWPItem
 * - Function perform adding the correct GWP item by checking data-isadded using Shopify ajax api
 * @returns none
 */
checkoutGWPItem = () => {
  var ajax_counter = 0;
  var _max = $('.cart-gwp-product').length;

  if (_max == 0) {
    setTimeout(() => $('button.cart__checkout').click(), 500);
  }
  else {
    $('.cart-gwp-product').each(function(){
      var $this =$(this);
      var _isadded = $this.attr('data-isadded');
      var _vid = $this.attr('data-vid');
      if (_isadded == "true") {
        $.ajax({
          url: '/cart/add.js',
          dataType: 'json',
          type: 'post',
          data: { id: _vid },
          success: function(lineItem) {
            ajax_counter++;
            if (ajax_counter == _max) {
              setTimeout(() => $('button.cart__checkout').click(), 500);
            }
          }
        });
      }
      else{
        ajax_counter++;
        if (ajax_counter == _max) {
          setTimeout(() => $('button.cart__checkout').click(), 500);
        }
      }
    })
  }

}

/**
 * discountInputField
 * - Function Validation for promo code input field
 * @returns none
 */
discountInputField = (e) => {
  var $this = $(e);
  var _val = $('.input-discount').val();
  _val = _val.toUpperCase();
  var _gwp = '.gwp-'+_val;
  var _isAdd = $(_gwp).attr('data-isadded');
  if ($(_gwp).length > 0 && _isAdd != 'true') {
    $(cart_success).insertBefore('#CartDrawer #CartContainer');
    $(_gwp).show();
    $(_gwp).attr('data-isadded', true);
    sessionStorage.setItem(_gwp, true);
    $('.discount-p').remove();
    // Fill in the input-discount to add Remove button and promocode
    fillInputDiscountField(_val);
    promoClose();
  }
  else{
    // Prompt input field text
    $('.discount-p').remove();
    $('<p style="font-size: 8px; color: red;" class="discount-p">This coupon code is not eligible for this order</p>').insertAfter($('.input-discount'));
  }
}

/**
 * fillInputDiscountField
 * - Function set promo code input field to show correct element
 * @returns none
 */
fillInputDiscountField = (val) => {
  $('.input-discount').attr('readonly', true);
  $('.input-discount').val(val);
  $('.js-form-discount').val(val);
  $('#remove-button').show();
  $('#update-button').hide();
  setTimeout(() => $('.alert').remove(), 4000);
}
