function loadStyle(url, callback){
	var style = document.createElement("link")
	style.rel="stylesheet";
	if (style.readyState){
		style.onreadystatechange = function(){
			if (style.readyState == "loaded" || style.readyState == "complete"){
				style.onreadystatechange = null;
				callback();
			}
		};
	} else {
		style.onload = function(){
			callback();
		};
	}
	style.href = url;
	document.getElementsByTagName("head")[0].appendChild(style);
}

function loadScript(url, callback){

    var script = document.createElement("script");
    script.type = "text/javascript";
		script.async = true;
    if (script.readyState){
        script.onreadystatechange = function(){
            if (script.readyState == "loaded" || script.readyState == "complete"){
                script.onreadystatechange = null;
                callback();
            }
        };
    } else {
        script.onload = function(){
            callback();
        };
    }
    script.src = url;
	document.body.appendChild(script);
}

	loadStyle("{{'theme.scss.css' | asset_url }}", function(){
	loadStyle("{{'jumpstart_desktop_styles.css' | asset_url }}", function(){});
	loadStyle("{{'jumpstart_styles_all.scss.css' | asset_url }}", function(){});
	});

	loadScript("{{'vendor.js' | asset_url }}", function(){
		if ({{settings.enable_currencies}}) {
			loadScript("/services/javascripts/currencies.js", function(){
				loadScript("{{'jquery.currencies.min.js' | asset_url }}", function(){
					loadScript("{{'theme.js' | asset_url }}", function(){
						loadScript("{{'jumpstart_reset_scripts.js' | asset_url }}", function(){
							loadScript("{{'jumpstart_gwpcampaign_scripts.js' | asset_url }}", function(){
								loadScript("//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js", function(){});
							});
						});
					});
				});
			});

		}
		else{
			loadScript("{{'theme.js' | asset_url }}", function(){
				loadScript("{{'jumpstart_reset_scripts.js' | asset_url }}", function(){
					loadScript("{{'jumpstart_gwpcampaign_scripts.js' | asset_url }}", function(){
						loadScript("//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js", function(){});
					});
				});
			});
		}
	});