.product-single__title{
  font-family: Sofia Pro Regular !important;
}
.product-single__description.rte{
  ul{
    list-style-image: url(//cdn.shopify.com/s/files/1/0248/0442/5803/files/checkmark.svg?9547)!important;
  }
  .type--link{
	color: #ff5a8c;
  }
}
.page-content .page-width{
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}
.slick-next{
  background: url(https://cdn.shopify.com/s/files/1/0248/0442/5803/files/arrowright-thin.svg?9797) center center no-repeat;
}
.slick-prev{
  background: url(https://cdn.shopify.com/s/files/1/0248/0442/5803/files/arrowleft-thin.svg?9797) center center no-repeat;
}
.slick-arrow{
  background-size: cover;
  &:before{
    content:none;
  }
}