{% section 'banner_image' %}
<div class="page-width page-content">

  {% include 'breadcrumbs' %}

	<div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-eighth">

      <header class="section-header">
        <h1 class="section-header__title faq-header-title">{{ page.title }}</h1>
      </header>

      <div class="rte rte--nomargin">
        {{ page.content }}
        {% section 'page_tab'%}
      </div>

    </div>
  </div>

</div>

{% section 'custom_page' %}

<style media="screen">
  body {
    background-color: #F5FAFB;
  }
  .background-media-text__text {
    padding: 0;
  }
</style>
