{% assign page_title = page.title | handle %}
<div class="page-width page-content">

  {% include 'breadcrumbs' %}

	<div class="grid {{page_title}}">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <header class="section-header">
        <h1 class="section-header__title mTitle">{{ page.title }}</h1>
      </header>

      <div class="rte rte--nomargin">
        {{ page.content }}
      </div>

    </div>
  </div>

</div>
